div.login.col-md-6
	div.container
    = form_for(:session, url: login_path) do |f|

		.form-group
			= hidden_field_tag :redirect, params[:redirect]
    	.form-group
			= f.text_field :login, :placeholder => 'Login', :class => "form-control"
		.form-group
			= f.password_field :password, :placeholder => 'Password', :class => "form-control"

		.form-group
			= f.submit "Log in", :class => "form-btn btn btn-primary"
