
- if @dealer.errors.any?
    #error_explanation
        h2 = "#{pluralize(@dealer.errors.count, "error")} prohibited this dealer from being saved:"
        ul
            - @dealer.errors.full_messages.each do |message|
                li = message


.form-group.checkbox
    label.control-label
        | Активный
        = f.check_box :active

.form-group
    = f.label "Имя"
    = f.text_field :name, {:class => "form-control"}
.form-group
    = f.label "Город"
    = f.text_field :city, {:class => "form-control"}
.form-group
    = f.label :email
    = f.text_field :email, {:class => "form-control"}
.form-group
    = f.label "Телефон"
    = f.text_field :phone, {:class => "form-control"}
.form-group
    = f.label "Адрес"
    = f.text_field :address, {:class => "form-control"}
.form-group
    = f.submit "Сохранить", {:class => "btn btn-primary"}
