h1 Дилеры

section.panel
    table.table.table-striped
        thead
            tr
              td Название
              td Город
              td Email
              td Телефон
              td Адрес
              td

        tbody
            - @dealers.each do |dealer|
                tr
                    td = dealer.name
                    td = dealer.city
                    td = dealer.email
                    td = dealer.phone
                    td = dealer.address
                    td
                        = link_to edit_admin_dealer_path(dealer) do

                            i.fa.fa-lg.fa-pencil

                        = link_to admin_dealer_path(dealer), data: {:confirm => 'Are you sure?'}, :method => :delete do
                            i.fa.fa-lg.fa-times

br
= link_to 'Создать дилера', new_admin_dealer_path, :class => "btn btn-default"
