
.main-page
  .container--blue
    padding-bottom 0
    background #fff
    background rgba(245,249,248,0.80)
    background-image linear-gradient(-223deg, rgba(255,255,255,0.00) 0%, rgba(59,175,129,0.18) 100%)
    background-image linear-gradient(-44deg, rgba(255,255,255,0.00) 0%, rgba(22,142,201,0.16) 100%)


  &__bg
    position relative

    & > *
      position relative
      z-index 5

    .layer
      position absolute
      top 0
      left 0
      right 0
      bottom 0

      // visibility hidden

      // background rgba(245,249,248,0.80)

      &:after
        content ''

        position absolute
        top 0
        left 0
        bottom 0
        right 0

        background-size cover


      &--1
        z-index 1
        display none

        &:after
          background url('/img/bubbles.png') top repeat-y

      &--2
        z-index 2
        display none

        &:after
          background url('/img/bubbles2.png') top repeat-y

      &--3
        z-index 3


        &:after
          background url('/img/bubbles3.png') top repeat-y

  .header
    height 82px


  &__headline
    position absolute
    top -22px
    left auto

    display block
    margin-bottom 5px

    font-size 17px
    line-height 1


  &__links
    position relative
    z-index 10

    container()
    padding-left 17%

    .main-factoid
      position absolute
      right 50px
      top 0

      z-index 11


  &__link
    position relative
    z-index 10

    display block

    font-size 58px
    line-height 96px


    .mp-link
      position relative

      display inline-block
      line-height 1

    a
      box-sizing content-box
      display inline-block

      padding 10px 0
      line-height 76px

      transition none
      border none

      background-image linear-gradient(rgba(5, 175, 110, 0.2), rgba(5, 175, 110, 0.2))
      background-size 1px 1px
      background-repeat repeat-x
      background-position 0% 75%

      &:hover
        background-image linear-gradient(rgba(187, 0, 0, 0.2), rgba(187, 0, 0, 0.2))

    &-before, &-after
      position absolute
      bottom 29px

      font-size 13px
      line-height 15px

      a
        display inline-block
        line-height 1
        padding 0

        color #000
        border-color rgba(0, 0, 0, .1)
        background-position 0% 90%

        &:hover
          color #b00
          border-color rgba(187, 0, 0, 0.2)

    &-before
      right 100%
      text-align right
      margin-right 3px

    &-after
      left 100%
      margin-left 3px

      text-align left


  &__product
    container()

    &-inner
      position relative
      width 73%
      margin-left 27%
      z-index 5

    img
      display block
      width 100%

    p
      position absolute
      right 0
      bottom 0
      text-align right
      padding-left 3.7%

    a
      display inline-block
      vertical-align baseline

      line-height 1


  .g-benefits
    padding-top 0
