.main-slide
  padding-top 50px
  padding-bottom 5px
  
  &__link
    position relative
    z-index 10
    
    display block
    width 67%
    
    font-size 58px
    line-height 0
    

    .mp-link
      position relative
      
      display inline-block
      line-height 0
    
    a 
      display inline
      line-height 1
      
      transition none
      border none
      
      background-image linear-gradient(rgba(5, 175, 110, 0.2), rgba(5, 175, 110, 0.2))
      background-size 1px 1px 
      background-repeat repeat-x
      background-position 0 80%
      
      &:hover
        background-image linear-gradient(rgba(187, 0, 0, 0.2), rgba(187, 0, 0, 0.2))