.main-links
  display flex
  flex-wrap wrap
  justify-content space-between
  
  &__col
    flex-shrink 0
    flex-grow 0
    padding-top 24px
    padding-right 20px 
    
    border-top 1px solid rgba(#000, .1)
     
    &--narrow
      width 45%
    
    &--wide
      width 55%
    
    &--full
      width 100%
      padding-top 19px
  

  &__name
    display block
    margin-bottom 8px
    
    line-height 1
  

  &__item
    font-size 17px
    line-height 24px
    
    &:not(:last-child)
      margin-bottom 9px
    
    a
      display inline-block
      line-height 1


.main-links__col--full
  display flex
  flex-wrap wrap
  align-items baseline
  margin-top 40px
  
  .main-links__item, .main-links__name
    flex-grow 0
    flex-wrap 0
    margin-right 16px
    
    white-space nowrap