.main-factoid
  background transparent
  
  display flex
  align-items center
  justify-content center
  padding 0 10px 0 22px
  size(180px)
  
  border-radius 180px
  border 1px solid $green
  
  transform rotate(15deg)
  noselection()
  
  cursor pointer
  
  &:hover
    cursor pointer
    border-color #b00
    
    .main-factoid__title, .main-factoid__annotation
      color #b00
      transition none
    
    
  &__title, &__annotation
    transition all .2s ease
  

  &__title
    display block
    margin-bottom 3px
    
    font-size 28px
    line-height 1
    font-weight 300
    
    color $green
  

  &__annotation
    display block
    
    font-size 13px
    line-height 16px
    
    color #000