.main-news
  padding 24px 14px
  
  background #fff
  border-radius 3px
  border-bottom 1px solid #dfdfdf
  

  &__title
    margin-bottom 9px
    
    font-size 17px
    line-height 1
    
    a
      display inline-block
      line-height 1
  

  &__item
    margin-bottom 11px
  

  &__name
    font-size 17px
    line-height 24px
    
    border 0
    
    background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQI12NgXZ9nDAADNQFWz2lKxAAAAABJRU5ErkJggg==')
    background-size 1px 1px
    background-repeat repeat-x
    background-position 0% 90%
    
    &:hover
      background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQI12PYzcBgDAADJADvZz7v/QAAAABJRU5ErkJggg==');
  

  &__meta
    display block
    margin-top 8px
    
    font-size 15px
    line-height 1
    
    color #99B6AF
  

  &__btn
    margin-top 32px
    
    text-align right
    
    a
      display inline-block
      padding 0 11px
      padding-top 6px
      padding-bottom 3px
      
      font-size 14px
      line-height 1

      border-radius 3px
      border 1px solid rgba(5, 175, 110, 0.2)
      
      &:hover
        border 1px solid rgba(187, 0, 0, 0.2)