.main-gallery
  margin-top 50px
  

  &__inner
    container()
    +below($max-width)
      padding-right 0
  
    
  &__title
    display block
    font-size 17px
    font-weight bold
    line-height 1
    
    a
      display inline-block

      line-height 1
  

  &__list
    display flex
    margin-top 12px
    
    overflow hidden
  

  &__item
    flex-grow 0
    flex-shrink 0
    height 55px
    
    border 0
    background-size cover

    &:nth-child(odd)
      background-color #dadfdd
    
    &:nth-child(even)
      background-color #d8d8d8
    
    &--narrow
      width 55px
    
    &--wide
      width 115px
    
