h1 Создать документ

= form_for @attachment, url: admin_product_attachments_path do |f|
	.form-group
		= label_tag "Название"
		= f.text_field :name, :class => "form-control"

	.form-group
		= label_tag "Файл"
		= f.file_field :file

		span.help-block Объем файла не должен превышать 10 мегабайт


	.form-group
		= label_tag "Группа"
		= f.text_field :group, :class => "form-control"

	.form-group
		= label_tag "Тип"
		= f.select :type, options_for_select(@attachment.types_list), {}, :class => "form-control"

	= f.submit "Создать", :class => "btn btn-primary"
