/* overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: #666;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  z-index: 997;
  display: none;
  cursor: pointer;
  background: #f1f7f6;
  opacity: 0.95;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
.popup {
  z-index: 998;
  position: fixed;
  height: 100%;
  overflow: scroll;
  left: 50%;
  display: none;
  left: 0;
  width: 100%;
  top: 0;
  min-width: 1000px;
}
.popup-wrap {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
.popup-close {
  top: 15px;
  right: 25px;
  position: absolute;
  height: 30px;
  width: 30px;
  text-align: center;
  cursor: pointer;
  font-size: 30px;
  line-height: 31px;
  -webkit-transform: rotateZ(0deg);
  -moz-transform: rotateZ(0deg);
  -ms-transform: rotateZ(0deg);
  -o-transform: rotateZ(0deg);
  transform: rotateZ(0deg);
  -o-transition: -o-trnasform 0.2s;
  -ms-transition: -ms-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
}
.popup-close:hover {
  -webkit-transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  -o-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
  -o-transition: -o-trnasform 0.2s;
  -ms-transition: -ms-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
}
.popup-title {
  padding: 15px 25px 10px 25px;
  position: absolute;
  right: 0;
  width: auto;
  left: 0;
  background: rgba(241, 247, 246, 0.95);
  max-width: 1200px;
  z-index: 4;
}
.popup-title:after {
  content: ' ';
  display: block;
  position: absolute;
  bottom: 0;
  left: 25px;
  right: 25px;
  background: rgba(0, 0, 0, 0.1);
  height: 1px;
  width: auto;
}
.popup-title .hd {
  font-family: 'Circe', sans-serif;
  font-size: 17px;
  line-height: 28px;
  font-weight: bold;
}
.popup-content {
  max-width: 1200px;
  padding: 90px 25px 30px 25px;
  z-index: 3;
}
.popup-content h2,
.popup-content .hdr {
  line-height: 36px;
  margin-bottom: 20px;
  font-size: 30px;
}
.popup-content h2 small,
.popup-content .hdr small {
  font-size: 15px;
  line-height: 15px;
}
.popup-content h2 small a,
.popup-content .hdr small a {
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *zoom: 1;
  *display: inline;
  margin-right: -4px;
  margin: 0;
  vertical-align: baseline;
}
.popup-content h2 small a:hover,
.popup-content .hdr small a:hover {
  transition: none;
}
.popup-self {
  margin: 0 auto;
  display: block;
  text-align: center;
  padding: 25px 0;
  position: relative;
  z-index: 6;
}
.popup-self img {
  border: 1px solid #f2f7f6;
  -webkit-box-shadow: 0 40px 110px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 40px 110px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 40px 110px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 40px 110px rgba(0, 0, 0, 0.2);
  box-shadow: 0 40px 110px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 5;
}
.popup-top {
  position: relative;
  z-index: 6;
  padding-right: 200px;
}
.popup.anim {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.2s;
  transition: transform 0.4s, opacity 0.2s;
  transition-timing-function: cubic-bezier(0.36, 0.76, 0.34, 1.07);
}
.popup.anim.ready {
  opacity: 0;
  -webkit-transform: translateY(120px);
  transform: translateY(120px);
  -webkit-transition: -webkit-transform 0s, opacity 0s;
  transition: transform 0s, opacity 0s;
}
.noscroll {
  overflow: hidden;
}
.popup-hide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  cursor: pointer;
  height: 100%;
  z-index: 1;
}
noindex {
  display: block;
}
.popup-frame {
  display: block;
  margin: 0 50px;
  position: relative;
  min-height: 100%;
  z-index: 8;
  background: #ffffff;
  padding: 20px 0 20px;
  -webkit-box-shadow: 0 40px 110px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 40px 110px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 40px 110px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 40px 110px rgba(0, 0, 0, 0.2);
  box-shadow: 0 40px 110px rgba(0, 0, 0, 0.2);
}
.popup-frame iframe {
  position: relative;
  display: block;
  height: 100%;
  border: 0;
  width: 100%;
}

/* popup gallery */

[data-gallery-popup], .photo-gallery {
	cursor: pointer;
}

.photo-gallery-image {
	position: relative;
	width:100%;
	height:auto;
}

#popup-gallery .popup-self {
	text-align: left;
	max-width:800px;
	margin:0 auto;
	
}

#popup-gallery .popup-title {
	position: fixed;
	max-width:1200px;
	left:0;
	right:0;
	margin:0 auto;
	top:0;
	z-index:55;
}

.gallery-item {
	position: relative;
	padding: 0 0 40px 0;
}

.photo-gallery-link {
	background: none;
	border-bottom:1px dashed #03b16e;
	border-bottom: 1px dashed rgba(5, 175, 110, 0.2);
	line-height:1.1em;
	display:inline-block;
	padding:0 2px;
}

.photo-gallery-link.active {
	background: #e4eeef;
	color:#000;
	cursor: default;
	border:0;
	padding:2px;
	border-radius: 2px;
}

.popup-hide {
	left: -10000px;
	width: auto;
	right:-10000px;
}

