@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe-Regular_gdi.eot');
  src: url('../fonts/Circe-Regular_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/Circe-Regular_gdi.woff') format('woff'), url('../fonts/Circe-Regular_gdi.ttf') format('truetype'), url('../fonts/Circe-Regular_gdi.otf') format('opentype'), url('../fonts/Circe-Regular_gdi.svg#Circe-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2666;
}
@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe-Light_gdi.eot');
  src: url('../fonts/Circe-Light_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/Circe-Light_gdi.woff') format('woff'), url('../fonts/Circe-Light_gdi.ttf') format('truetype'), url('../fonts/Circe-Light_gdi.otf') format('opentype'), url('../fonts/Circe-Light_gdi.svg#Circe-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2666;
}
@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe-Bold_gdi.eot');
  src: url('../fonts/Circe-Bold_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/Circe-Bold_gdi.woff') format('woff'), url('../fonts/Circe-Bold_gdi.ttf') format('truetype'), url('../fonts/Circe-Bold_gdi.otf') format('opentype'), url('../fonts/Circe-Bold_gdi.svg#Circe-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2666;
}
@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe-ExtraLight_gdi.eot');
  src: url('../fonts/Circe-ExtraLight_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/Circe-ExtraLight_gdi.woff') format('woff'), url('../fonts/Circe-ExtraLight_gdi.ttf') format('truetype'), url('../fonts/Circe-ExtraLight_gdi.otf') format('opentype'), url('../fonts/Circe-ExtraLight_gdi.svg#Circe-ExtraLight') format('svg');
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2666;
}

#oldversion {
position: absolute;
right: 20px;
top: 4px;
display: inline-block;
}

/* RESET */
html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
ol,
form,
input,
span,
img,
fieldset,
legend,
label,
a,
article,
aside,
audio,
canvas,
datalist,
details,
figure,
footer,
header,
hgroup,
mark,
menu,
meter,
nav,
output,
progress,
section,
time,
video,
blockquote {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  max-height: 999999px;
}
article,
aside,
audio,
canvas,
datalist,
details,
figure,
footer,
header,
hgroup,
mark,
menu,
meter,
nav,
output,
progress,
section,
time,
video {
  display: block;
}
html,
body {
  width: 100%;
  height: 100%;
  background: #fff;
  font-family: 'Circe', sans-serif;
  font-size: 17px;
  /*  line-height: @line-height; */
  -webkit-font-smoothing: antialiased;
}
input,
textarea {
  -webkit-font-smoothing: antialiased;
}
img {
  border: 0px;
}
ul,
nav {
  list-style: none;
}
/* Basics */
.italic {
  font-style: italic;
}
.bold {
  font-weight: bold;
}
.fl-left {
  float: left;
}
.fl-right {
  float: right;
}
.relative,
.rel {
  position: relative;
}
.absolute,
.abs {
  position: absolute;
}
.fixed,
.fxd {
  position: fixed;
}
.hidden {
  display: none;
}
.clear,
.clearfix {
  width: 100%;
  clear: both;
}
.pointer {
  cursor: pointer;
}
.default {
  cursor: default;
}
.buttonReset {
  outline: none;
  -webkit-tap-highlight-color: none;
  border: 0;
  background: none;
}
.adaptiveImage {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.smallcaps,
.smallcapitals {
  font-size: 0.875em;
  letter-spacing: 0.15em;
  margin-right: -0.15em;
}
.uper {
  text-transform: uppercase;
  letter-spacing: 1px;
}
.textCenter {
  display: block;
  text-align: center;
}
.positionCenter {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-width: 100%;
  max-height: auto;
  margin: auto;
}
.wholeSpace {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.after,
.before {
  content: ' ';
  display: block;
  position: absolute;
}
.i-block,
.iblock {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *zoom: 1;
  *display: inline;
  margin-right: -4px;
}
.i-block-mid,
.iblockmid {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *zoom: 1;
  *display: inline;
  margin-right: -4px;
}
a {
  -o-transition: color 0.2s, border-color 0.2s, background-color 0.2s, box-shadow 0.2s;
  -ms-transition: color 0.2s, border-color 0.2s, background-color 0.2s, box-shadow 0.2s;
  -moz-transition: color 0.2s, border-color 0.2s, background-color 0.2s, box-shadow 0.2s;
  -webkit-transition: color 0.2s, border-color 0.2s, background-color 0.2s, box-shadow 0.2s;
  transition: color 0.2s, border-color 0.2s, background-color 0.2s, box-shadow 0.2s;
  color: #03b16e;
  border-bottom: 1px solid rgba(5, 175, 110, 0.2);
  text-decoration: none;
}
a.black {
  color: #000000;
  border-color: rgba(0, 0, 0, 0.1);
}
a.black:hover {
  color: #bb0000;
  border-bottom-color: rgba(187, 0, 0, 0.2);
}
a:hover {
  transition: none;
  color: #bb0000;
  border-bottom-color: rgba(187, 0, 0, 0.2);
}
a.dashed {
  border-bottom-style: dashed;
}
a.likeShadow,
.likeShadow {
  -webkit-box-shadow: 0 -1px 0 rgba(5, 175, 110, 0.2) inset;
  -moz-box-shadow: 0 -1px 0 rgba(5, 175, 110, 0.2) inset;
  -ms-box-shadow: 0 -1px 0 rgba(5, 175, 110, 0.2) inset;
  -o-box-shadow: 0 -1px 0 rgba(5, 175, 110, 0.2) inset;
  box-shadow: 0 -1px 0 rgba(5, 175, 110, 0.2) inset;
  border: 0;
}
a.likeShadow:hover,
.likeShadow:hover {
  -webkit-box-shadow: 0 -1px 0 rgba(187, 0, 0, 0.2) inset;
  -moz-box-shadow: 0 -1px 0 rgba(187, 0, 0, 0.2) inset;
  -ms-box-shadow: 0 -1px 0 rgba(187, 0, 0, 0.2) inset;
  -o-box-shadow: 0 -1px 0 rgba(187, 0, 0, 0.2) inset;
  box-shadow: 0 -1px 0 rgba(187, 0, 0, 0.2) inset;
  border: 0;
}
h1 {
  font-family: 'Circe', sans-serif;
  font-size: 56px;
  line-height: 42px;
}
h2 {
  font-family: 'Circe', sans-serif;
  /* font-size: 24px; line-height:30px; */
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
}
h3 {
  font-family: 'Circe', sans-serif;
  font-size: 17px;
  line-height: 28px;
}
button {
  outline: none;
  -webkit-tap-highlight-color: none;
  border: 0;
  background: none;
}
.button {
  background: #34b972;
  background: -moz-linear-gradient(top, #34b972 0%, #3cc384 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #34b972), color-stop(100%, #3cc384));
  background: -webkit-linear-gradient(top, #34b972 0%, #3cc384 100%);
  background: -o-linear-gradient(top, #34b972 0%, #3cc384 100%);
  background: -ms-linear-gradient(top, #34b972 0%, #3cc384 100%);
  background: linear-gradient(to bottom, #34b972 0%, #3cc384 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#34b972', endColorstr='#3cc384', GradientType=0);
 border-bottom: 1px solid rgba(78, 142, 25, 0.55);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: #ffffff;
  padding: 2px 10px 1px 10px;
}
.button:hover {
  background: #30a968;
  background: -moz-linear-gradient(top, #32aa69 0%, #37af78 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #32aa69), color-stop(100%, #37af78));
  background: -webkit-linear-gradient(top, #32aa69 0%, #37af78 100%);
  background: -o-linear-gradient(top, #32aa69 0%, #37af78 100%);
  background: -ms-linear-gradient(top, #32aa69 0%, #37af78 100%);
  background: linear-gradient(to bottom, #32aa69 0%, #37af78 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#30a968', endColorstr='#37ae76', GradientType=0);
  color: #ffffff;
}
.button:active {
  background: #34b972;
  background: -moz-linear-gradient(top, #34b972 0%, #3cc384 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #34b972), color-stop(100%, #3cc384));
  background: -webkit-linear-gradient(top, #34b972 0%, #3cc384 100%);
  background: -o-linear-gradient(top, #34b972 0%, #3cc384 100%);
  background: -ms-linear-gradient(top, #34b972 0%, #3cc384 100%);
  background: linear-gradient(to bottom, #34b972 0%, #3cc384 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#34b972', endColorstr='#3cc384', GradientType=0);
  border-bottom-color: #3cc384;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -o-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
/* Mixins */
.selectNone {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.trn {
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.trnopacity {
  -o-transition: opactity 0.3s;
  -ms-transition: opactity 0.3s;
  -moz-transition: opactity 0.3s;
  -webkit-transition: opactity 0.3s;
  transition: opactity 0.3s;
}
/* Grids and main page */
#all {
  width: 100%;
  min-height: 100%;
  height: auto;
  position: relative;
  min-width: 1000px;
}
#wrap {
  height: auto;
  min-height: 100%;
  position: relative;
  padding-bottom: 95px;
}
footer {
  clear: both;
  height: 95px;
  margin-top: -95px;
  width: 100%;
  position: relative;
}
.inside {
  position: relative;
  margin: 0 auto;
  padding: 0 25px;
  max-width: 1200px;
  max-width: 1230px;

  /* new */
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  max-width: 1285px;
  padding: 0 25px;
}
/* columns and grid */
.cols {
  position: relative;
}
.col {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *zoom: 1;
  *display: inline;
  margin-right: -4px;
}
.col--33 {
  width: 33%;
}
.col--50 {
  width: 50%;
}
.col--66 {
  width: 66%;
}
.col--25 {
  width: 25%;
}
.col--75 {
  width: 75%;
}
.col--20 {
  width: 20%;
}
.header {
  height: 132px;
  position: relative;
}
.footer {
  position: relative;
  background: #ffffff;
}
.footer a {
  display: inline-block;
  line-height: 0.95em;
}
.footer-wrap {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 16px;
  position: relative;
  margin: 0 26px;
}
.footer-left {
  font-size: 13px;
  line-height: 16px;
  position: absolute;
  left: 0;
  top: 16px;
}
.footer-company {
  position: absolute;
  font-size: 13px;
  line-height: 16px;
  top: 16px;
  right: 250px;
  width: 200px;
}
.footer-company a {
  margin-left: 17px;
}
.footer-contacts {
  position: absolute;
  width: 250px;
  right: -2px;
  top: 21px;
  font-size: 13px;
  line-height: 16px;
}
.footer-contacts .big {
  font-size: 30px;
  font-weight: 300;
  display: block;
  line-height: 30px;
  margin: -7px 0 -18px;
}
.footer-contacts a.big,
.footer-contacts a .big,
.footer-contacts .big a {
  font-size: 30px;
  font-weight: 300;
  color: #000000;
  border: 0;
  display: block;
  line-height: 30px;
  margin: -7px 0 -18px;
}
.footer-contacts a {
  margin-left: 16px;
  margin-top: 8px;
}
/* logo */
.logo {
  position: absolute;
  left: 20px;
  top: 25px;
}
.logo a {
  border: 0;
}
.logo-img {
  position: relative;
}
/* main menu */
.mainmenu {
  position: absolute;
  left: 168px;
  top: 57px;
  font-size: 15px;
  width: auto;
  right: 10px;
}
.mainmenu-item {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *zoom: 1;
  *display: inline;
  margin-right: -4px;
  margin-right: 14px;
}
.mainmenu-item--wideScreen {
  display: none;
}
.active + .mainmenu-item {
  margin-left: -10px;
}
.mainmenu-link {
  border: 0;
}
.mainmenu-link span {
  border-bottom: 1px solid rgba(5, 175, 110, 0.2);
  height: 18px;
  display: inline-block;
  -o-transition: border-color 0.2s;
  -ms-transition: border-color 0.2s;
  -moz-transition: border-color 0.2s;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
}
.mainmenu-link.active,
.mainmenu-link.active:hover {
  color: #000000;
  background: #f2f7f6;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  z-index: 5;
  padding: 1px 0px 1px 10px;
  margin: -1px 0 -1px -10px;
}
.mainmenu-link.active span,
.mainmenu-link.active:hover span {
  border-bottom-color: rgba(0, 0, 0, 0.1);
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *zoom: 1;
  *display: inline;
  margin-right: -4px;
  margin: 0;
  margin-right: 10px;
}
.mainmenu-link:hover span {
  border-bottom-color: rgba(187, 0, 0, 0.2);
  transition: none;
}
.header-contacts {
  position: absolute;
  top: 10px;
  right: 25px;
  text-align: right;
}
.contacts-menu,
.contacts-tel {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *zoom: 1;
  *display: inline;
  margin-right: -4px;
  margin-left: 6px;
}
.contacts-tel {
  font-size: 14px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2px 13px 0 11px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  line-height: 20px;
  color: #000000;
  margin-top: 1px;
}
.contacts-tel:hover {
  color: #bb0000;
  border-color: rgba(187, 0, 0, 0.2);
}
.contacts-menu {
  font-size: 14px;
  padding-top: 7px;
  padding-right: 22px;
}
.hc-link {
  color: #000000;
  border-color: rgba(0, 0, 0, 0.1);
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *zoom: 1;
  *display: inline;
  margin-right: -4px;
  margin-left: 21px;
  line-height: 1em;
}
/* main info */
.mainInfo {
  position: relative;
}
.mainInfo-wrap {
  background: #f2f7f6;
  padding: 3px 28px /* 75px */ 0;
  background: -moz-linear-gradient(left, #f0f6f5 0%, #f6faf9 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #f0f6f5), color-stop(100%, #f6faf9));
  background: -webkit-linear-gradient(left, #f0f6f5 0%, #f6faf9 100%);
  background: -o-linear-gradient(left, #f0f6f5 0%, #f6faf9 100%);
  background: -ms-linear-gradient(left, #f0f6f5 0%, #f6faf9 100%);
  background: linear-gradient(to right, #f0f6f5 0%, #f6faf9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f6f5', endColorstr='#f6faf9', GradientType=1);
}
.mainInfo-title {
  position: relative;
  padding: 50px 0 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.mainInfo-delivery {
  position: absolute;
  right: -11px;
  top: 24px;
  font-size: 15px;
  line-height: 18px;
  width: 240px;
}
.mainInfo-nav {
  position: relative;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 9px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.mainInfo-item {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *zoom: 1;
  *display: inline;
  margin-right: -4px;
  position: relative;
  margin-right: 12px;
}
.mainInfo-link {
  display: inline-block;
  line-height: 1em;
  border-bottom-style: dashed;
  border-bottom-color: rgba(5, 175, 110, 0.35);
}
.mainInfo-link.active {
  color: #000000;
  border-bottom: 0;
  cursor: pointer;
}
.mainInfo-button {
  border: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 20px;
  color: #000000;
  position: absolute;
  top: 7px;
  right: 0;
  padding: 2px 12px 1px 14px;
  font-size: 14px;
  border: 1px solid rgba(3, 177, 110, 0.34);
  padding: 2px 13px 0 11px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  line-height: 22px;
  color: #03b16e;
  margin-top: 1px;
}
.mainInfo-button:hover {
  color: #bb0000;
  border-color: rgba(187, 0, 0, 0.2);
}
.mainInfo-picture {
  text-align: center;
  padding-top: 15px;
}
.mainInfo-picture img {
  width: 100%;
  height: auto;
}
.fxdmenu .mainInfo-nav,
.absmenu .mainInfo-nav {
  border: 0;
  padding-bottom: 5px;
}
.mainInfo .col {
  font-size: 15px;
  line-height: 20px;
  padding-top: 2px;
}
.mainInfo .col strong {
  display: block;
}
.mainInfo .col--1 {
  width: 28.7%;
  max-width: 250px;
}
.mainInfo .col--1 p,
.mainInfo .col--1 .big {
  display: block;
}
.mainInfo .col--1 .big {
  font-size: 42px;
  line-height: 46px;
  padding-bottom: 10px;
}
.mainInfo .col--1 a {
  line-height: 15px;
  border-bottom-style: dashed;
  display: inline-block;
}
.mainInfo .col--2 {
  width: 25%;
  /* padding-right:3%; */
  padding-right: 30px;
  max-width: 225px;
}
.mainInfo .col--3 {
  width: 22%;
  max-width: 200px;
  /* padding-right:2.5%; */
  padding-right: 30px;
}
.mainInfo .col--4 {
  position: absolute;
  left: 80%;
}
.mainInfo .col--1 {
  position: absolute;
  right: 100px;
}
.mainInfo .gost {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *zoom: 1;
  *display: inline;
  margin-right: -4px;
  margin: 0;
  padding: 0px 15px 0;
  font-size: 24px;
  height: 30px;
  line-height: 34px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
@media (max-width: 1040px) {
  .mainInfo .col--4 {
    left: 746px;
  }
}
.gost-link {
  border: 0;
  color: #000000;
}
.gost-link:hover {
  color: #bb0000;
}
.gost-link:hover .gost {
  border-color: rgba(187, 0, 0, 0.2);
}
.standard {
  position: absolute;
  bottom: 0;
  left: 99%;
  min-width: 200px;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0.15em;
}
.standard sup {
  font-size: 13px;
  letter-spacing: 0;
  margin-left: -10px;
}
/* content */
.content {
  position: relative;
  padding-top: 10px;
  font-size: 17px;
  line-height: 24px;
}
.content .clear {
  position: relative;
}
.content .cols {
  padding: 0 28px;
}
.content .col--1 {
  width: 63%;
  float: left;
  display: block;
  margin: auto;
}
.content .col--1 ul a.ordinary-link {
  -webkit-box-shadow: 0 -1px 0 rgba(5, 175, 110, 0.2) inset;
  -moz-box-shadow: 0 -1px 0 rgba(5, 175, 110, 0.2) inset;
  -ms-box-shadow: 0 -1px 0 rgba(5, 175, 110, 0.2) inset;
  -o-box-shadow: 0 -1px 0 rgba(5, 175, 110, 0.2) inset;
  box-shadow: 0 -1px 0 rgba(5, 175, 110, 0.2) inset;
  border: 0;
}
.content .col--1 ul a.ordinary-link:hover {
  -webkit-box-shadow: 0 -1px 0 rgba(187, 0, 0, 0.2) inset;
  -moz-box-shadow: 0 -1px 0 rgba(187, 0, 0, 0.2) inset;
  -ms-box-shadow: 0 -1px 0 rgba(187, 0, 0, 0.2) inset;
  -o-box-shadow: 0 -1px 0 rgba(187, 0, 0, 0.2) inset;
  box-shadow: 0 -1px 0 rgba(187, 0, 0, 0.2) inset;
  border: 0;
}
.content .col--1 ul a.dashed-link {
  border: 0;
  background: -webkit-linear-gradient(left, rgba(5, 175, 110, 0.2), rgba(5, 175, 110, 0.2) 60%, transparent 60%);
  background: -moz-linear-gradient(left, rgba(5, 175, 110, 0.2), rgba(5, 175, 110, 0.2) 60%, transparent 60%);
  background: -ms-linear-gradient(left, rgba(5, 175, 110, 0.2), rgba(5, 175, 110, 0.2) 60%, transparent 60%);
  background: -o-linear-gradient(left, rgba(5, 175, 110, 0.2), rgba(5, 175, 110, 0.2) 60%, transparent 60%);
  background: linear-gradient(left, rgba(5, 175, 110, 0.2), rgba(5, 175, 110, 0.2) 60%, transparent 60%);
  background-size: 6px 1px;
  background-position: 0 90%;
  background-repeat: repeat-x;
}
.content .col--1 ul a.dashed-link:hover {
  background: -webkit-linear-gradient(left, rgba(187, 0, 0, 0.2), rgba(187, 0, 0, 0.2) 60%, transparent 60%);
  background: -moz-linear-gradient(left, rgba(187, 0, 0, 0.2), rgba(187, 0, 0, 0.2) 60%, transparent 60%);
  background: -ms-linear-gradient(left, rgba(187, 0, 0, 0.2), rgba(187, 0, 0, 0.2) 60%, transparent 60%);
  background: -o-linear-gradient(left, rgba(187, 0, 0, 0.2), rgba(187, 0, 0, 0.2) 60%, transparent 60%);
  background: linear-gradient(left, rgba(187, 0, 0, 0.2), rgba(187, 0, 0, 0.2) 60%, transparent 60%);
  background-size: 6px 1px;
  background-position: 0 90%;
  background-repeat: repeat-x;
}
.content .col--2 {
  width: 32%;
  float: left;
  display: block;
  margin: auto;
  /* padding: 45px 0 0 8%; */
  box-sizing: border-box;
}
.content .col--2 p {
  font-size: 15px;
}
.content .col--2 .aside {
  padding: 45px 0 0;
  margin-right: 20%;
}
.content p {
  margin-bottom: 12px;
}
.content p a {
  line-height: 1em;
  display: inline-block;
}
.content ul {
  margin-bottom: 22px;
  /* padding-left:25px; */
  margin-top: -10px;
  max-width: 560px;
}
.content li {
  margin-bottom: 12px;
}
.content h2 {
  margin-top: 40px;
  margin-bottom: 7px;
}
.ff .content {
  display: table;
  width: 100%;
}
.content-info {
  min-height: 100%;
}
.content-info h2 {
  margin-bottom: 12px;
}
.compare {
  padding: 18px 0 0 0;
}
.compare-picture {
	padding-left: 25px;
	padding-right: 25px;
	margin: 0 -25px;
	min-height: 290px;
	padding-top: 22px;
	padding-bottom: 30px;
/*	border-bottom: 1px solid #e5e5e5;*/
}
.compare-imgContainer {
/*
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *zoom: 1;
  *display: inline;
  margin-right: -4px;
*/
	display:block;
  width: 340px;
  text-align: center;
  height: 202px;
  line-height: 202px;
}
.compare-imgContainer img {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *zoom: 1;
  *display: inline;
  margin-right: -4px;
  vertical-align: middle;
  margin: 0;
  max-width: 100%;
  height: auto;
}
.compare-imgContainer .files {
  line-height: 20px;
}
.compare-tbl {
  position: relative;
  font-size: 15px;
  line-height: 20px;
}
.compare-header {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 12px;
  position: relative;
  background: #fafbf5;
  margin: 0 -20px;
  padding: 5px 20px 14px 20px;
}
.compare-header strong {
  font-size: 17px;
}
.compare-body {
  position: relative;
}
.compare-left {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *zoom: 1;
  *display: inline;
  margin-right: -4px;
  width: 33%;
  width: auto;
  font-size: 15px;
}
.compare-right {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *zoom: 1;
  *display: inline;
  margin-right: -4px;
  width: 66%;
  font-size: 15px;
}
.compare-item {
  padding-top: 15px;
}
.compare--2 .compare-left.auto {
  width: auto;
  margin-right: 20px;
  margin-top: -3px;
}
.compare--3 .compare-left.auto {
  margin-top: -3px;
}
.compare--3 .compare-header {
  border-top: 1px solid #e5e5e5;
  padding: 13px 20px 5px 20px;
  background: #ffffff;
}
.toggle-link {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *zoom: 1;
  *display: inline;
  margin-right: -4px;
  line-height: 0.95em;
  margin: 0;
  padding: 0 8px 0 7px;
  border: 0;
  transition: none;
}
.toggle-link span {
  border-bottom: 1px dashed rgba(5, 175, 110, 0.2);
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *zoom: 1;
  *display: inline;
  margin-right: -4px;
  line-height: 1em;
  margin: 0;
}
.toggle-link:hover span {
  border-color: rgba(187, 0, 0, 0.2);
}
.toggle-link:nth-child(2n-1) {
  /*
		margin-right:11px;
		&.active {margin-right:5px;}
*/
}
.toggle-link.active {
  background: #f2f7f6;
  padding: 2px 6px 0 6px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 0;
  line-height: normal;
  margin: -6px 2px -6px 1px;
  color: #000000;
}
.toggle-link.active span {
  border: 0;
  padding: 0;
  margin: 0;
  margin-top: 4px;
}
.toggle-link:first-child {
  margin-left: -7px;
}
.toggle-link:first-child.active {
  margin-left: -6px;
}
.compare-fact {
  font-size: 13px;
  line-height: 16px;
  position: absolute;
  top: 15px;
  width: 245px;
  right: 0;
}
.compare-fact p {
  max-width: 175px;
  display: block;
}
.fact-number {
  font-weight: 100;
  font-size: 62px;
  color: #03b16e;
  position: absolute;
  right: -10px;
  top: 0;
  width: 80px;
  line-height: 60px;
}
.fact-number span {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *zoom: 1;
  *display: inline;
  margin-right: -4px;
  margin: 0;
}
.fact-number .arrow {
  margin-top: -9px;
}
/* last block */
.howWeWork {
  position: relative;
  padding-top: 25px;
  font-size: 15px;
  line-height: 19px;
  padding-bottom: 56px;
  background: #ffffff;
}
.howWeWork .cols {
  position: relative;
  padding: 0 28px;
}
.howWeWork .col--1 {
  width: 24%;
  padding-right: 2%;
}
.howWeWork .col--2 {
  width: 25%;
  padding-right: 2%;
}
.howWeWork .col--3 {
  width: 24%;
  padding-right: 2%;
}
.howWeWork .col--4 {
  width: 16%;
  padding-left: 4.5%;
  font-size: 13px;
  line-height: 16px;
}
.howWeWork p {
  margin-bottom: 5px;
}
.howWeWork .big {
  font-size: 30px;
  line-height: 28px;
  padding-bottom: 4px;
  font-weight: 300;
  color: #03b16e;
}
.howWeWork a {
  margin: 0;
  line-height: 1em;
  -webkit-box-shadow: 0 -1px 0 rgba(5, 175, 110, 0.2) inset;
  -moz-box-shadow: 0 -1px 0 rgba(5, 175, 110, 0.2) inset;
  -ms-box-shadow: 0 -1px 0 rgba(5, 175, 110, 0.2) inset;
  -o-box-shadow: 0 -1px 0 rgba(5, 175, 110, 0.2) inset;
  box-shadow: 0 -1px 0 rgba(5, 175, 110, 0.2) inset;
  border: 0;
}
.howWeWork a:hover {
  -webkit-box-shadow: 0 -1px 0 rgba(187, 0, 0, 0.2) inset;
  -moz-box-shadow: 0 -1px 0 rgba(187, 0, 0, 0.2) inset;
  -ms-box-shadow: 0 -1px 0 rgba(187, 0, 0, 0.2) inset;
  -o-box-shadow: 0 -1px 0 rgba(187, 0, 0, 0.2) inset;
  box-shadow: 0 -1px 0 rgba(187, 0, 0, 0.2) inset;
  border: 0;
}
/* modules */
.content ul.modules {
  padding: 0;
  margin-top: -10px;
  display: block;
  position: relative;
}
.modules {
  position: relative;
  font-size: 15px;
  line-height: 18px;
}
.modules h2,
.modules .hdr {
  font-weight: bold;
  margin: 0;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 6px;
  margin-top: 4px;
  margin-bottom: -2px;
}
.modules small {
  color: #99b6af;
  line-height: 16px;
  display: block;
  padding-top: 4px;
}
.modules a {
  border-bottom-style: dashed;
  border-bottom-color: rgba(5, 175, 110, 0.35);
  margin: 0;
  border: 0;
  background: -webkit-linear-gradient(left, rgba(5, 175, 110, 0.2), rgba(5, 175, 110, 0.2) 60%, transparent 60%);
  background: -moz-linear-gradient(left, rgba(5, 175, 110, 0.2), rgba(5, 175, 110, 0.2) 60%, transparent 60%);
  background: -ms-linear-gradient(left, rgba(5, 175, 110, 0.2), rgba(5, 175, 110, 0.2) 60%, transparent 60%);
  background: -o-linear-gradient(left, rgba(5, 175, 110, 0.2), rgba(5, 175, 110, 0.2) 60%, transparent 60%);
  background: linear-gradient(left, rgba(5, 175, 110, 0.2), rgba(5, 175, 110, 0.2) 60%, transparent 60%);
  background-size: 6px 1px;
  background-position: 0 90%;
  background-repeat: repeat-x;
}
.modules a:hover {
  background: -webkit-linear-gradient(left, rgba(187, 0, 0, 0.2), rgba(187, 0, 0, 0.2) 60%, transparent 60%);
  background: -moz-linear-gradient(left, rgba(187, 0, 0, 0.2), rgba(187, 0, 0, 0.2) 60%, transparent 60%);
  background: -ms-linear-gradient(left, rgba(187, 0, 0, 0.2), rgba(187, 0, 0, 0.2) 60%, transparent 60%);
  background: -o-linear-gradient(left, rgba(187, 0, 0, 0.2), rgba(187, 0, 0, 0.2) 60%, transparent 60%);
  background: linear-gradient(left, rgba(187, 0, 0, 0.2), rgba(187, 0, 0, 0.2) 60%, transparent 60%);
  background-size: 6px 1px;
  background-position: 0 90%;
  background-repeat: repeat-x;
}
.modules p {
  margin: 0;
  margin-top: 2px;
}
.module {
  padding: 7px 15px 4px 0;
  margin-top: 0px;
  /* border-right:1px solid #eff4f3; border-right-color:rgba(0,0,0,0.05);  */
  cursor: pointer;
  background: #f9f9f9;
  border-bottom: 1px solid #dfdfdf;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  -ms-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
  position: relative;
}
.module:hover {
  border-left-color: rgba(187, 0, 0, 0.2);
}
.module:hover a {
  color: #bb0000;
  background: -webkit-linear-gradient(left, rgba(187, 0, 0, 0.2), rgba(187, 0, 0, 0.2) 60%, transparent 60%);
  background: -moz-linear-gradient(left, rgba(187, 0, 0, 0.2), rgba(187, 0, 0, 0.2) 60%, transparent 60%);
  background: -ms-linear-gradient(left, rgba(187, 0, 0, 0.2), rgba(187, 0, 0, 0.2) 60%, transparent 60%);
  background: -o-linear-gradient(left, rgba(187, 0, 0, 0.2), rgba(187, 0, 0, 0.2) 60%, transparent 60%);
  background: linear-gradient(left, rgba(187, 0, 0, 0.2), rgba(187, 0, 0, 0.2) 60%, transparent 60%);
  background-size: 6px 1px;
  background-position: 0 90%;
  background-repeat: repeat-x;
}
.module.hvrd:after {
  display: block;
}
.gr .module {
  background: #ebefee;
  background: #edf2f0;
  border-bottom: 1px solid #d2d6d5;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  -ms-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
}
.gr .module:hover {
  background: #ffffff;
}
.gr .module.active {
  background: #ffffff;
  position: relative;
  transition: none;
  -webkit-transition: none;
}
.gr .module.active:after {
  display: block;
}
.gr .module.active a {
  color: #bb0000;
  background: -webkit-linear-gradient(left, rgba(187, 0, 0, 0.2), rgba(187, 0, 0, 0.2) 60%, transparent 60%);
  background: -moz-linear-gradient(left, rgba(187, 0, 0, 0.2), rgba(187, 0, 0, 0.2) 60%, transparent 60%);
  background: -ms-linear-gradient(left, rgba(187, 0, 0, 0.2), rgba(187, 0, 0, 0.2) 60%, transparent 60%);
  background: -o-linear-gradient(left, rgba(187, 0, 0, 0.2), rgba(187, 0, 0, 0.2) 60%, transparent 60%);
  background: linear-gradient(left, rgba(187, 0, 0, 0.2), rgba(187, 0, 0, 0.2) 60%, transparent 60%);
  background-size: 6px 1px;
  background-position: 0 90%;
  background-repeat: repeat-x;
}
.no.gr .module.active {
  background: none;
}
.no.gr .module.active:after {
  display: none;
}
.hvrd-exist .module.active:after {
  display: none;
}
.module-group {
padding-bottom: 1px;
margin-bottom: -2px;
border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.modules-titleImage {
  position: relative;
  width: 90%;
  height: auto;
  margin-bottom: 15px;
}
.module {
  border-right-color: transparent;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 12px;
  margin-bottom: 0px;
}
/* qlist */
.qlist {
 position: relative;
	padding-top: 30px;
	background: #ffffff;
	margin-top: 30px;
	/* background: @bgGreen;  */
	border-top: 1px solid #dae6e3;
}
.qlist a {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *zoom: 1;
  *display: inline;
  margin-right: -4px;
  margin: 0;
  line-height: 0.95em;
  margin-top: 2px;
}
.qlist h2,
.qlist .hdr {
  font-size: 17px;
  line-height: 19px;
  font-weight: normal;
}
.qlist-wrap {
  padding: 40px 28px 0 28px;
  text-align: center;
}
.qlist-picture {
  line-height: 0;
  padding-top: 15px;
  cursor: pointer;
}
.qlist-picture img {
  width: 62%;
  height: auto;
  max-width: 900px;
}
.qlist-form {
  position: relative;
  padding: 0 28px 5px;
}
.qlist-form h2,
.qlist-form .hdr {
  font-family: 'Circe', sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  padding-bottom: 10px;
}
.qlist-form .contacts {
  font-size: 15px;
  line-height: 16px;
  font-weight: normal;
  position: absolute;
  top: 9px;
  right: 28px;
}
.qlist-form .contacts a {
  line-height: 0.9em;
}
.qlist-form .form-link {
  top: 11px;
  border-bottom-color: rgba(5, 175, 110, 0.35);
  margin-right: 14px;
}
.qlist-form .form-link:hover,
.qlist-form .form-link.hvrd {
  border-color: rgba(187, 0, 0, 0.2);
}
a.qlist-bind.hvrd {
  color: #bb0000;
  border-color: rgba(187, 0, 0, 0.2);
}
.qlist-picture.qlist-bind img {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -o-transition: -o-trnasform 0.2s;
  -ms-transition: -ms-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
}
.qlist-picture.qlist-bind.hvrd img {
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  transform: translateY(-5px);
  -o-transition: -o-trnasform 0.2s;
  -ms-transition: -ms-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
}
/* complex */
.complex-container {
  position: relative;
  left: 5%;
  float: left;
}
.complex-dot {
  /* background: #42bc87; */
  background: #bb0000;
  width: 4px;
  height: 4px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  opacity: 0;
}
.gr .complex-dot.active {
  opacity: 1;
}
.gr .complex-dot.hvrd {
  opacity: 1;
}
.no .complex-dot {
  opacity: 0 !important;
}
.complex-anchors {
  position: relative;
}
/* nav */
.nav-anchor {
  position: relative;
  width: 1px;
  height: 1px;
  display: block;
  opacity: 0;
  visibility: hidden;
}
.files {
  position: absolute;
  text-align: right;
  top: 10px;
  right: 10px;
  font-size: 12px;
}
.files a {
  color: #ffffff;
  border: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 2px;
  margin-left: 5px;
  padding: 5px 5px 0px 6px;
  height: 15px;
  display: inline-block;
}
.files a span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  line-height: 1em;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *zoom: 1;
  *display: inline;
  margin-right: -4px;
  margin: 0;
}
.files a[href="#"] {
  opacity: 0.2;
}
.files a:hover span {
	border-bottom:1px solid #fff;
}
.pdf {
  background: #cd1a1b;
}
.pdf:hover {
  opacity: 1;
}
.dfg, .dwg {
  background: #819ebe;
}
.dfg:hover, .dwg:hover {
  opacity: 1;
}
.title {
  position: relative;
  display: block;
  text-align: center;
  padding: 40px 0 40px;
}
.title h1 {
  font-size: 69px;
  padding-bottom: 18px;
}
/* plugins and scripts */
.sticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0;
}
.sticky:before,
.sticky:after {
  content: '';
  display: table;
}
.col--2.sticky {
  top: 25px;
}
.fxdmenu {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	background: rgba(242, 247, 246, 0.98);
	z-index: 855;
	/* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
	display: none;
}
.fxdmenu .inside {
  padding: 0 53px 5px;
  /*max-width: 1145px;*/
}
.absmenu {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.95);
  z-index: 855;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: none;
}
.absmenu .inside {
  padding: 0 53px 5px;
  max-width: 1145px;
}
svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 777;
}
.bottomGrad {
  background: -moz-linear-gradient(top, rgba(242, 247, 246, 0) 0%, #f2f7f6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(242, 247, 246, 0)), color-stop(100%, #f2f7f6));
  background: -webkit-linear-gradient(top, rgba(242, 247, 246, 0) 0%, #f2f7f6 100%);
  background: -o-linear-gradient(top, rgba(242, 247, 246, 0) 0%, #f2f7f6 100%);
  background: -ms-linear-gradient(top, rgba(242, 247, 246, 0) 0%, #f2f7f6 100%);
  background: linear-gradient(to bottom, rgba(242, 247, 246, 0) 0%, #f2f7f6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00f2f7f6', endColorstr='#f2f7f6', GradientType=0);
}
.bottomForm {
  position: relative;
  background: rgba(255, 255, 255, 0.95);
  /* background: @bgGreen; */
  border-top: 1px solid #d6e3df;
  border-bottom: 1px solid #d6e3df;
  position: fixed;
  bottom: -116px;
  left: 0;
  width: 100%;
  padding: 17px 0 25px 0;
  z-index: 885;
  -webkit-transition: bottom 0.3s;
  -moz-transition: bottom 0.3s;
  -ms-transition: bottom 0.3s;
  -o-transition: bottom 0.3s;
  transition: bottom 0.3s;
}
.bottomForm .inside {
  padding: 0 53px;
  max-width: 1145px;
}
.bottomForm.active {
  bottom: 0;
  -webkit-transition: bottom 0.3s;
  -moz-transition: bottom 0.3s;
  -ms-transition: bottom 0.3s;
  -o-transition: bottom 0.3s;
  transition: bottom 0.3s;
}
.bottomForm-title {
  font-size: 17px;
  line-height: 28px;
  font-weight: bold;
  position: relative;
  padding-bottom: 5px;
}
.bottomForm-title .contacts {
  font-size: 15px;
  line-height: 16px;
  font-weight: normal;
  position: absolute;
  top: 6px;
  right: 0;
}
.bottomForm-title .contacts a {
  line-height: 0.9em;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *zoom: 1;
  *display: inline;
  margin-right: -4px;
  margin-right: auto;
}
.form {
  position: relative;
  border: 1px solid #dae6e3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: #ffffff;
  padding: 0;
}
.form label {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *zoom: 1;
  *display: inline;
  margin-right: -4px;
  padding: 0;
  height: 38px;
}
.form .form-tel {
  width: 20%;
  border-right: 1px solid #dae6e3;
}
.form .form-tel input {
  text-indent: 20px;
  height: 100%;
}
.form .form-text {
  height: 38px;
  width: 70%;
  position: relative;
  /*
		&:after {.after; .abs; width:100%; opacity: 0; height:0; bottom:10px; .shadow(0px 0px 14px rgba(0,0,0,.12)); z-index:4; .trn;}
		&.focused:after {height:180px; opacity: 1; .trn;}
		&:before {.after; .abs; width:100%; height:38px; bottom:-1px; .radius(5px 0 0 5px); background: @white; padding-right:2px; left:-1px; border:1px solid #dae6e3; z-index:8; .trn;}
		&.focused:before {height:200px; .trn;}
*/
}
.form .form-text:after {
  content: ' ';
  display: block;
  position: absolute;
  left: 6px;
  right: 5px;
  z-index: 19;
  height: 2px;
  background: #ffffff;
  bottom: 0;
}
.form .form-text textarea {
  min-height: 29px;
  padding-top: 7px;
  padding-left: 2.5%;
  width: 93.5%;
  padding-right: 4%;
  resize: none;
  overflow: auto;
  position: absolute;
  bottom: -1px;
  top: auto;
  left: 0;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #dae6e3;
  height: 0;
  left: -1px;
  z-index: 10;
  background: #ffffff;
  border-collapse: collapse;
  max-height: 180px;
  width: 91.6%;
  padding-right: 6%;
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  -ms-transition: height 0.2s;
  -o-transition: height 0.2s;
  transition: height 0.2s;
}
.form .form-text .aft {
  content: ' ';
  display: block;
  position: absolute;
  background: #ffffff;
  width: 100%;
  opacity: 0;
  height: 0 !important;
  bottom: 10px;
  -webkit-box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.12);
  -o-box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.12);
  z-index: 4;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.form .form-text.focused .aft {
  opacity: 1;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.form .form-text.focused:after {
  display: none;
}
.form input,
.form textarea {
  height: 38px;
  background: none;
  border: 0;
  outline: none;
  -webkit-appearance: none;
  width: 100%;
  font-size: 17px;
  font-family: 'Circe', sans-serif;
}
.ff .form textarea {
  bottom: -2px;
  padding-bottom: 3px;
  padding-top: 6px;
}
.qlist .form textarea {
  top: -1px;
  bottom: 0;
}
.ff .qlist .form textarea {
  top: -2px;
  bottom: 0;
}
.form .form-text textarea.nofocus {
  width: 58.5%;
  padding-right: 0%;
  border-right: 0;
}
.form-over {
  font-size: 17px;
  font-family: 'Circe', sans-serif;
  color: #aaa;
  position: absolute;
  left: 2.5%;
  height: 31px;
  line-height: 35px;
  z-index: 19;
  top: 2px;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/*.focused .form-over {height:29px; line-height:30px; font-size:15px; top:-160px; .trn;}
.typed .form-over {opacity: 0;}
.typed {z-index:20;}
*/
.form-button {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 20%;
  padding: 0;
  height: 40px;
  font-size: 17px;
  color: #ffffff;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}
.form-link {
  position: absolute;
  right: 42.5%;
  margin-right: 14px;
  border-bottom-style: dashed;
  z-index: 17;
  top: 12px;
  font-size: 13px;
  line-height: 1em;
  border-bottom-color: rgba(5, 175, 110, 0.35);
  -webkit-transition: none;
  transition: none;
}
.form-link:hover,
.form-link.hvrd {
  border-color: rgba(187, 0, 0, 0.2);
  color: #bb0000;
}
.form-icon {
  position: absolute;
  right: 42%;
  width: 18px;
  z-index: 17;
  top: -6px;
  height: 34px;
  background: url(../img/pin.png) no-repeat right top;
  background-size: 13px 68px;
  cursor: pointer;
  border: 0;
}
.form-icon:hover,
.form-icon.hvrd {
  background-position: right -34px;
}
#all {
  background: #ffffff;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}
.gr #all {
  background: #f2f7f6;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}
.fxdmenu {
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}
.gr .fxdmenu {
background: rgba(242, 247, 246, 0.95);
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}
.absmenu {
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}
.gr .absmenu {
  background: #f2f7f6;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}
/*
.gr.nogr {
	.complex-dot {opacity: 0;}
// 	.module {border-left-color:rgba(0,0,0,0.05);}
}
*/
/*
.bottomForm {.trans(background, 0.3s);}
.gr .bottomForm {background: @bgGreen; .trans(background, 0.3s);}
*/
.content-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 1px;
}
.fxdtitle {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 688;
  display: none;
  padding-top: 60px;
}
.fxdtitle:after {
  content: ' ';
  display: block;
  position: absolute;
  width: 1px;
  right: -1px;
  height: 100%;
  top: 0;
  background: rgba(255, 255, 255, 0.4);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}
.abstitle {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 688;
  display: none;
  padding-top: 60px;
}
.abstitle:after {
  content: ' ';
  display: block;
  position: absolute;
  width: 1px;
  right: -1px;
  height: 100%;
  top: 0;
  background: rgba(255, 255, 255, 0.4);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}
.abstitle,
.fxdtitle,
#title2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  padding: 0 0 15px 0;
  margin-top: -2px;
  margin-bottom: 7px;
}
.abstitle,
.fxdtitle {
  padding-top: 70px;
  background: rgba(255, 255, 255, 0.4);
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}
.gr .abstitle,
.gr .fxdtitle {
  background: rgba(242, 247, 246, 0.95);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}
.gr .abstitle:after,
.gr .fxdtitle:after {
  background: rgba(242, 247, 246, 0.95);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}
/*
.fxdtitle {display:block; width:100%; height:80px; top:0; left:0; display:none; position: fixed;
		background: -moz-linear-gradient(top, rgba(242,247,246,1) 0%, rgba(242,247,246,0) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,247,246,1)), color-stop(100%,rgba(242,247,246,0)));
background: -webkit-linear-gradient(top, rgba(242,247,246,1) 0%,rgba(242,247,246,0) 100%);
background: -o-linear-gradient(top, rgba(242,247,246,1) 0%,rgba(242,247,246,0) 100%);
background: -ms-linear-gradient(top, rgba(242,247,246,1) 0%,rgba(242,247,246,0) 100%);
background: linear-gradient(to bottom, rgba(242,247,246,1) 0%,rgba(242,247,246,0) 100%);}
*/
/* yumadilov */
.gr .module.active {
  /*
border-left-color: @green;
border-right-color: rgba(187, 0, 0, 0.2);
*/
  background: #ffffff;
  position: relative;
  transition: none;
  -webkit-transition: none;
}
.content ul {
  margin-bottom: 22px;
  padding-left: 25px;
  margin-top: -10px;
}
.mainInfo .col--1 {
  position: absolute;
  right: 30px;
}
.form .form-text {
  height: 38px;
  width: 59.1%;
}
.form .form-tel {
  width: 24%;
  border-left: 1px solid #dae6e3;
}
.qlist-form .form-link {
  top: 11px;
  border-bottom-color: rgba(5, 175, 110, 0.35);
}
.toggle-link.active {
  background: rgba(251, 244, 203, 0.98);
}
.module-group {
  margin-bottom: 20px;
}
/*
.module-group:last-child {
	margin-bottom: 40px;
}
*/
.gostcol {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *zoom: 1;
  *display: inline;
  margin-right: -4px;
  line-height: 0;
  padding-top: 2px;
  margin-left: 1%;
  width: 18%;
  max-width: 150px;
}
.gostcol a {
  border: 0;
  color: #000000;
}
.gostcol b {
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 15px;
  line-height: 20px;
  text-align: right;
  position: relative;
  z-index: 1;
  font-weight: normal;
}
.gostcol b span {
  position: absolute;
  left: 0;
}
.gostcol b .smallcaps {
  font-weight: bold;
}
.gostcol a:hover {
  color: #bb0000;
}
.gostcol a:hover b {
  border-color: rgba(187, 0, 0, 0.2);
}
.gostcol img {
  margin-top: -18%;
  margin-left: -22%;
  width: 131%;
  height: auto;
  position: relative;
  z-index: 2;
  margin-top: -14%;
  margin-left: -16%;
  width: 121%;
}
@media (max-width: 1080px) {
  .mainInfo-content .col--1 {
    right: 0px;
  }
}
@media (max-width: 1020px) {
  .mainInfo-content .col--1 {
    right: -20px;
  }
}
/* overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: #666;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  z-index: 997;
  display: none;
  cursor: pointer;
  background: #f1f7f6;
  opacity: 0.95;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
.popup {
  z-index: 998;
  position: fixed;
  height: 100%;
  overflow: scroll;
  left: 50%;
  display: none;
  left: 0;
  width: 100%;
  top: 0;
  min-width: 1000px;
}
.popup-wrap {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
.popup-close {
  top: 15px;
  right: 25px;
  position: absolute;
  height: 30px;
  width: 30px;
  text-align: center;
  cursor: pointer;
  font-size: 30px;
  line-height: 31px;
  -webkit-transform: rotateZ(0deg);
  -moz-transform: rotateZ(0deg);
  -ms-transform: rotateZ(0deg);
  -o-transform: rotateZ(0deg);
  transform: rotateZ(0deg);
  -o-transition: -o-trnasform 0.2s;
  -ms-transition: -ms-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
}
.popup-close:hover {
  -webkit-transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  -o-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
  -o-transition: -o-trnasform 0.2s;
  -ms-transition: -ms-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
}
.popup-title {
  padding: 15px 25px 10px 25px;
  position: absolute;
  right: 0;
  width: auto;
  left: 0;
  background: rgba(241, 247, 246, 0.95);
  max-width: 1200px;
  z-index: 4;
}
.popup-title:after {
  content: ' ';
  display: block;
  position: absolute;
  bottom: 0;
  left: 25px;
  right: 25px;
  background: rgba(0, 0, 0, 0.1);
  height: 1px;
  width: auto;
}
.popup-title .hd {
  font-family: 'Circe', sans-serif;
  font-size: 17px;
  line-height: 28px;
  font-weight: bold;
}
.popup-content {
  max-width: 1200px;
  padding: 90px 25px 30px 25px;
  z-index: 3;
}
.popup-content h2,
.popup-content .hdr {
  line-height: 36px;
  margin-bottom: 20px;
  font-size: 30px;
}
.popup-content h2 small,
.popup-content .hdr small {
  font-size: 15px;
  line-height: 15px;
}
.popup-content h2 small a,
.popup-content .hdr small a {
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *zoom: 1;
  *display: inline;
  margin-right: -4px;
  margin: 0;
  vertical-align: baseline;
}
.popup-content h2 small a:hover,
.popup-content .hdr small a:hover {
  transition: none;
}
.popup-self {
  margin: 0 auto;
  display: block;
  text-align: center;
  padding: 25px 0;
  position: relative;
  z-index: 6;
}
.popup-self img {
  border: 1px solid #f2f7f6;
  -webkit-box-shadow: 0 40px 110px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 40px 110px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 40px 110px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 40px 110px rgba(0, 0, 0, 0.2);
  box-shadow: 0 40px 110px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 5;
}
.popup-top {
  position: relative;
  z-index: 6;
  padding-right: 200px;
}
.popup.anim {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.2s;
  transition: transform 0.4s, opacity 0.2s;
  transition-timing-function: cubic-bezier(0.36, 0.76, 0.34, 1.07);
}
.popup.anim.ready {
  opacity: 0;
  -webkit-transform: translateY(120px);
  transform: translateY(120px);
  -webkit-transition: -webkit-transform 0s, opacity 0s;
  transition: transform 0s, opacity 0s;
}
.noscroll {
  overflow: hidden;
}
.popup-hide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  cursor: pointer;
  height: 100%;
  z-index: 1;
}
noindex {
  display: block;
}
.popup-frame {
  display: block;
  margin: 0 50px;
  position: relative;
  min-height: 100%;
  z-index: 8;
  background: #ffffff;
  padding: 20px 0 20px;
  -webkit-box-shadow: 0 40px 110px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 40px 110px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 40px 110px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 40px 110px rgba(0, 0, 0, 0.2);
  box-shadow: 0 40px 110px rgba(0, 0, 0, 0.2);
}
.popup-frame iframe {
  position: relative;
  display: block;
  height: 100%;
  border: 0;
  width: 100%;
}
.disclaimer {
  background: #f8ec77;
  color: #000000;
  padding: 6px 0;
  font-size: 14px;
}
.disclaimer a {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *zoom: 1;
  *display: inline;
  margin-right: -4px;
  margin: 0;
  line-height: 0.95em;
  vertical-align: baseline;
}
.qlist-pic {
  background: #f8f8f8;
  width: 640px;
  margin: 0 auto;
  position: relative;
  font-size: 15px;
  font-weight: normal;
  cursor: pointer;
  z-index: 9;
}
.qlist-pic:before {
  content: ' ';
  display: block;
  position: absolute;
  height: 2px;
  background: #000000;
  left: -13px;
  width: 15px;
  bottom: -10px;
  -webkit-border-radius: 3px 0 0 0;
  -moz-border-radius: 3px 0 0 0;
  -ms-border-radius: 3px 0 0 0;
  -o-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
}
.qlist-pic:after {
  content: ' ';
  display: block;
  position: absolute;
  height: 2px;
  background: #000000;
  width: 13px;
  right: -11px;
  bottom: -10px;
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  -ms-border-radius: 0 3px 0 0;
  -o-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
}
.qlist-for {
  position: relative;
  padding: 6px 15px;
  background: #f8ec77;
  color: #000000;
  text-align: left;
}
.qlist-for .button {
  font-size: 14px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2px 13px 0 11px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  line-height: 20px;
  position: absolute;
  top: 5px;
  right: 13px;
  background: none;
  cursor: pointer;
  color: #000000;
}
.qlist-for .button:hover {
  color: #bb0000;
  border-color: rgba(187, 0, 0, 0.2);
}
.qlist-pic:hover .button {
  color: #bb0000;
  border-color: rgba(187, 0, 0, 0.2);
}
.qlist-stand {
  position: relative;
  margin: 0 30px;
  background: url(../img/repeat-x.png) repeat-x;
  background-size: auto 100%;
  height: 53px;
}
.qlist-stand:before {
  content: ' ';
  display: block;
  position: absolute;
  background: url(../img/l.png) no-repeat;
  height: 53px;
  width: 50px;
  left: -50px;
  background-size: auto 100%;
  top: 0;
}
.qlist-stand:after {
  content: ' ';
  display: block;
  position: absolute;
  background: url(../img/r.png) no-repeat;
  height: 53px;
  width: 50px;
  right: -50px;
  background-size: auto 100%;
  top: 0;
}
.qlist-l {
  position: relative;
  padding: 30px 10px 0 10px;
  line-height: 0;
}
.qlist-l:after {
  content: ' ';
  display: block;
  position: absolute;
  height: 14px;
  bottom: -14px;
  left: 3px;
  right: 3px;
  background: #f8f8f8;
}
.qlist-l:before {
  height: 1px;
  background: #c6c6c6;
  content: ' ';
  display: block;
  position: absolute;
  bottom: -10px;
  z-index: 5;
  left: 2px;
  right: 2px;
}
.tr {
  position: absolute;
}
.tr--l {
  width: 0;
  height: 0;
  border-bottom: 294px solid #ffffff;
  top: 0;
  border-right: 3px solid transparent;
  z-index: 6;
}
.tr--r {
  width: 0;
  height: 0;
  border-bottom: 294px solid #ffffff;
  top: 0;
  border-left: 3px solid transparent;
  z-index: 6;
  right: 0;
}

.qlist .form-icon {top: -8px;}

.qlist-for {padding: 7px 15px 6px;}
.qlist-for .button {top:4.5px;}
.qlist-for {line-height:22px;}
.module-group.first .module:first-child .hdr {border:0;}

.compare-ttl {font-family: 'Circe', sans-serif; font-size: 30px; line-height: 30px; font-weight: normal; padding:0 0 15px 0;}
.compare-header {padding-bottom:12px;}
.compare-fact {right:15px; top:auto; bottom:17px;}
.compare-picture {padding-top:35px;}

.toggle-link:first-child.active {margin-left:0;}
.toggle-link:first-child {margin-left:-1px;}

.compare-tb {position: relative; margin-top:15px; font-size: 15px; width:100%;}
.compare-tb th {font-weight: normal; padding-bottom:12px; border-bottom:1px solid #dfdfdf; text-align: left; vertical-align: top;}
.compare-tb td {padding:8px 0; vertical-align: top;}

.compare-tb .td1 {width:185px;}
.compare-tb .td2 {width:80px;}
.compare-tb .td3 {width:80px;}
.compare-tb .td4 {width:21%;}
.compare-tb .td5 {width:auto; padding-left:10px;}

.mainInfo .col--1 {top:0;}

#newTab {display:block; border:0;}

/* border-bottom-color: rgba(5, 175, 110, 0.35);*/
.form button {z-index:90;}
.sent,
.form.sent .form-text textarea {border:1px solid rgba(5, 175, 110, 0.35);}
.form.sent .form-text textarea {border-right:0;}
.form.sent .form-tel {border-left:1px solid rgba(5, 175, 110, 0.35);}
.sent button,
.sent button:hover,
.sent button:active {background: #fff; color:#03b16e; border:1px solid rgba(5, 175, 110, 0.35); cursor: pointer;}

.sent, .sent input,
.sent textarea,
.sent button {cursor: default !important;}

.required {border-color:#bb0000; position: relative; z-index:10; cursor: text;}
.required:before {height:100%; top:-1px; content:''; display:block; width:87%; border:1px solid #bb0000; left:-1px; position: absolute; opacity: 0.5; cursor: text;}

/*#fafbf5*/
.characters {background: #fff; margin:10px -25px 0; padding:20px 25px 5px;}
.content .characters h2 {margin:0;}
.compare {padding-top:0;}
.compare-left.auto {width:auto; margin-right:5px; margin-top:-3px;}
.compare-header {background: #fff; border:0; padding-bottom:12px; position: relative; padding-left:25px; padding-right:25px; margin:0 -25px;}
.compare-catch {position: absolute; right:25px; top:2px; cursor: pointer; position: absolute; font-size: 15px;}
.compare-picture {padding-left:25px; padding-right:25px; margin:0 -25px; min-height: 290px; padding-top:22px; padding-bottom:15px; /*border-bottom: 1px solid #e5e5e5;*/ margin-bottom: -30px;}
.cl {float:left; text-align: left; width:240px; line-height:20px; font-size:15px; line-height:18px;}
.cl1 {font-weight: bold; margin-top:10px;}

.compare-imgContainer {position: relative; padding-top:0px; top:0; margin-right:0px; margin-left: 240px; margin-top:0; width:auto; height:auto; margin-bottom:40px; padding-top: 10px;
padding-bottom:10px;}
.compare-imgContainer img {width:100%;}

.files .label {font-size: 14px; margin-top: -1px; position: relative; vertical-align: top; display: inline-block;}
.files {position: absolute; text-align: right; bottom: -40px; right: 0; font-size: 12px; top:auto;}

.cp-2 {display:none;}
.js-chcf {display:none;}

.compare-catch {-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;}

@media (max-width:1080px) {
	.compare-catch {top:-33px;}
}


.compare-header:after {position: absolute; height:1px; left:20px; right:20px; background: #e5e5e5; content:' '; display:block; bottom:0;}

.compare .files {bottom:-40px;}
.compare-exampleTitle {position: absolute; bottom: -36px; left: 0; line-height:22px; font-size:15px;}

@media (max-width:1080px) {
	.compare-imgContainer {margin-left:200px;}
}
.cl {position: absolute;}

.compare-toggle {padding-top:2px;}


.compare-header {
	border:0;
}
.compare-header:after {
	display:none;
}

.compare-picture {
	background: #f9f9f9;
	position: relative;
	border-bottom:1px solid #ececec;
	margin-bottom:20px;
}

.compare-imgContainer {
	border-bottom:1px solid #ececec;
	line-height:0;
	padding-bottom:0;
	max-height:305px;
}

.compare-exampleTitle {
	bottom:-30px;
}

.compare .files {
	bottom:-34px;
}

.compare-picture {
	padding-bottom:25px;
}

/* .compare-picture img {opacity: 0;} */

.isize-wrap {position: absolute !important; left:0; right:0; height:100%; top:0; background-color: #f9f9f9;}
.isize-wrap {opacity: 1 !important;}
.isize-wrap img {display:none;}

.compare-imgContainer {
	padding-top:45%;
	position: relative;
}

.compare-placeholder {
	position: absolute;
	top:0;
	height:100%;
	left:0;
	width:100%;
}

.placeholder-center {
	position: absolute;
	height:100px;
	top:50%;
	margin-top:-75px;
	text-align: center;
	width:100%;
}

.placeholder-center big {
	font-size:78px; display:block; text-align: center; line-height:92px;
}

.placeholder-center small {
	display:block; text-align: center; font-size:15px;
}

.gostcol img {
	margin-left: -25%;
	width: 138%;
}


.touch .module-link,
.wp .module-link,
.android .module-link {border:0; background: none !important; color: #000 !important; font-weight: bold;}



/* popup gallery */

[data-gallery-popup], .photo-gallery {
	cursor: pointer;
}

.photo-gallery-image {
	position: relative;
	width:100%;
	height:auto;
}

#popup-gallery .popup-self {
	text-align: left;
	max-width:800px;
	margin:0 auto;

}

#popup-gallery .popup-title {
	position: fixed;
	max-width:1200px;
	left:0;
	right:0;
	margin:0 auto;
	top:0;
	z-index:55;
}

.gallery-item {
	position: relative;
	padding: 0 0 40px 0;
}

.photo-gallery-link {
	background: none;
	border-bottom:1px dashed #03b16e;
	border-bottom: 1px dashed rgba(5, 175, 110, 0.2);
	line-height:1.1em;
	display:inline-block;
	padding:0 2px;
}

.photo-gallery-link.active {
	background: #e4eeef;
	color:#000;
	cursor: default;
	border:0;
	padding:2px;
	border-radius: 2px;
}

.popup-hide {
	left: -10000px;
	width: auto;
	right:-10000px;
}






/*merge: outer style */

.disclaimer {
    min-width: 1000px;
    padding: 5px 0;
    font-size: 14px;
    color: #000;
    background: #f8ec77;
    border-bottom: 1px solid #ebe47b;
}

.disclaimer__inside {
    position: relative;
    margin: 0 auto;
    max-width: 1285px;
    padding: 0 25px
}

.disclaimer #oldversion {
    position: absolute;
    right: 20px;
    top: 5px;
    display: inline-block;
    vertical-align: top;
    margin-right: -4px;
    margin: 0;
    line-height: .95em;
    vertical-align: baseline
}

.disclaimer *,
.header * {
	box-sizing: border-box;
}

.header {
	box-sizing: border-box;
    height: 102px;
    position: relative;
}

.header__inside {
    position: relative;
    min-width: 1000px;
    max-width: 1285px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 60px;
    padding-right: 25px
}

.header__logo {
    position: absolute;
    left: 25px;
    top: 25px;
}

.header__logo a {
    border: 0
}

.header__contacts {
    position: absolute;
    top: 10px;
    right: 25px;
    text-align: right
}

.header .contacts-menu, .header .contacts-tel {
    position: relative;
    display: inline-block;
    vertical-align: top
}

.header .contacts-tel {
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2px 13px 0 11px;
    border-radius: 3px;
    line-height: 20px;
    color: #000;
    margin-top: 1px;
}

.header .contacts-tel:hover {
    color: #b00;
    border-color: rgba(187, 0, 0, 0.2)
}

.header .contacts-menu {
    font-size: 14px;
    padding-top: 7px;
    padding-right: 22px
}

.header .hc-link {
    color: #000;
    border-color: rgba(0, 0, 0, 0.1);
    display: inline-block;
    vertical-align: top;
    margin-right: -2px;
    margin-left: 21px;
    line-height: 1em;
}

.header .hc-link:hover {
    color: #b00;
    border-bottom-color: rgba(187, 0, 0, 0.2)
}


.mainmenu {
    position: absolute;
    left: 175px;
    top: 59px;
    font-size: 15px;
    width: auto;
    right: 10px;
}

.mainmenu__item {
    display: inline-block;
    vertical-align: top;
    margin-right: -4px;
    margin-right: 14px;
}

.mainmenu__item--active + .mainmenu__item {
    margin-left: -10px
}

.mainmenu__link {
    border: 0;
}

.mainmenu__link span {
    border-bottom: 1px solid rgba(5, 175, 110, 0.2);
    height: 19px;
    display: inline-block;
    -webkit-transition: border-color .2s;
    transition: border-color .2s
}

.mainmenu__link:hover span {
    border-bottom-color: rgba(187, 0, 0, 0.2);
    -webkit-transition: none;
    transition: none
}

.mainmenu__link--active, .mainmenu__link--active:hover {
    color: #000;
    background: #f2f7f6;
    border-radius: 2px;
    z-index: 5;
    padding: 1px 0 1px 10px;
    margin: -1px 0 -1px -10px;
}

.mainmenu__link--active span, .mainmenu__link--active:hover span {
    border-bottom-color: rgba(0, 0, 0, 0.1);
    display: inline-block;
    vertical-align: top;
    margin-right: -4px;
    margin: 0;
    margin-right: 10px
}

.container--blue .mainmenu__link--active {
    background: #e6efed
}


.main-page .application-form--stable {
    padding-top: 45px;
    margin-bottom: 5px
}








/* merge: inner styles */
.inside {
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  max-width: 1285px;
  padding: 0 25px;
}

.mainmenu {
	top: 58px;
}

.header__contacts {
	right:29px;
}

.header .contacts-menu {
	padding-right:20px
}


.application-form {
	border-top:1px solid #dae6e3;
	padding-top:35px;
	position: relative;
}

.application-form__inner {
	max-width: 1180px;
	margin: 0 auto;
	position: relative;
}

.application-form__header {
	font-family: 'Circe', sans-serif;
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	padding-bottom: 10px;
}

.application-form__title {
	font-family: 'Circe', sans-serif;
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
}

.application-form__contacts {
	font-size: 15px;
	line-height: 16px;
	font-weight: normal;
	position: absolute;
	top: 9px;
	right: 0px;
}

.application-form__form {
	position: relative;
	border: 1px solid #dae6e3;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	background: #ffffff;
	padding: 0;
}


.application-form__form label {
	display: -moz-inline-stack;
display: inline-block;
vertical-align: top;*
zoom: 1;*
display: inline;
margin-right: -4px;
padding: 0;
height: 38px;
}

.application-form__text {
	height: 38px;
	width: 59.1%;
	position: relative;
}

.application-form__tel {
	width: 24%;
	border-left: 1px solid #dae6e3;
}


.application-form a {
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;*
	zoom: 1;*
	display: inline;
	margin-right: -4px;
	margin: 0;
	line-height: 0.95em;
	margin-top: 2px;
}

.application-form__file {
	position: absolute;
	right: 42.5%;
	margin-right: 14px;
	border-bottom-style: dashed;
	z-index: 17;
	top: 12px;
	font-size: 13px;
	line-height: 1em;
	border-bottom-color: rgba(5, 175, 110, 0.35);
	-webkit-transition: none;
	transition: none;
	margin-right: 14px !important;
}

.application-form input {
	height: 38px;
	background: none;
	border: 0;
	outline: none;
	-webkit-appearance: none;
	width: 100%;
	font-size: 17px;
	font-family: 'Circe', sans-serif;
}

.application-form__tel input {
	text-indent: 20px;
	height: 100%;
}


.application-form__btn {
	position: absolute;
	top: -1px;
	right: -1px;
	width: 20%;
	padding: 0;
	height: 40px;
	font-size: 17px;
	color: #ffffff;
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	-ms-border-radius: 0 3px 3px 0;
	-o-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
	cursor: pointer;
	outline: none;
	-webkit-tap-highlight-color: none;
	border: 0;
	background: none;
	background: #34b972;
	background: -moz-linear-gradient(top, #34b972 0%, #3cc384 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #34b972), color-stop(100%, #3cc384));
	background: -webkit-linear-gradient(top, #34b972 0%, #3cc384 100%);
	background: -o-linear-gradient(top, #34b972 0%, #3cc384 100%);
	background: -ms-linear-gradient(top, #34b972 0%, #3cc384 100%);
	background: linear-gradient(to bottom, #34b972 0%, #3cc384 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#34b972', endColorstr='#3cc384', GradientType=0);
	border-bottom: 1px solid rgba(78, 142, 25, 0.55);

	color: #ffffff;
}

.application-form__btn:hover {
	background: #30a968;
	background: -moz-linear-gradient(top, #32aa69 0%, #37af78 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #32aa69), color-stop(100%, #37af78));
	background: -webkit-linear-gradient(top, #32aa69 0%, #37af78 100%);
	background: -o-linear-gradient(top, #32aa69 0%, #37af78 100%);
	background: -ms-linear-gradient(top, #32aa69 0%, #37af78 100%);
	background: linear-gradient(to bottom, #32aa69 0%, #37af78 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#30a968', endColorstr='#37ae76', GradientType=0);
	color: #ffffff;
}

.application-form__btn:active {
	background: #34b972;
	background: -moz-linear-gradient(top, #34b972 0%, #3cc384 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #34b972), color-stop(100%, #3cc384));
	background: -webkit-linear-gradient(top, #34b972 0%, #3cc384 100%);
	background: -o-linear-gradient(top, #34b972 0%, #3cc384 100%);
	background: -ms-linear-gradient(top, #34b972 0%, #3cc384 100%);
	background: linear-gradient(to bottom, #34b972 0%, #3cc384 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#34b972', endColorstr='#3cc384', GradientType=0);
	border-bottom-color: #3cc384;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-o-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}


.application-form__icon {
	position: absolute;
	right: 42%;
	width: 18px;
	z-index: 17;
	top: -6px;
	height: 34px;
	background: url(../img/pin.png) no-repeat right top;
	background-size: 13px 68px;
	cursor: pointer;
	border: 0;
}



.application-form textarea {
	height: 38px;
	background: none;
	border: 0;
	outline: none;
	-webkit-appearance: none;
	width: 100%;
	font-size: 17px;
	font-family: 'Circe', sans-serif;

	min-height: 29px;
	padding-top: 7px;
	padding-left: 2.5%;
	width: 93.5%;
	padding-right: 4%;
	resize: none;
	overflow: auto;
	position: absolute;

	top: -1px;
	left: 0;
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	-ms-border-radius: 5px 0 0 5px;
	-o-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
	border: 1px solid #dae6e3;
	height: 0;
	left: -1px;
	z-index: 10;
	background: #ffffff;
	border-collapse: collapse;
	max-height: 180px;
	width: 91.6%;
	padding-right: 6%;
	-webkit-transition: height 0.2s;
	-moz-transition: height 0.2s;
	-ms-transition: height 0.2s;
	-o-transition: height 0.2s;
	transition: height 0.2s;
}

.application-form__text.focused {
	z-index:66;
}
.application-form__file {
	z-index:60;
}
.application-form__icon {
	z-index:70;
}

.application-form__icon:hover,
.application-form__icon.hvrd {
  background-position: right -34px;
}


.application-form__file:hover,
.application-form__file.hvrd {
	color: #bb0000;
  border-color: rgba(187, 0, 0, 0.2);
}


.application-form__text:after {
	position: absolute;
	background: #fff;
	display:block;
	height:100%;
	width:150px;
	right:0;
	z-index:5;
	content:' ';
	width: 250px;
	right: 0;
	z-index: 55;
}

.application-form__text.focused:after {
	z-index:-1;
}


.sent {border:0;}
.application-form.sent .application-form__text textarea {border:1px solid rgba(5, 175, 110, 0.35);}
.application-form.sent .application-form__tel {border-left:1px solid rgba(5, 175, 110, 0.35);
	border-top:1px solid rgba(5, 175, 110, 0.35);
	border-bottom:1px solid rgba(5, 175, 110, 0.35);
}
.sent button,
.sent button:hover,
.sent button:active {background: #fff; color:#03b16e; border:1px solid rgba(5, 175, 110, 0.35); cursor: pointer;}

.sent, .sent input,
.sent textarea,
.sent button {cursor: default !important;}



.bottomForm {
  position: relative;
  background: rgba(255, 255, 255, 0.95);
  border-top: 1px solid #d6e3df;
  border-bottom: 1px solid #d6e3df;
  position: fixed;
  bottom: -116px;
  left: 0;
  width: 100%;
  padding: 17px 0 25px 0;
  z-index: 885;
  -webkit-transition: bottom 0.3s;
  -moz-transition: bottom 0.3s;
  -ms-transition: bottom 0.3s;
  -o-transition: bottom 0.3s;
  transition: bottom 0.3s;
}
.bottomForm .inside {
  padding: 0 53px;
  max-width: 1145px;
}
.bottomForm.active {
  bottom: 0;
  -webkit-transition: bottom 0.3s;
  -moz-transition: bottom 0.3s;
  -ms-transition: bottom 0.3s;
  -o-transition: bottom 0.3s;
  transition: bottom 0.3s;
}




.application-form.bottomForm .application-form__inner {
	max-width:1180px;
}

.application-form.bottomForm .application-form__title {
	font-family: Circe, sans-serif;
font-size: 17px;
font-weight: bold;
height: 28px;
line-height: 28px;
}
.compare-additionals {
	right:10px; top:0px; cursor: pointer; position: absolute; font-size: 15px;
	text-align: right;
	max-width: 250px;
}

.compare-catch {
	display: inline-block;
	width: auto;
	position: relative
}

.compare-catch input {
	margin-right: 5px;
}

.compare-right {
	/*min-height:60px;*/
}
.compare-catch {
	position: relative;
	cursor:  pointer !important
}

.compare-catch input {
	cursor:  pointer !important
}

.compare-catch:after {
	content:' ';
	display: block;
	position: absolute;
	left: 0;
	top:0;
	bottom:0;
	width:50px;
	z-index:9;
}
