
- if @recommendation.errors.any?
    #error_explanation
      h2 = "#{pluralize(@recommendation.errors.count, "error")} prohibited this recommendation from being saved:"
      ul
        - @recommendation.errors.full_messages.each do |message|
          li = message

.form-group
    = f.label "Компания"
    = f.text_field :company, {:class => "form-control"}

.form-group
    = f.label "Город"
    = f.text_field :city, {:class => "form-control"}

.form-group
    = f.label "Файл"
    = f.file_field :file
    - if(f.object.file)
        = image_tag f.object.file.thumb.url

    span.help-block Рекомендуемая ширина изображения - 800px

.form-group
    = f.submit "Сохранить", {:class => "btn btn-primary"}
