h1 Рекоммендации

section.panel
    table.table.table-striped

        thead
            tr
              td Компания
              td Город
              td Файл
              td

        tbody
            - @recommendations.each do |recommendation|
              tr
                td = recommendation.company
                td = recommendation.city
                td
                    = image_tag recommendation.file.thumb
                td

                    = link_to edit_admin_recommendation_path recommendation do
                        i.fa.fa-lg.fa-pencil

                    = link_to admin_recommendation_path(recommendation), data: {:confirm => 'Are you sure?'}, :method => :delete do
                        i.fa.fa-lg.fa-times

br

= link_to 'Создать рекоммендацию', new_admin_recommendation_path, :class => "btn btn-default"
