= form_for @faq do |f|
  - if @faq.errors.any?
    #error_explanation
      h2 = "#{pluralize(@faq.errors.count, "error")} prohibited this faq from being saved:"
      ul
        - @faq.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_area :description
  .actions = f.submit
