h1 Listing faqs

table
  thead
    tr
      th Title
      th Description
      th
      th
      th

  tbody
    - @faqs.each do |faq|
      tr
        td = faq.title
        td = faq.description
        td = link_to 'Show', faq
        td = link_to 'Edit', edit_faq_path(faq)
        td = link_to 'Destroy', faq, data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to 'New Faq', new_faq_path
