.factoid-number
	noselection()
	margin-top -9px


	&__value
		font-size 54px
		padding-bottom 3px
		line-height 1
		font-weight 300
	

	p
		&.factoid-number__annotation
			margin 2px 0
	

	&__annotation
		font-size 15px
		line-height 20px