.factoid-number-inline
	display table
	align-items center
	padding-top 7px
	padding-right 4%
	border-top 1px solid $border-color
	
	&__value,
	&__annotation
		display table-cell
		vertical-align middle
	
	&__value
		padding-top 6px
		padding-right 20px
		font-size 54px
		font-weight 300
		line-height 1
		noselection()
	

	&__annotation
		padding-top 6px
		font-size 15px
		line-height 20px
		width 100%