.factoid-image
	padding-right 60px
	font-size 15px
	line-height 20px
	text-align center
	
	&__inner
		display inline-block
		text-align left
	
	
	&__img
		width auto !important
		max-height 240px
		margin auto
		margin-bottom 21px
	
	
	p.factoid-image__annotation
		width 350px
		padding-right 0
		