
- if @admin_project.errors.any?
    #error_explanation
      h2 = "#{pluralize(@admin_project.errors.count, "error")} prohibited this admin_project from being saved:"
      ul
        - @admin_project.errors.full_messages.each do |message|
          li = message

.form-group
    = f.label "Название"
    = f.text_field :name, {:class => "form-control"}

.form-group
    = f.label "Описание"
    = f.text_area :description, {:class => "form-control"}

.form-group
    = f.label "Логотип"
    = f.file_field :logo
    - if f.object.logo
        = image_tag f.object.logo.thumb.url

    span.help-block Высота изображения - 62px


.form-group
    = f.submit "Сохранить", {:class => "btn btn-primary"}
