h1 Listing admin_projects


section.panel
    table.table.table-striped
        thead
            tr
              td Название
              td Описание
              td Логотип
              td

        tbody
            - @admin_projects.each do |admin_project|
              tr
                td = admin_project.name
                td = admin_project.description
                td = image_tag admin_project.logo.thumb.url
                td
                    = link_to edit_admin_project_path(admin_project) do
                        i.fa.fa-lg.fa-pencil

                    = link_to admin_project_path(admin_project), data: {:confirm => 'Are you sure?'}, :method => :delete do
                        i.fa.fa-lg.fa-times

br

= link_to 'Новый проект', new_admin_project_path, :class => "btn btn-default"
