.p-search
  .p-search__notfound
    h1 Страница не&nbsp;найдена
    p Неправильно набран адрес или такой страницы больше не&nbsp;существует. Возможно, вы&nbsp;искали один из&nbsp;наших продуктов:


  .p-search__grid.grid
    #search-results.grid__row.grid__row--stretch

      .search-notification
        form.contacts-form action=""
          h2.contacts-form__title
            | Мы не нашли похожие продукты на сайте
          .contacts-form__feedback
            p Напишите нам. Мы ответим на все вопросы, проконсультируем и предложим решение.
          .contacts-form__inputs
            .input-suggest
              input.contacts-form__input placeholder="Тема" type="text" /
              .input-suggest__dropdown
                .input-suggest__option
                  | Пример темы 1
                .input-suggest__option
                  | Пример темы 2
                .input-suggest__option
                  | Пример темы 3
            input.contacts-form__input placeholder=("Вопрос или описание проекта") type="text" /
            input.contacts-form__input placeholder=("Эл. почта или телефон") type="text" /
          input.contacts-form__btn type="submit" value=("Оставить заявку") /
          a.contacts-form__file href="#"  Добавить смету или план проекта
          input#file-input hidden="true" type="file" /

      .mix.grid-1-4.p-search__item data-filter='Насос'
        .search-card
          h3.search-card__name
            a href="#" Насосные станции
          ul.search-card__list
            li.search-card__item data-subfilter='Канализационные'
              a href="#" Канализационные
            li.search-card__item data-subfilter='Ливневые'
              a href="#" Ливневые
            li.search-card__item data-subfilter='Водоснабжения'
              a href="#" Водоснабжения
            li.search-card__item data-subfilter='Пожаротушения'
              a href="#" Пожаротушения
            li.search-card__item data-subfilter='Повышения давления'
              a href="#" Повышения давления
            li.search-card__item data-subfilter='Мини-станции'
              a href="#" Мини-станции
            li.search-card__item data-subfilter='Специальные насосные станции'
              a href="#" Специальные насосные станции

      .mix.grid-1-4.p-search__item data-filter='Ливневая'
        .search-card
          h3.search-card__name
            a href="#" Ливневая канализация
          ul.search-card__list
            li.search-card__item data-subfilter='Аккумулирующие ёмкости'
              a href="#" Аккумулирующие ёмкости
            li.search-card__item data-subfilter='Пескоуловители'
              a href="#" Пескоуловители
            li.search-card__item data-subfilter='Маслобензоотделители'
              a href="#" Маслобензоотделители
            li.search-card__item data-subfilter='Блоки угольной доочистки'
              a href="#" Блоки угольной доочистки
            li.search-card__item data-subfilter='УФ обеззараживание'
              a href="#" УФ обеззараживание
            li.search-card__item data-subfilter='Комплексная система очистки «Триплекс»'
              a href="#" Комплексная система очистки «Триплекс»

      .mix.mix-all.grid-1-4.p-search__item data-filter='Стеклопластик'
        .search-card.search-card--promo
          img.search-card__thumb src="/img/steklo.png"
          h3.search-card__name
            a.black href="#" Стеклопластик
          p.search-card__description Производим корпус и&nbsp;компоненты с&nbsp;2–15-кратным запасом прочности по&nbsp;технологии машинной намотки

      .mix.grid-1-4.p-search__item data-filter='Щиты'
        .search-card
          h3.search-card__name
            a href="#" Щиты управления
          p.search-card__description Продаём щиты управления ABB, Schneider Electric, Siemens, Legrand удалённого контроля насосных станций и систем очистки

      .mix.grid-1-4.p-search__item data-filter='Локальная'
        .search-card
          h3.search-card__name
            a href="#" Локальная очистка
          ul.search-card__list
            li.search-card__item data-subfilter='Канализационные ёмкости'
              a href="#" Канализационные ёмкости
            li.search-card__item data-subfilter='Септики'
              a href="#" Септики
            li.search-card__item data-subfilter='Биосептики «Биопур»'
              a href="#" Биосептики «Биопур»
            li.search-card__item data-subfilter='Колодец для бани'
              a href="#" Колодец для бани

      .mix.mix-all.grid-1-4.p-search__item data-filter='Под заказ'
        .search-card.search-card--promo
          img.search-card__thumb src="/img/order.png"
          h3.search-card__name Изделия под заказ
          p.search-card__description С&nbsp;2010&nbsp;года производим нестандартные изделия из&nbsp;композитных материалов по&nbsp;вашим чертежам

      .mix.grid-1-4.p-search__item data-filter='Насосы'
        .search-card
          h3.search-card__name
            a href="#" Насосы
          p.search-card__description Продаём насосы KSB, Grundfos, Wilo, Sulzer, Flygt для&nbsp;промышленных и&nbsp;домашних систем

      .mix.grid-1-4.p-search__item data-filter='Ёмкости'
        .search-card
          h3.search-card__name
            a href="#" Ёмкости
          ul.search-card__list
            li.search-card__item data-subfilter='Аккумулирующие'
              a href="#" Аккумулирующие
            li.search-card__item data-subfilter='Пожарные'
              a href="#" Пожарные
            li.search-card__item data-subfilter='Канализационные'
              a href="#" Канализационные
            li.search-card__item data-subfilter='Топливные'
              a href="#" Топливные
            li.search-card__item data-subfilter='Пищевые'
              a href="#" Пищевые
            li.search-card__item data-subfilter='Ёмкости для кислот'
              a href="#" Ёмкости для кислот

      .mix.grid-1-4.p-search__item data-filter='Жироотделители'
        .search-card
          h3.search-card__name
            a href="#" Жироотделители
          p.search-card__description Произведём жироотделители из стеклопластика для систем с&nbsp;нагрузкой от&nbsp;15&nbsp;до&nbsp;30&nbsp;л/с

      .mix.grid-1-4.p-search__item data-filter='Колодцы'
        .search-card
          h3.search-card__name
            a href="#" Колодцы
          ul.search-card__list
            li.search-card__item data-subfilter='Распределительные'
              a href="#" Распределительные
            li.search-card__item data-subfilter='Водомерные'
              a href="#" Водомерные
            li.search-card__item data-subfilter='Банные'
              a href="#" Банные
            li.search-card__item data-subfilter='Колодец для отбора проб'
              a href="#" Колодец для отбора проб

      .mix.grid-1-4.p-search__item data-filter='Водоподготовка'
        .search-card
          h3.search-card__name
            a href="#" Водоподготовка
          p.search-card__description Продаём системы водоподготовки для&nbsp;очистки воды на&nbsp;предприятии или дома

      .mix.mix-all.grid-1-4.p-search__item data-filter='Контроль'
        .search-card.search-card--promo
          img.search-card__thumb src="/img/quality.png"
          h3.search-card__name
            a.black href="#" Контроль качества
          p.search-card__description Проверяем качество сборки, тестируем герметичность корпуса и работу комплектующих. Проверяем прочность, жёсткость и растяжение стеклопластика.

      .mix.grid-1-4.p-search__item data-filter='Трубы'
        .search-card
          h3.search-card__name
            a href="#" Трубы и газоходы
          p.search-card__description Произведём жироотделители из стеклопластика для систем с&nbsp;нагрузкой от&nbsp;15&nbsp;до&nbsp;30&nbsp;л/с

      .mix.grid-1-4.p-search__item data-filter='Скрубберы'
        .search-card
          h3.search-card__name
            a href="#" Скрубберы
          p.search-card__description Произведём жироотделители из стеклопластика для систем с&nbsp;нагрузкой от&nbsp;15&nbsp;до&nbsp;30&nbsp;л/с

      .mix.grid-1-4.p-search__item data-filter='Дробилки'
        .search-card
          h3.search-card__name
            a href="#" Дробилки и измельчители
          p.search-card__description Произведём жироотделители из стеклопластика для систем с&nbsp;нагрузкой от&nbsp;15&nbsp;до&nbsp;30&nbsp;л/с

      .mix.grid-1-4.p-search__item.js-empty
      .mix.grid-1-4.p-search__item.js-empty
      .mix.grid-1-4.p-search__item.js-empty


= render partial: "gBenefitsBlue"

= content_for :footer_class
  | footer--blue
