= content_for :styles
  = stylesheet_link_tag    "/css/bookmark.min.css", media: "all", "data-turbolinks-track"  => true

.content-page.page-about
  .content-page__inner
    .content-page__lead.content-page__column.content-page__column--left
      h1.bookmark О&nbsp;компании
      .content-page__factoid
        p С&nbsp;2003&nbsp;г. разрабатываем и&nbsp;производим системы очистки сточных вод, комплектные насосные станции, накопительные емкости и&nbsp;резервуары различного назначения. Корпус изделий выполняем из&nbsp;многослойного армированного стеклопластика.
        aside.factoid.factoid--top
          h3.factoid__title.u-green Оказываем полный спектр услуг
          p
            | проектируем, доставляем по&nbsp;России и&nbsp;СНГ, проводим шеф-монтаж и&nbsp;<span class="u-nobr">пуско-наладку</span>. Осуществляем обслуживание.
      p Производим нестандартные штучные и&nbsp;серийные изделия из&nbsp;стеклопластика для газовой и&nbsp;нефтяной промышленности, автомобилестроения, мебельной и&nbsp;пр.&nbsp;отраслей.

  = render partial: "diameters"

  .content-page__inner
    .content-page__lead.content-page__column.page-about__after-diameters
      .content-page__factoid
        p
          | Все изделия производим в&nbsp;
          span.u-nobr Санкт-Петербурге
          |  на&nbsp;двух производственных площадках общей площадью 2500&nbsp;м&#178;.
        aside.factoid.factoid--top.factoid-number
          .factoid-number__value.u-green #{Setng::get "products_quantity"}
          p.factoid-number__annotation В&nbsp;России, Казахстане, Белоруссии и&nbsp;Украине.
      .content-page__factoid
        p 4 производственных линии, круглосуточное производство и&nbsp;отлаженные технологии позволяют выполнить любой проект в&nbsp;минимальные сроки.
        aside.factoid.factoid--top.factoid-number
          .factoid-number__value.u-green #{DateTime.now.year - 2004} лет
          p.factoid-number__annotation style="margin-top: 0"
            | Без брака.&nbsp;
            a.factoid__link href="" О контроле качества



  - if Project.any?

    .projects-inline
        .projects-inline__inner.u-bg-blue
          h2.projects-inline__title Проекты
          .projects-inline__list
            - Project.all.each do |p|
                .projects-inline__item
                  .projects-inline__logo
                    = image_tag p.logo.project_logo
                  h3.projects-inline__name = p.name
                  p.projects-inline__description == p.description

  - else
    = render partial: "projectsInner"

  .content-page__inner
    .content-page__lead.content-page__column.content-page__column--left.page-about__tech
      h2.bookmark Технология
      .content-page__factoid
        p В&nbsp;производстве основных изделий используем методы автоматизированной машинной намотки, напыления, пропитки под&nbsp;давлением и&nbsp;ручного формования
        aside.factoid.factoid--top
          h3.factoid__title.u-green Производим нестандартные изделия
          p Для&nbsp;нестандартных изделий применяем различные виды инжекции и&nbsp;термоформовочное штампование.

    = render partial: "technologyMethods"

  .content-page__inner
    .content-page__row.page-about__material
      .content-page__lead.content-page__column
        .factoid-image
          .factoid-image__inner
            .page-about__material-image
              img.factoid-image__img src="/img/about/material.png"
              .page-about__material-annotation.page-about__material-annotation--first Стекломат
              .page-about__material-annotation.page-about__material-annotation--second Стеклонить
            p.factoid-image__annotation В трубной заготовке основным стекловолокном является стеклонить (ровинг), а армирующим — стекломат. В качестве связующего вещества используется полиэфирная или эпоксидная смола.
      .content-page__lead.content-page__column
        h2.bookmark Материал
        p В&nbsp;зависимости от&nbsp;изделия, габаритов, применения и&nbsp;среды использования подбираем технологию производства и&nbsp;материалы.
        p Все изделия производим из&nbsp;многослойного армированного стеклопластика&nbsp;&mdash; композитного материала на&nbsp;основе нескольких разнонаправленных слоёв стекловолокна и&nbsp;связующего вещества.

    .content-page__row.page-about__control
      .content-page__lead.content-page__column
        h2.bookmark Контроль качества
        p Чтобы сохранить качество изделий, мы&nbsp;разработали и&nbsp;ввели систему производственного контроля. Составили формы типового и&nbsp;выборочного контроля изделий.
        p Каждый этап производства, включая маркировку, проверяется отдельно. По&nbsp;завершению производства тестируем готовое изделие, блоки и&nbsp;комплектующие.
        p С&nbsp;документами на&nbsp;изделие даём копию бланка проверки.
        .content-links
          .content-links__title Учли требования стандартов
          .content-links__row
            .content-links__column

              .content-links__item
                a.bordered href="http://www.easc.org.by/" target="_blank" Межгосударственного совета по&nbsp;стандартизации, метрологии и&nbsp;сертификации
              .content-links__item
                a.bordered href="http://www.bsigroup.com/" target="_blank" Британского Института Стандартов
            .content-links__column
              .content-links__item
                a.bordered href="http://www.gost.ru/wps/portal/" target="_blank" Федерального агенства по техническому регулированию и метрологии

              .content-links__item
                a.bordered href="http://www.cen.eu/" target="_blank" Европейского комитета по&nbsp;стандартизации

      .content-page__column
        .page-about__control-example
          img src="/img/about/lists.png"
          p
            | Пример бланка для типового производственного контроля

    - if Recommendation.any?
        .docs
          h2.docs__title.bookmark Рекомендации
          .docs__list class="scroller"
            - Recommendation.all.each_with_index do |r, i|
                .docs__item
                    = link_to "javascript:void(0)", {:class => 'docs__thumb', :data => { :modal => "#docs-#{i}"}}
                        .docs__image
                          = image_tag r.file
                    = link_to r.company, "javascript:void(0)", {:class => 'docs__link', :data => { :modal => "#docs-#{i}"}}
                    p.docs__location = r.city

    - else

        .docs
          h2.docs__title.bookmark Рекомендации
          .docs__list class="scroller"
            .docs__item
              a.docs__thumb href="javascript:void(0)" data-modal="#docs-1"
                .docs__image
                  img src="/img/about/sertificates/baurama.png" alt=""
              a.docs__link href="javascript:void(0)" data-modal="#docs-1" ООО «Баурама»
              p.docs__location Санкт-Петербург

            .docs__item
              img data-modal="#docs-2" src="/img/about/sertificates/giprotyazh.png" alt=""
              a.docs__link href="javascript:void(0)" data-modal="#docs-2" ООО «Гипротяжмаш»
              p.docs__location Москва

            .docs__item
              img data-modal="#docs-3" src="/img/about/sertificates/promstroy.png" alt=""
              a.docs__link href="javascript:void(0)" data-modal="#docs-3" ООО «ПромСтрой»
              p.docs__location Санкт-Петербург




    .content-page__row.page-about__partnership
      .content-page__lead.content-page__column
        h2.bookmark Сотрудничество
        h3 Для дилеров
        p Проведём обучение, снабдим каталогами и&nbsp;необходимыми документами, поможем в&nbsp;общении с&nbsp;клиентами.
        p Эксклюзивное и&nbsp;<nobr>не-эксклюзивное</nobr> сотрудничество по&nbsp;группам продуктов и&nbsp;всей линейке.
        h3 Для предприятий и&nbsp;госкомпаний
        p Возьмём ваш проект на&nbsp;частичную или полную реализацию &laquo;под ключ&raquo;.
        p
          | Разработаем решение, спроектируем и&nbsp;согласуем. Произведём, протестируем и&nbsp;доставим на&nbsp;место. Выполним
          span.u-nobr шеф-монтаж
          | или установим сами.

      .content-page__column
        .page-about__contact
          = render partial: "contactForm"


    - Recommendation.all.each_with_index do |r, i|
      .modal id="docs-#{i}"
        header.modal__header
          .modal__header-inner
            .modal__title Рекомендации
            .modal__close ✕
        .modal__content
          .modal__name = r.company
          .modal__image
              = image_tag r.file, :width => 700

    = content_for :scripts
        script src="/js/about.js"
