= content_for :body_class
    | main-page

= content_for :container_class
    | container container--blue main-page__bg

= content_for :custom_layers

    .layer.layer--1
    .layer.layer--2
    .layer.layer--3

= content_for :notification
    = render partial: "notification"

.main-alternate
  .main-factoid
    .main-factoid__inner
      h3.main-factoid__title
        span.u-caps РФ
        | &nbsp;и&nbsp;
        span.u-caps СНГ
      p.main-factoid__annotation Доставляем по&nbsp;России, Казахстану, Белоруссии и&nbsp;Украине

  .main-alternate__slider
    .main-slide
      .main-slide__link
        a href="#" Ливневые очистные сооружения
      .main-alternate__product
        img data-main="true" src="/img/maslobenz.png" alt="маслобензоотделитель серии МБ ПУ"
        p
          | Например,&nbsp;
          a.black href="#" Маслобензоотделитель серии МБ ПУ
    .main-slide
      .main-slide__link
        a href="#" Щиты управления
      .main-alternate__product
        img data-main="true" src="/img/image.png" alt="маслобензоотделитель серии МБ ПУ"
        p
          | Например,&nbsp;
          a.black href="#" Маслобензоотделитель серии МБ ПУ


.main-info
  .main-info__left
    .main-links
      .main-links__col.main-links__col--narrow
        h3.main-links__name Производим
        .main-links__item
          a href="#" Насосные станции
        .main-links__item
          a href="#" Ливневая канализация
        .main-links__item
          a href="#" Жироотделители
        .main-links__item
          a href="#" Ёмкости и резервуары
        .main-links__item
          a href="#" Локальная очистка
        .main-links__item
          a href="#" Трубы и газоходы
      .main-links__col.main-links__col--wide
        h3.main-links__name Продаём
        .main-links__item
          a href="#" Скрубберы и газоочистка
        .main-links__item
          a href="#" Дробилки и измельчители
        .main-links__item
          a href="#" Щиты управления
        .main-links__item
          a href="#" Насосы
      .main-links__col.main-links__col--full
        h3.main-links__name Услуги
        .main-links__item
          a href="#" Консультации
        .main-links__item
          a href="#" Расчёт, подбор и проектирование
        .main-links__item
          a href="#" Доставка
        .main-links__item
          a href="#" Шеф-монтаж и пусконаладка
        .main-links__item
          a href="#" Обслуживание
  .main-info__right
    .main-news
      h3.main-news__title
        a.black href="#" Новости и статьи

      .main-news__item
        a.main-news__name href="#" Транспортировка и обслуживание пескоуловителя серии ПУ
        .main-news__meta 30 мая, новость

      .main-news__item
        a.main-news__name href="#" Исследование прочности стеклопластика
        .main-news__meta 12 апреля, статья

      .main-news__item
        a.main-news__name href="#" Разработали новые панели для насосов
        .main-news__meta 1 апреля, новость

      .main-news__btn
        a href="#" Подписаться на обновления


= render partial: "mainGallery"


.container
    .application-form.application-form--stable
      .application-form__inner
        .application-form__wrap
          header.application-form__header
            h2.application-form__title Подберём комплектацию и проконсультируем
            .application-form__contacts
              | +7 (812) 244-90-95 ·
              a.black href="mailto:info@plastgrup.ru"  info@plastgrup.ru
          form.application-form__form action=("")
            label.application-form__text
              textarea.application-form__textarea name='form-textarea' placeholder=("Характеристики проекта и местоположение")
            input.application-form__file-input hidden="true" type="file" /
            a.application-form__file href="#" Прикрепить смету или план проекта
            a.application-form__icon href="#"
            label.application-form__tel
              input.application-form__tel-input name="application-phone" placeholder=("Телефон или почта") type="text" /
            button.application-form__btn type="submit"  Оставить заявку

    .application-form.application-form--hidden
      form.application-form__form action=("")
        textarea.application-form__textarea name='form-textarea' placeholder=("Характеристики проекта и местоположение")
        input.application-form__file-input name='form-file' hidden="true" type="file" /
        input.application-form__tel-input name="application-phone" placeholder=("Телефон или почта") type="text" /



= content_for :scripts
    script src="/js/owl.carousel.min.js"
    script src="/js/main.js"
