include _disclaimer.html

.container.container--blue.container--category
  // header
  header.header
    .header__inside
      .header__logo
        a href="#"
          img alt="logo" width="118" height="55" src="/img/logo.png" /
      .mainmenu
        .mainmenu__item
          a.mainmenu__link href="#"
            span Насосные станции
        .mainmenu__item.mainmenu__item--active
          a.mainmenu__link.mainmenu__link--active href="#"
            span Ливневая канализация
        .mainmenu__item
          a.mainmenu__link href="#"
            span Жироотделители
        .mainmenu__item
          a.mainmenu__link href="#"
            span Все продукты
      .header__contacts
        .contacts-menu
          a.hc-link href="#" О компании
          a.hc-link href="#" Услуги
          a.hc-link href="#" Новости и статьи
          a.hc-link href="#" Контроль качества
        a.contacts-tel href="#" 8 800 200-06-00

  .page
    h1.page__title Ливневая канализация

  .category-products
    .category-products__inner
      .category-products__links
        .category-products__link
          a data-point="1" href="#"
            | Аккумулирующие <br>ёмкости
            span.dot
        .category-products__link
          a data-point="2" href="#"
            | Пескоуловители
            span.dot
        .category-products__link
          a data-point="3" href="#"
            | Маслобензоотделители
            span.dot
        .category-products__link
          a data-point="4" href="#"
            | Блоки угольной <br>доочистки
            span.dot
        .category-products__link
          a data-point="5" href="#"
            | УФ&nbsp;обеззараживание
            span.dot
        .category-products__link
          a data-point="6" href="#"
            | Система очистки <br>«Триплекс»
            span.dot
      .category-products__image
        img src="/img/image.png" width="900" height="523" alt="" /


  .content
    .content__inner
      .col.col--left
        h2 Ливневая канализация
        .content__factoid
          p Стандартная гарантия на&nbsp;корпус и&nbsp;комплектующие&nbsp;— до&nbsp;двух лет. Предлагаем расширенную гарантию при&nbsp;нашем шеф-монтаже и&nbsp;пуско-наладке.
          aside.factoid.factoid--top.u-empty-field
            .feature
              .feature__caption Диаметры корпуса,&nbsp;мм
              .feature__value 600–3700
            p Отдельно производим <nobr>гипер-резервуары</nobr> диаметром более 5&nbsp;метров
            p
              a.factoid__link href="#" О корпусе из стеклопластика
        h2 Комплектация
        p Комплектуем погружными и&nbsp;сухими насосами, трубопроводами и&nbsp;трубной арматурой, дробилками и&nbsp;измельчителями, щитами управления, обслуживающими элементами и&nbsp;наземными камерами обслуживания.
        h2 Гарантии
        p Стандартная гарантия на&nbsp;корпус и&nbsp;комплектующие&nbsp;— до&nbsp;двух лет. Предлагаем расширенную гарантию при&nbsp;нашем шеф-монтаже и&nbsp;пуско-наладке.
        p На корпус&nbsp;— до&nbsp;20&nbsp;лет, на&nbsp;комплектующие&nbsp;— до&nbsp;5&nbsp;лет.

        .links-list
          .links-list__row
            .links-list__column
              h3.links-list__title Исследования
              ul.links-list__list
                li.links-list__item
                  a href="#"
                    | Двухкратный запас прочности корпуса из&nbsp;стеклопластика
                    span.links-list__annotation Архив · 2,3 МБ<span>↓</span>
                li.links-list__item
                  a href="#" Проверка устойчивости и&nbsp;прочности корпуса стеклопластиковой ёмкости
                li.links-list__item
                  a href="#"
                    | Проверка устойчивости и&nbsp;прочности корпуса стеклопластиковой ёмкости
                    span.links-list__annotation Архив · 5,7 МБ<span>↓</span>
                li.links-list__item
                  a href="#" Двухкратный запас прочности корпуса из&nbsp;стеклопластика
                li.links-list__item
                  a href="#" Двухкратный запас прочности корпуса из&nbsp;стеклопластика
                li.links-list__item
                  a href="#" Двухкратный запас прочности корпуса из&nbsp;стеклопластика
            .links-list__column
              h3.links-list__title Руководства
              ul.links-list__list
                li.links-list__item
                  a href="#" Транспортировка и&nbsp;обслуживание пескоуловителя серии ПУ
                li.links-list__item
                  a href="#" Транспортировка и&nbsp;обслуживание маслобензоотделителя серии МБ&nbsp;ПУ
                li.links-list__item
                  a href="#" Установка подземных горизонтальных ёмкостей из&nbsp;стеклопластика
                li.links-list__item
                  a href="#" Транспортировка и&nbsp;обслуживание пескоуловителя серии ПУ
                li.links-list__item
                  a href="#" Транспортировка и&nbsp;обслуживание маслобензоотделителя серии МБ&nbsp;ПУ
                li.links-list__item
                  a href="#" Установка подземных горизонтальных ёмкостей из&nbsp;стеклопластика
            .links-list__column
              h3.links-list__title Сертификаты
              ul.links-list__list
                li.links-list__item
                  a href="#" Сертификат соответствия ГОСТ&nbsp;12.2.003-91
                li.links-list__item
                  a href="#" Декларация о&nbsp;соответствии техническому регламенту о&nbsp;безопасности машин и&nbsp;оборудования
                li.links-list__item
                  a href="#" Сертификат соответствия ГОСТ&nbsp;12.2.003-91
                li.links-list__item
                  a href="#" Декларация о&nbsp;соответствии техническому регламенту о&nbsp;безопасности машин и&nbsp;оборудования
                li.links-list__item
                  a href="#" Сертификат соответствия ГОСТ&nbsp;12.2.003-91
                li.links-list__item
                  a href="#" Декларация о&nbsp;соответствии техническому регламенту о&nbsp;безопасности машин и&nbsp;оборудования
            .links-list__column
              h3.links-list__title Схемы
              ul.links-list__list
                li.links-list__item.links-list__item--download
                  a href="#"
                    | Аккумулирующие ёмкости
                    span.links-list__annotation Архив с DWG · 2,3 МБ<span>↓</span>
                li.links-list__item.links-list__item--download
                  a href="#"
                    | Пескоуловители
                    span.links-list__annotation Архив с DWG · 2 МБ<span>↓</span>
                li.links-list__item.links-list__item--download
                  a href="#"
                    | Маслобензоотделитель
                    span.links-list__annotation Архив с DWG · 35 МБ<span>↓</span>
                li.links-list__item.links-list__item--download
                  a href="#"
                    | Аккумулирующие ёмкости
                    span.links-list__annotation Архив с DWG · 2.3 МБ<span>↓</span>
                li.links-list__item.links-list__item--download
                  a href="#"
                    | Пескоуловители
                    span.links-list__annotation Архив с DWG · 2 МБ<span>↓</span>
                li.links-list__item.links-list__item--download
                  a href="#"
                    | Маслобензоотделитель
                    span.links-list__annotation Архив с DWG · 35 МБ<span>↓</span>
          .shadow
            span.shadow__top
            .links-list__item
              a.shadow__text href="#"
                span Показать все документы


  .gallery.section
    .gallery__inner
      h2.gallery__title Фотографии продуктов, производства и установки
      .gallery__row
        a.gallery__item.gallery__item--narrow href="#"
          .gallery__image style="background-image: url(/img/photo.jpg)"
        a.gallery__item.gallery__item--wide href="#"
          .gallery__image style="background-image: url(/img/photo4.jpg)"
      .gallery__row
        a.gallery__item.gallery__item--wide href="#"
          .gallery__image style="background-image: url(/img/photo5.jpg)"
        .gallery__item.gallery__item--narrow
          p.gallery__text Проверяем качество сборки, тестируем герметичность корпуса и&nbsp;работу комплектующих. Проверяем прочность, жёсткость и&nbsp;растяжение стеклопластика.
      .gallery__row
        a.gallery__item.gallery__item--narrow href="#"
          .gallery__image style="background-image: url(/img/photo2.jpg)"
        a.gallery__item.gallery__item--narrow href="#"
          .gallery__image style="background-image: url(/img/photo6.jpg)"
        a.gallery__item.gallery__item--narrow href="#"
          .gallery__image style="background-image: url(/img/photo3.jpg)"
          .gallery__hover
            p Все 12 фотографий

.container.container--no-pt
  .application-form.application-form--stable
    .application-form__inner
      .application-form__wrap
        header.application-form__header
          h2.application-form__title Подберём комплектацию и проконсультируем
          .application-form__contacts
            | +7 (812) 244-90-95 ·
            a.black href="mailto:info@plastgrup.ru"  info@plastgrup.ru
        form.application-form__form action=("")
          label.application-form__text
            textarea.application-form__textarea name='form-textarea' placeholder=("Характеристики проекта и местоположение")
          input.application-form__file-input hidden="true" type="file" /
          a.application-form__file href="#" Прикрепить смету или план проекта
          a.application-form__icon href="#"
          label.application-form__tel
            input.application-form__tel-input name="application-phone" placeholder=("Телефон или почта") type="text" /
          button.application-form__btn type="submit"  Оставить заявку

  .application-form.application-form--hidden
    form.application-form__form action=("")
      textarea.application-form__textarea name='form-textarea' placeholder=("Характеристики проекта и местоположение")
      input.application-form__file-input name='form-file' hidden="true" type="file" /
      input.application-form__tel-input name="application-phone" placeholder=("Телефон или почта") type="text" /

  .qlist
    .qlist__inner
      a.qlist__top href="http://www.plastgrup.ru/questionnaire/pump-station" target="_blank"
        header.qlist__header
          .qlist__text Точная оценка сроков и стоимости
          .qlist__btn Скачать опросный лист
        .qlist__image
          img src="/img/qlist.png" alt="Опросный лист" width="556" height="230" /
      .qlist__bottom


  include _g_benefits.html


.application-form.application-form--pinned
  .application-form__inner
    .application-form__wrap
      header.application-form__header
        h2.application-form__title Подберём комплектацию и проконсультируем
        .application-form__contacts
          | +7 (812) 244-90-95 ·
          a.black href="mailto:info@plastgrup.ru"  info@plastgrup.ru
      form.application-form__form action=("")
        label.application-form__text
          textarea.application-form__textarea name='form-textarea' placeholder=("Характеристики проекта и местоположение")
        input.application-form__file-input hidden="true" type="file" /
        a.application-form__file href="#" Прикрепить смету или план проекта
        a.application-form__icon href="#"
        label.application-form__tel
          input.application-form__tel-input name="application-phone" placeholder=("Телефон или почта") type="text" /
        button.application-form__btn type="submit"  Оставить заявку

footer.footer
  include _footer.html
script src="/js/category.js"
