
.page
    h1.page__title Адреса и телефоны

= render partial: "contactForm"

.contacts-table
    h2.contacts-table__title Дилеры
    - Dealer.where(active: true).each do |d|
        .contacts-table__item
          .contacts-table__left
            .contacts-table__city = d.city
            .contacts-table__company = d.name
          .contacts-table__right
            .contacts-table__phone = d.phone
            = mail_to d.email, nil, :class => "contacts-table__email"

          .contacts-table__bottom = link_to d.address, "http://maps.google.com/?q=#{URI.encode("город #{d.city}, #{d.address}")}", :class => "contacts-table__address", :target => "_blank"

= content_for :scripts do
    script src="/js/contacts.js"
