= content_for :disclaimer
    = render partial: "disclaimer"

= content_for :body_class
    | main-page

= content_for :footer_class
  | footer--blue

= content_for :container_class
    | container container--blue main-page__bg

= content_for :custom_layers

    .layer.layer--1
    .layer.layer--2
    .layer.layer--3

= content_for :notification
    = render partial: "notification", locals: {n: @news.first}


.main-page__links
    .main-page__headline Производим:
    - i = 0
    - @main_items.each do |item|

        .main-page__link
            - shortClassName = (item.class.to_s.downcase == "category") ? "cat" : "product"
            - unless @main_list_examples[shortClassName + "/" + item.id.to_s].presence
                = link_to item.name, (item.class.to_s.downcase == "category") ? category_path(item) : product_path(item)
            - else
                - product = Product.find(@main_list_examples[shortClassName + "/" + item.id.to_s])
                - odd = i % 2 == 0
                - i += 1
                .mp-link
                    - if odd
                        p.main-page__link-before
                            | Например
                            br
                            = link_to "«#{product.name}»", product_path(product)
                    = link_to item.name, (item.class.to_s.downcase == "category") ? category_path(item) : product_path(item)


                    - unless odd
                        p.main-page__link-after
                            | Например
                            br
                            = link_to "«#{product.name}»", product_path(product)

    a.main-factoid href="#"
        span.main-factoid__inner
          span.main-factoid__title
            span.u-caps РФ
            |  и&nbsp;
            span.u-caps СНГ
          span.main-factoid__annotation Доставляем по&nbsp;России, Казахстану, Белоруссии и&nbsp;Украине

.main-page__product style="margin-top: -60px;"
  .main-page__product-inner
    img data-main="true" src=@main_product.images.first.file alt=@main_product.subtitle
    p
        = link_to @main_product.subtitle, @main_product, {:class => "black"}

.main-info
  .main-info__left
    .main-links
      .main-links__col.main-links__col--narrow
        h3.main-links__name Продукты
        - id_indices = Hash[Setng::get("bottom_menu").map.with_index { |id,idx| [id,idx] }]
        - Product.where(id: Setng::get("bottom_menu")).sort_by{|p| id_indices[p.id.to_s]}.each do |p|
            .main-links__item
                = link_to p.name, p

      .main-links__col.main-links__col--wide
        h3.main-links__name Услуги
        .main-links__item
            = link_to "Консультации", pages_services_path(:anchor => "consultation")
        .main-links__item
            = link_to "Расчёт, подбор и проектирование", pages_services_path(:anchor => "calculation")
        .main-links__item
            = link_to "Доставка", pages_services_path(:anchor => "shipping")
        .main-links__item
            = link_to "Шеф-монтаж и пусконаладка", pages_services_path(:anchor => "installation")
        .main-links__item
            = link_to "Обслуживание", pages_services_path(:anchor => "services")

  .main-info__right
    .main-news
        h3.main-news__title
            = link_to "Новости и статьи", Setng::get("blog_link"), :class => "black", :target => "_blank"

        - @news.each do |n|
            .main-news__item
                = link_to n.title, n.link, :class => "main-news__name", :target => "_blank"

                .main-news__meta = l n.published, format: :main

        .main-news__btn
            a href="#" Подписаться на обновления


= render partial: "mainGallery"


.container
.application-form.application-form--stable
  .application-form__inner
    .application-form__wrap
      header.application-form__header
        h2.application-form__title Подберём комплектацию и проконсультируем
        .application-form__contacts
          | +7 (812) 244-90-95 ·
          a.black href="mailto:info@plastgrup.ru"  info@plastgrup.ru
      form.application-form__form action=("")
        label.application-form__text
          textarea.application-form__textarea name='form-textarea' placeholder=("Характеристики проекта и местоположение")
        input.application-form__file-input hidden="true" type="file" /
        a.application-form__file href="#" Прикрепить смету или план проекта
        a.application-form__icon href="#"
        label.application-form__tel
          input.application-form__tel-input name="application-phone" placeholder=("Телефон или почта") type="text" /
        button.application-form__btn type="submit"  Оставить заявку

.application-form.application-form--hidden
  form.application-form__form action=("")
    textarea.application-form__textarea name='form-textarea' placeholder=("Характеристики проекта и местоположение")
    input.application-form__file-input name='form-file' hidden="true" type="file" /
    input.application-form__tel-input name="application-phone" placeholder=("Телефон или почта") type="text" /




= render partial: "g_benefits"
= render partial: "subscribePopup"

= content_for :scripts
    script src="/js/main.js"
