.container.container--no-pt
  .application-form.application-form--stable
    .application-form__inner
      .application-form__wrap
        header.application-form__header
          h2.application-form__title Подберём комплектацию и проконсультируем
          .application-form__contacts
            | +7 (812) 244-90-95 ·
            a.black href="mailto:info@plastgrup.ru"  info@plastgrup.ru
        form.application-form__form action=("")
          label.application-form__text
            textarea.application-form__textarea name='form-textarea' placeholder=("Характеристики проекта и местоположение")
          input.application-form__file-input hidden="true" type="file" /
          a.application-form__file href="#" Прикрепить смету или план проекта
          a.application-form__icon href="#"
          label.application-form__tel
            input.application-form__tel-input name="application-phone" placeholder=("Телефон или почта") type="text" /
          button.application-form__btn type="submit"  Оставить заявку

  .application-form.application-form--hidden
    form.application-form__form action=("")
      textarea.application-form__textarea name='form-textarea' placeholder=("Характеристики проекта и местоположение")
      input.application-form__file-input name='form-file' hidden="true" type="file" /
      input.application-form__tel-input name="application-phone" placeholder=("Телефон или почта") type="text" /

  .qlist
    .qlist__inner
      a.qlist__top href="http://www.plastgrup.ru/questionnaire/pump-station" target="_blank"
        header.qlist__header
          .qlist__text Точная оценка сроков и стоимости
          .qlist__btn Скачать опросный лист
        .qlist__image
          img src="/img/qlist.png" alt="Опросный лист" width="556" height="230" /
      .qlist__bottom




.application-form.application-form--pinned
  .application-form__inner
    .application-form__wrap
      header.application-form__header
        h2.application-form__title Подберём комплектацию и проконсультируем
        .application-form__contacts
          | +7 (812) 244-90-95 ·
          a.black href="mailto:info@plastgrup.ru"  info@plastgrup.ru
      form.application-form__form action=("")
        label.application-form__text
          textarea.application-form__textarea name='form-textarea' placeholder=("Характеристики проекта и местоположение")
        input.application-form__file-input hidden="true" type="file" /
        a.application-form__file href="#" Прикрепить смету или план проекта
        a.application-form__icon href="#"
        label.application-form__tel
          input.application-form__tel-input name="application-phone" placeholder=("Телефон или почта") type="text" /
        button.application-form__btn type="submit"  Оставить заявку
