.content-page.page-services
	.content-page__inner
		h1.page-services__title Услуги

		.page-services__section.content-page__row.content-page__row--equal-cols
			.content-page__lead.content-page__column.page-services__left-col
				h2#installation
					span.u-nobr Шеф-монтаж
					|  и&nbsp;
					span.u-nobr пуско-наладка
					p Проследим за соблюдением инструкций и требований установки в рамках шеф-монтажа. Составим акт и увеличим гарантию на стеклопластиковый корпус наших изделий до 10…25 лет.
				p
					| Большинство проблем возникает
					span.u-nobr  из-за
					|  неправильного монтажа и&nbsp;наладки оборудования. Мы&nbsp;проследим за&nbsp;соблюдением инструкций и&nbsp;требований установки в&nbsp;рамках
					span.u-nobr  шеф-монтажа.
				p
					| Проведём
					span.u-nobr  пуско-наладку,
					|  проверим работу всех систем и&nbsp;передадим объект готовым к&nbsp;эксплуатации. Увеличим гарантию на&nbsp;изделие.

			.content-page__column.page-services__guarantee
				.content-page__image
					img class="u-rotate-right" src="/img/services/chief-installation.jpg"
				.factoid-number
					.factoid-number__value.u-green до&nbsp;25&nbsp;лет
					.factoid-number__annotation
						| Гарантия на&nbsp;наши изделия, при&nbsp;
						span.u-nobr шеф-монтаже
						|  и&nbsp;
						span.u-nobr пуско-наладке


		.page-services__section.content-page__row.content-page__row--equal-cols
			.content-page__lead.content-page__column
				.content-page__image
					img class="u-rotate-left" src="/img/services/repair.jpg"

			.content-page__column.page-services__bottom-factoid
				.content-page__lead
					h2#services Обслуживание
					p Установим график обслуживания и&nbsp;проведём работы в&nbsp;удобное для&nbsp;вас время. Проведём диагностику системы и&nbsp;устраним неполадки.
				.factoid-warning
					.factoid-warning__text Стеклопластиковый корпус не&nbsp;требует обслуживания.


		.page-services__section.content-page__row.content-page__row--equal-cols
			.content-page__lead.content-page__column.page-services__left-col.page-services__left-col--large
				h2#calculation Расчёт, подбор и&nbsp;проектирование
				p Проверим ваши расчёты или&nbsp;рассчитаем проект с&nbsp;нуля. Спроектируем и&nbsp;внесём изменения в&nbsp;проект.
				p Предложим альтернативные решения для&nbsp;уменьшения стоимости проекта. Подготовим необходимую теническую документацию.

			.content-page__column.page-services__guarantee
				.page-services__doc
					img src="/img/services/doc.png"
				p Опросные листы:
				p <a class="bordered u-nobr" href="">ливнеочистные сооружения</a>, <a class="bordered u-nobr" href="">насосные станции</a>, <a class="bordered u-nobr" href="">накопительные ёмкости</a>


		.page-services__section.content-page__row.content-page__row--equal-cols
			.content-page__lead.content-page__column
				.content-page__image
					img class="u-rotate-left" src="/img/services/delivery.jpg"

			.content-page__column.page-services__bottom-factoid
				.content-page__lead
					h2#shipping Доставка
					p Доставим по&nbsp;России, СНГ и&nbsp;Европе. Оформим необходимые сопроводительные документы, организуем таможенную очистку.
				.factoid-number-inline
					.factoid-number-inline__value.u-green 4&nbsp;из&nbsp;5
					.factoid-number-inline__annotation клиентов выбирают<br>нашу доставку

		.content-page__row.page-services__partnership
			.content-page__lead.content-page__column
				h2#consultation Консультация
				p Бесплатно проконсультируем по&nbsp;расчёту и&nbsp;подбору продукции и&nbsp;комплектующих.
				p Проверим расчёты. Предложим комплексные или альтернативные решения для уменьшения стоимости проекта. Подготовим необходимую техническую документацию.
				p За 13 лет работы мы рассчитали десятки тысяч проектов и произвели 10 000 изделий. Консультировали сотни компаний по проектам ливневых очистных сооружений, насосных станций и систем хранения. 

			.content-page__column
				.page-services__contact
					= render partial: "contactForm"
