.content
  .content__inner
    img.content__thumb src="/img/big-product.png"
    .col.col--left
      h1 О компании и&nbsp;о&nbsp;замечательных сотрудниках
      .content__factoid
        p.content__lead Производим системы комплексной очистки ливневых вод, насосные станции и&nbsp;накопительные ёмкости из&nbsp;стеклопластика
        aside.factoid.factoid--top.factoid--lead
          h3.factoid__title.u-green Производство и&nbsp;контроль качества
          p Проверяем качество сборки, тестируем герметичность корпуса и&nbsp;работу комплектующих. Проверяем прочность, жёсткость и&nbsp;растяжение стеклопластика.
      p Основной род деятельности компании&nbsp;— производство и&nbsp;продажа насосных станций, систем очистки ливнёвых и&nbsp;сточных вод, локальных очистных сооружений, колодцев, накопительных ёмкостей и&nbsp;резервуаров различного назначения. С декабря 2010 года компания также занимается производством нестандартных изделий из&nbsp;композитных материалов.
        
      p Сегодня мы&nbsp;являемся одной из&nbsp;ведущих компаний в&nbsp;России, производящей системы комплексной очистки ливневых вод, насосные станции и&nbsp;различные накопительные ёмкости из&nbsp;стеклопластика.
      .content__factoid
        p За 12 лет мы произвели 9000 изделий, которые используются в&nbsp;России, Казахстане, Белоруссии и на Украине.
        aside.factoid.factoid--bottom
          .number
            .number__value.u-green 15 лет
            .number__annotation на рынке
  
  img.content__thumb src="/img/photo.jpg"
  
  .content__inner
    .col.col--right
      .content__factoid
        p В этой папке 16 элементов. Ну а самих страниц там вообще около четырех. Так называемые тексты там уже есть. Их нужно, во всяком случае по моему мнению, немного подправить местами или кое-где поменять. Объем там небольшой, если, конечно, не надо переводить еще и всякие интегрированные элементы (карту, например).
        aside.factoid.factoid--top
          .factoid__title.factoid__title--large Производство<br>и&nbsp;контроль<br>качества
      p Большинство проблем и неполадок возникает по причине неправильного монтажа и наладки оборудования и комплектующих.
      p Настоятельно рекомендуем следовать нашим инструкциям и пользоваться услугами сертифицированных строительных компаний. По желанию клиента проведём шеф-монтаж и настройку оборудования.

      .image
        img src="/img/photo2.jpg" alt=""
        p Установка маслобензоотделителя

      .content__factoid
        p В этой папке 16 элементов. Ну а самих страниц там вообще около четырех. Так называемые тексты там уже есть. Их нужно, во всяком случае по моему мнению, немного подправить местами или кое-где поменять. Объем там небольшой, если, конечно, не надо переводить еще и всякие интегрированные элементы (карту, например).
        aside.factoid.factoid--bottom
          .number
            .number__value.u-green 15 лет
            .number__annotation на рынке
  
  = render partial: "projectsInner"


  .content__inner
    .col.col--left
      .content__factoid
        .image
          img src="/img/photo2.jpg" alt=""
          p Установка маслобензоотделителя
        aside.factoid.factoid--top
          h3.factoid__title.factoid__title--large.u-green.u-light  Системы комплексной очистки<br>ливневых вод&nbsp;— наш конёк!
      p В этой папке 16 элементов. Ну а самих страниц там вообще около четырех. Так называемые тексты там уже есть. Их нужно, во всяком случае по моему мнению, немного подправить местами или кое-где поменять. Объем там небольшой, если, конечно, не надо переводить еще и всякие интегрированные элементы (карту, например).
  
.content.content--bg.u-bg-blue
  .content__inner
    .grid
      .grid__row
        .grid-1-1
          h2 Проекты компании
        .grid-1-2
          p В этой папке 16 элементов. Ну а самих страниц там вообще около четырех. Так называемые тексты там уже есть. Их нужно, во всяком случае по моему мнению, немного подправить местами или кое-где поменять. Объем там небольшой, если, конечно, не надо переводить еще и всякие интегрированные элементы (карту, например).
        .grid-1-2
          p В этой папке 16 элементов. Ну а самих страниц там вообще около четырех. Так называемые тексты там уже есть. Их нужно, во всяком случае по моему мнению, немного подправить местами или кое-где поменять. Объем там небольшой, если, конечно, не надо переводить еще и всякие интегрированные элементы (карту, например).