include _disclaimer.html

.container
  // header
  header.header
    .header__inside
      .header__logo
        a href="#"
          img alt="logo" width="118" height="55" src="/img/logo.png" /
      .mainmenu
        .mainmenu__item
          a.mainmenu__link href="#" 
            span Насосные станции
        .mainmenu__item
          a.mainmenu__link href="#" 
            span Ливневая канализация
        .mainmenu__item
          a.mainmenu__link href="#" 
            span Жироотделители
        .mainmenu__item
          a.mainmenu__link href="#" 
            span Все продукты
      .header__contacts
        .contacts-menu
          a.hc-link href="#" О компании
          a.hc-link href="#" Услуги
          a.hc-link href="#" Новости и статьи
          a.hc-link href="#" Контроль качества
        a.contacts-tel href="#" 8 800 200-06-00
  

  .content
    .content__inner
      .col.col--center.u-no-mb
        h1 О компании
        p.content__lead Производим системы комплексной<br>очистки ливневых вод, насосные<br>станции и&nbsp;накопительные ёмкости <br> из&nbsp;стеклопластика
      img.content__thumb.u-no-mt src="/img/big-product.png" alt=""
      .col.col--left
        .content__factoid
          p Основной род деятельности компании&nbsp;&mdash; производство и&nbsp;продажа насосных станций, систем очистки ливнёвых и&nbsp;сточных вод, локальных очистных сооружений, колодцев, накопительных ёмкостей и&nbsp;резервуаров различного назначения. С&nbsp;декабря 2010 года компания также занимается производством нестандартных изделий из&nbsp;композитных материалов.
          aside.factoid.factoid--top
            h3.factoid__title.u-green Производство и&nbsp;контроль качества
            p Проверяем качество сборки, тестируем герметичность корпуса и&nbsp;работу комплектующих. Проверяем прочность, жёсткость и&nbsp;растяжение стеклопластика.
        p Сегодня мы&nbsp;являемся одной из&nbsp;ведущих компаний в&nbsp;России, производящей системы комплексной очистки ливневых вод, насосные станции и&nbsp;различные накопительные ёмкости из&nbsp;стеклопластика.
        .content__factoid
          p За 12 лет мы произвели 9000 изделий, которые используются в&nbsp;России, Казахстане, Белоруссии и на Украине.
          aside.factoid.factoid--bottom
            .number
              .number__value.u-green 15 лет
              .number__annotation на рынке
          

  .gallery.section
    .gallery__inner
      .gallery__row
        a.gallery__item.gallery__item--narrow href="#"
          .gallery__image style="background-image: url(/img/photo.jpg)"
        a.gallery__item.gallery__item--wide href="#"
          .gallery__image style="background-image: url(/img/photo2.jpg)"
      .gallery__row
        a.gallery__item.gallery__item--wide href="#"
          .gallery__image style="background-image: url(/img/photo5.jpg)"
        .gallery__item.gallery__item--narrow
          p.gallery__text Проверяем качество сборки, тестируем герметичность корпуса и&nbsp;работу комплектующих. Проверяем прочность, жёсткость и&nbsp;растяжение стеклопластика.
    

  .content
    .content__inner
      .col.col--center
        p В этой папке 16 элементов. Ну а самих страниц там вообще около четырех. Так называемые тексты там уже есть. Их нужно, во всяком случае по моему мнению, немного подправить местами или кое-где поменять. Объем там небольшой, если, конечно, не надо переводить еще и всякие интегрированные элементы (карту, например).
        p Большинство проблем и неполадок возникает по причине неправильного монтажа и наладки оборудования и комплектующих.
        .image
          img src="/img/photo2.jpg" alt=""
          p Установка маслобензоотделителя
        p В этой папке 16 элементов. Ну а самих страниц там вообще около четырех. Так называемые тексты там уже есть. Их нужно, во всяком случае по моему мнению, немного подправить местами или кое-где поменять. Объем там небольшой, если, конечно, не надо переводить еще и всякие интегрированные элементы (карту, например).
          
    
    = render partial: "projectsInner"

    .content__inner
      .col.col--left
        .content__factoid
          .image
            img src="/img/photo2.jpg" alt=""
            p Установка маслобензоотделителя
          aside.factoid.factoid--top
            h3.factoid__title.factoid__title--large.u-light.u-green  Системы комплексной очистки<br>ливневых вод&nbsp;— наш конёк!
        h2 Производство и контроль качества
        p В этой папке 16 элементов. Ну а самих страниц там вообще около четырех. Так называемые тексты там уже есть. Их нужно, во всяком случае по моему мнению, немного подправить местами или кое-где поменять. Объем там небольшой, если, конечно, не надо переводить еще и всякие интегрированные элементы (карту, например).


  .content.content--bg.u-bg-blue
    .content__inner
      .grid
        .grid__row
          .grid-1-1
            h2 Проекты компании
          .grid-1-2
            p В этой папке 16 элементов. Ну а самих страниц там вообще около четырех. Так называемые тексты там уже есть. Их нужно, во всяком случае по моему мнению, немного подправить местами или кое-где поменять. Объем там небольшой, если, конечно, не надо переводить еще и всякие интегрированные элементы (карту, например).
          .grid-1-2
            p В этой папке 16 элементов. Ну а самих страниц там вообще около четырех. Так называемые тексты там уже есть. Их нужно, во всяком случае по моему мнению, немного подправить местами или кое-где поменять. Объем там небольшой, если, конечно, не надо переводить еще и всякие интегрированные элементы (карту, например).

footer.footer.footer--blue
  include _footer.html

script src="/js/jquery-2.1.4.min.js"
script src="/js/scroller.min.js"
script src="/js/template.js"