$border-color = #dae6e3


.main-page
  .application-form--stable
    padding-top 45px
    margin-bottom 5px


.application-form
  position relative
  
  padding 17px 0 25px 0 
  
  border-top 1px solid #d6e3df
  
  &--stable
    padding-top 30px
    margin-bottom 22px
    
    .application-form__textarea
      top 0
      bottom -1px
  
  &--hidden
    display none
    

  &__inner
    container()
  

  &__header
    display flex
    align-items center
    justify-content space-between
    
    padding-bottom 10px
  

  &__title
    font-size 24px
    line-height 30px
    font-weight bold
  

  &__contacts
    font-size 15px
    line-height 16px
    
    a
      display inline-block
      margin-left 4px
      vertical-align top
      margin-top 2px
      line-height .9em
  

  &__form
    position relative
    
    display flex
    align-items center
    justify-content space-between
    
    height 40px
    
    background #fff
    border-radius 5px
    border 1px solid $border-color
    
    button, input, textarea
      font-size 17px
      
      border 0
      outline 0
      background transparent
      -webkit-appearance none
      -webkit-tap-highlight-color none
    
    input, textarea
      display inline-block
      width 100%
      height 100%
    
    input[type='file']
      display none
  

  button.application-form__btn    
    position relative
    right -1px
    
    display inline-block
    flex 0 0 20%
    height 40px
    line-height 17px
    padding-top 11px
    padding-bottom 12px
    
    font-size 17px
    font-family Arial, sans-serif

    color #fff
    background #34b972
    border-radius 0 5px 5px 0
    background linear-gradient(to bottom, #34b972 0%, #3cc384 100%)
    border-bottom 1px solid rgba(78, 142, 25, 0.55)
    transition background .15s ease
    
    &:hover
      background #30a968
      background linear-gradient(to bottom, #32aa69 0%, #37af78 100%)
  

  &__tel
    flex 0 0 20.891608391608391608391608391608%
    height 40px
    
    border-left 1px solid $border-color
    margin-left -2px
    
    input
      height 39px
      margin-top 1px
      text-indent 20px
      line-height normal


  &__file
    flex-grow 0
    
    display inline-block
    margin-right 34px
    padding-top 2px
    
    font-size 13px
    line-height .95 
    
    border-bottom-style dashed
    transition none
    
    &:hover, &.hover
      color #b00
  

  &__icon
    position absolute
    right 42%
    top -6px
    z-index 51
    
    size(17px, 34px)
    
    border 0
    cursor pointer
    background url('/img/pin.png') no-repeat right top
    background-size 13px 68px
    transition background 0s
    
    &:hover, &.hover
      background-position right -34px
  

  &__text
    position relative
    top -1px
    left -1px
    flex-grow 1
    
    height 100%
    margin-right 21px
    
    &.focused
      margin-right 0
      
      .not-empty
        border-right 1px solid $border-color
    
    textarea
      position absolute
      top auto
      bottom -2px
      left 0
      right -10px
      
      z-index 50
      
      min-height 40px
      max-height 180px
      
      padding-top 8px
      padding-left 16px
      
      resize none
      background #fff
      border-radius 5px 0 0 5px
      border 1px solid $border-color
      border-right 0
      
      // transition height .2s


.application-form--pinned
  position fixed
  left 0
  right 0
  bottom 0
  
  z-index 200
  
  margin-bottom 0
  padding 17px 0 25px 0
  
  background #fff
  background rgba(255, 255, 255, 0.95)
  

  .application-form__header
    padding-bottom 5px
  
  
  .application-form__title
    font-size 17px
    line-height 28px