.category-products
  &__inner
    container()
  

  &__links
    display flex
    align-items flex-start
    justify-content center
    
    margin-bottom 50px
    
    text-align center
  

  &__link
    padding 0 11px 
    
    padding-bottom 1px
    
    +above(1250px)
      br
        display none
     
    
    a
      position relative
      z-index 100
      font-size 15px
      
      border none
      
      background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQI12NgXZ9nDAADNQFWz2lKxAAAAABJRU5ErkJggg==')
      background-size 1px 1px
      background-repeat repeat-x
      background-position 0% 90%
      
      &:hover
        background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQI12PYzcBgDAADJADvZz7v/QAAAABJRU5ErkJggg==');
      
      .dot
        position absolute
        bottom 1px
        right -1px
        
        display block
        size(1px)
  

  &__image
    width 900px
    margin auto
    
    img
      display block
      width 100%