.content-page
	h1
		display block
		
		font-size 70px
		line-height 1
	
	h2
		font-size 30px
		font-weight 700
		
		& + .content-page__factoid p:first-child,
		& + p
			margin-top 17px
		
		& + h3
			margin-top 24px
	
	h3
		& + p
			margin-top 2px
	
	p
		padding-right 7%
		
		& + h3
			margin-top 30px
	

	&__inner
		container()
		

	&__row
		display flex
		
		&--equal-cols
			.content-page__column
				width 50%

		.content-page__column
			& > *:not(.content-page__factoid),
			.content-page__factoid > *:not(.factoid)
				width 100%
			
			.factoid
				width 100%
	

	&__column
		& > *:not(.content-page__factoid),
		.content-page__factoid > *:not(.factoid)
			width 72%
		
		.factoid
			width 26.5%
		
		h2, h3, p, img
			width 100%


	&__column--left
		& > *:not(.content-page__factoid)
			margin-right 28%
		
		.content-page__factoid
			& > *:not(.factoid)
				margin-right 28%
			
		.factoid
			left 70%
			width 30%
	

	&__column--right
		& > *:not(.content-page__factoid)
			margin-left 28%
		
		.content-page__factoid
			& > *:not(.factoid)
				margin-left 28%
		
		.factoid
			left 0%
	

	&__column--right-narrow
		& > *:not(.content-page__factoid)
			margin-left 54%
		
		.content-page__factoid
			& > *:not(.factoid)
				margin-left 54%
		
		.factoid
			left 0%
			width 54%
		
		& > *:not(.content-page__factoid),
		.content-page__factoid > *:not(.factoid)
			width 46%


	&__column--half
		& > *:not(.content-page__factoid),
		.content-page__factoid > *:not(.factoid)
			width 54%
		
		& > *:not(.content-page__factoid)
			margin-left 46%
		
		.content-page__factoid
			& > *:not(.factoid)
				margin-left 46%
		
		.factoid
			left 0%
			width 46%
		
		&.content-page__lead
			p
				padding-right 7%
				
				+below(1150px)
					padding-right 0
	
	
	&__factoid
		position relative
	

	&__lead
		h1
			margin-bottom 25px
		
		& > p,
		.content-page__factoid > p
			margin-top 20px
			margin-bottom 20px
			
			font-size 24px
			line-height 36px
		
		.factoid__title
			margin-top 4px
	
	&__image
		padding-bottom 24px