.content
  padding-bottom 1px
  
  &--bg
    margin-top 10px
    padding 30px 0 60px
  
  &__inner
    container()
  

  &__thumb
    display block
    margin 60px auto
    max-width $max-width
    width 100%
    
    &--no-mt
      margin-top 0
    
    & + .col
      margin-top 80px !important
  

  h1
    display block
    margin-bottom 10px
    
    font-size 70px
    line-height 1
    
    & + .content__lead
      margin-top 10px !important
  

  h2, p
    margin-top 12px
    margin-bottom 12px
  

  h3
    margin-top 0
    margin-bottom -2px
  

  * + h2, * + h3
    margin-top 30px
  

  h2, h3, p
    padding-right 7%
  
  
  .col
    margin 60px 0
    
    &--left
      h1, h2, h3, p, img
        width 71%
        margin-right 28%
      
      .factoid
        left 73.5%

        width 26.5%
        
        h2, h3, p, img
          width 100%
          margin-right 0
    
    &--right     
      h1, h2, h3, p, img
        width 72%
        margin-left 28%
      
      .factoid
        left 0%
        
        width 26.5%
        
        h2, h3, p, img
          width 100%
          margin-left 0
          margin-top 5px
          margin-bottom 5px
    
    &--half
      h1, h2, h3, p, img
        width 50%
        margin-left 50%
      
      .factoid
        left 0%
        
        width 45.5%
        
        h2, h3, p, img
          width 100%
          margin-left 0
          margin-top 5px
          margin-bottom 5px
    
    &--center
      width 54%
      margin-left auto
      margin-right auto
  

  &__factoid
    position relative
  

  &__lead
    font-size 30px
    font-weight 300
    line-height 40px
  

  &__table
    padding 35px 0 35px
    
    .tr
      display flex
      align-items flex-start
      justify-content space-between
      padding-bottom 12px
      
      &:not(:first-child)
        border-top 1px solid rgba(0, 0, 0, .1)
    
    p.td
      margin-right 0
      padding-right 3.5%
      
      &--narrow
        display flex
        width 260px
        unflexible()
        font-weight bold
        padding-right 1.5%
        
        .td__icon
          unflexible()
          size(54px)
          margin-top -5px
          margin-right 15px
      
      &--medium
        width 35%
        flexible()
      
      &--wide
        width 40%
        flexible()