.contact-popup
	&__check
		margin-top 19px
		margin-bottom 14px
	
	&__annotation
		text-align center
		font-size 15px
		line-height 20px
	
	.new-popup__side--back
		.new-popup__close
			top -17px
			right -9px