.content-links
	margin-top 30px
	padding-top 18px
	font-size 15px
	line-height 20px
	border-top 1px solid rgba(0, 0, 0, .1)
	
	&__title
		margin-bottom 10px

	&__row
		display flex

	&__column
		unflexible()
		width 50%
			

	&__item
		margin-bottom 8px
		
		a
			display inline
			line-height 1