.diameters-sample
	container()
	
	
	&__inner
		position relative
	
		margin 35px -22px
		padding 35px 22px 0
		
		background #f9f9f9
		
		+below(1310px)
			margin-right 0


	&__title
		position absolute
		top 35px
		left 25px
		
		font-size 17px
		line-height 1
		font-weight bold


	&__map
		display flex
		padding-left 10px


	&__item
		position relative
		
		unflexible()
		height 65px
		
		line-height 65px
		text-align center
		
		&:not(:last-child)
			&:after
				content ''
				
				position absolute
				top 0
				bottom 0
				right 0
				
				width 1px 
				background linear-gradient(to top, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 0) 100%)
			
		&--600
			width 4%
		
		&--800
			width 4%
		
		&--1100
			width 4.5%
		
		&--1200
			width 4.5%
		
		&--1400
			width 4.7%
		
		&--1600
			width 5.5%
		
		&--2000
			width 6.2%
		
		&--2400
			width 7%
		
		&--2600
			width 7%
		
		&--3000
			width 7.5%
		
		&--3200
			width 7.7%
		
		&--3500
			width 8%
		
		&--3600
			width 8.5%
		
		&--3700
			width 14%