.disclaimer
  min-width 1000px
  padding 6px 0
  height 31px
  
  font-size 14px

  color #000 
  background #f8ec77
  border-bottom 1px solid #ebe47b
  
  
  &__inside
    position relative
    margin 0 auto
    max-width $max-width
    padding 0 $padding
  
  
  &__oldversion
    position absolute
    right 20px
    top 4px
    
    display inline-block
    vertical-align top
    margin-right -4px
    margin 0
    line-height 0.95em
    vertical-align baseline

