.docs
  padding-right 0

  &__title
    text-align center

  &__list
    margin-top 23px
    min-height 300px

  &__item.ab_scrollerItem
    width: 210px
    margin-right 20px
    padding-bottom 15px
    
  &__thumb
    display block
    margin 0 auto 11px
    border 0
    
  &__image
    position relative
    
    &:after
      content ''
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      background rgba(48, 62, 56, 0.05)
    
    img
      display block
      width auto
      height 300px

  &__link
    display inline-block
    line-height 1
    border-bottom-style dashed
    
  .ab_scroller
    margin-bottom 0
    
    .ab_scroller-leftLine, .ab_scroller-rightLine
      background lighten(#A8A8A8, 50%)
      height calc(100% - 16px)
    
    .ab_scroller-rightLine
      +below(1200px)
        display none !important
    

    .ab_scrollbar
      bottom -10px

    .ab_scrollSlider
      background rgba(0, 0, 0, 0.1)