.factoid
  position absolute
  
  height auto
  
  &--top
    top 0px
    
    .factoid__title--large
      margin-top -4px
  
  &--bottom
    bottom 0
  
  &--center
    top 50%
    transform translateY(-50%)
  
  &--lead
    padding-top 7px 
  

  h3 + p
    margin-top 0
  
  p
    width 100%
    padding-right 20% 
    margin 5px 0
    
    font-size 15px
    line-height 20px
  
  
  &__link
    display inline-block
    
    font-size 15px
    line-height 15px
  
  
  &__annotation
    font-size 14px
    margin-top 5px
  

  &__title    
    font-size 15px
    line-height 20px
    
    &--large
      font-size 30px
      font-weight 400
      line-height 36px
  
  
  &__number
    font-size 62px
    font-weight 300
    line-height 1
    
    noselection()
    
    color $green
    
    & + .factoid__annotation
      margin-top -1px