.feature
  margin-bottom 2px
  padding-bottom 12px
  
  border-bottom 1px solid rgba(0, 0, 0, .1)
   
  &__caption
    display block
    margin-bottom 5px
    
    font-size 15px
    line-height 20px
  
  &__value
    font-size 42px
    line-height 46px