.footer
  position relative
  
  clearfix()
  
  height 95px
  margin-top -95px
  width 100%
  min-width 1000px
  
  background #ffffff
  
  &--blue
    background $pale-blue
  
  &__inside
    position relative
    container()
    height 100%
    
  
  a
    display inline-block
    line-height 0.95em

.footer-wrap
  border-top 1px solid rgba(0, 0, 0, 0.1)
  padding-top 16px
  position relative

.footer-left
  font-size 13px
  line-height 16px
  position absolute
  left 0
  top 16px

.footer-company
  position absolute
  font-size 13px
  line-height 16px
  top 16px
  right 250px
  width 200px
  
  a
    margin-left 17px

.footer-contacts
  position absolute
  width 250px
  right -2px
  top 21px
  font-size 13px
  line-height 16px
  
  .big
    font-size 30px
    font-weight 300
    display block
    line-height 30px
    margin -7px 0 -18px
  
  a
    margin-left 16px
    margin-top 8px

.footer-contacts a.big,
.footer-contacts a .big,
.footer-contacts .big a
  font-size 30px
  font-weight 300
  color #000000
  border 0
  display block
  line-height 30px
  margin -7px 0 -18px



.container--blue
  .footer
    background #f0f6f5