.g-benefits
  padding 25px 0 120px
  
  font-size 15px
  line-height 19px
  
  &--blue
    padding-top 50px 
    background $pale-blue
  

  &__inner
    container()
  

  &__list
    display flex
    align-items flex-start
    justify-content space-between  
  
  
  &__title
    font-size 15px
    line-height 19px


  &__item
    flex-shrink 0
    flex-grow 0
    
    width 25%
    max-width 280px
    padding-right 2%
    
    &--centered
      width 25%
      padding-left 4%
      // padding-right 5%
      margin-top -2px
      
      font-size 13px
      line-height 18px
    
    p
      margin-bottom 5px
  

  &__section
    padding 0 5px