.gallery
  margin 30px 0

  &.section
    margin 50px 0


  &__inner
    container()


  &__title
    margin-bottom 22px

    font-size 30px
    line-height 1


  &__row
    display flex
    align-items flex-start
    justify-content space-between

    & + .gallery__row
      margin-top 15px


  &__item
    position relative

    flex-grow 1
    // flex-shrink 1
    max-width 680px
    text-align right

    border 0

    &:hover
      .gallery__hover
        background rgba(61,216,142, .8)
        // background-image linear-gradient(45deg, rgba(lighten(#b00, 20%), 70%) 0%, rgba(#b00, 70%) 100%)

    & + .gallery__item
      margin-left 15px
      text-align left
      .gallery__text
        float left

    &--narrow
      // flex 0 0 32.603686635944700460829493087558%
      width 32.333333333333333333333333333333%

    &--wide
      // flex 0 0 65.783410138248847926267281105991%
      width 66.166666666666666666666666666667%


  &__text
    width 200px
    font-size 15px
    float right


  &__image
    position relative

    display block
    width 100%
    height 300px

    border-radius 3px
    background-size cover
    background-position 50% 50%


    &:after
      content ''

      position absolute
      top 0
      left 0
      right 0
      bottom 0

      display block

      border-radius 4px
      border 1px solid rgba(0, 0, 0, .1)


  &__hover
    position absolute
    top 0
    right 0
    bottom 0
    left 0

    display flex
    align-items center
    justify-content center

    border-radius 6px
    background rgba(61,216,142, .7)
    // background-image linear-gradient(45deg, rgba(46,167,102, .7) 0%, rgba(61,216,142, .7) 100%)

    transition all .15s ease

    p
      font-size 17px
      color #fff


.container--category
  .gallery.section
    margin-top 0
