.grid
  &__row
    display flex
    flex-wrap wrap
    
    &--stretch
      align-items stretch
    
    &--sb
      justify-content space-between
  

  &-1-4
    flex-shrink 0
    flex-grow 0
    width 25%
  
  &-1-2
    flex-shrink 0
    flex-grow 0
    width 50%
  
  &-1-1
    flex-shrink 0
    flex-grow 0
    width 100%
    
    h2
      margin 0