.header
  height 102px
  position relative

  
  &__inside
    position relative
    
    container()
  

  &__logo
    position absolute
    left $padding
    top 25px
    
    a
      border 0
  

  &__contacts
    position absolute
    top 10px
    right $padding
    text-align right
    

  
  .contacts-menu, .contacts-tel
    position relative
    display inline-block
    vertical-align top
    
    // margin-left 6px

  .contacts-tel
    font-size 14px
    border 1px solid rgba(0, 0, 0, 0.1)
    padding 2px 13px 0 11px
    border-radius 3px
    line-height 20px
    color #000000
    margin-top 1px
    
    &:hover
      color #bb0000
      border-color rgba(187, 0, 0, 0.2)

  .contacts-menu
    font-size 14px
    padding-top 7px
    padding-right 22px

  .hc-link
    color #000000
    border-color rgba(0, 0, 0, 0.1)
    display inline-block
    vertical-align top
    margin-right -2px
    margin-left 21px
    line-height 1em
    

    &:hover
      color #b00
      border-bottom-color rgba(187, 0, 0, 0.2)