.image
  margin 20px 0
  
  img
    position relative
    
    display block
    margin-bottom 12px
    
    border-radius 3px
    border 1px solid rgba(0, 0, 0, .1)
  
  
  p
    margin 0
    
    font-size 14px
    line-height 17px