.input-suggest
  position relative
  
  &__dropdown
    position absolute
    left 0
    right 0
    top 100%
    top calc(100% + 4px)
    z-index 20
    
    padding 4px 0 20px
    
    background #fff
    border 1px solid #dfdfdf
    border-radius 3px
    
    // display none
    opacity 0
    visibility hidden
    
    &--visible
      opacity 1
      visibility visible
  

  &__option
    noselection()
    
    padding 9px 15px
    cursor pointer
    
    &:hover
      cursor pointer
      background #f5f9f8