.links-list
  margin-top 27px
  

  &__row
    display flex
    align-items flex-start
    justify-content space-between
  

  &__title
    display inline-block
    
    line-height 1
  

  &__column
    flex-grow 1
    flex-shrink 1
    
    width 25%
    max-height 270px
    
    overflow hidden
    
    &:not(:first-child)
      margin-left 25px
  

  &__list
    overflow hidden
  

  &__item
    display block
    margin-bottom 14px
    
    border 0
    
    &:first-child
      margin-top 12px
    
    &:last-child
      margin-bottom 24px 
    
    &--download      
      padding-right 0
    
    a
      display inline-block
      min-width 100%
      padding-right 25px
      padding-top 8px
      
      
      font-size 15px
      line-height 20px
      
      border none
      border-top 1px solid lighten(#cfd3d2, 30%)
      
      &:hover
        border-top 1px solid rgba(#b00, 50%)
        
        .links-list__annotation
          color #b00
          transition none

  
  .shadow
    position relative
    
    &__top
      position absolute
      top 0
      left 10px
      right 10px
      
      z-index 0
  
      display block
      height 1em
      
      border-radius 100%
      box-shadow 0 0 15px rgba(0, 0, 0, .3)
      transition opacity .1s ease
    

    .links-list__item
      position relative
      z-index 10
      
      margin-top 0
      
      text-align center
      
      background #f0f6f5
    


    &__text
      &:hover
        border-color #cfd3d2
      span
        padding-right 0
        line-height 1
        border-bottom 1px dashed rgba(5, 175, 110, 0.2)
        
        &:hover
          border-bottom-color rgba(187, 0, 0, 0.2)
  

  &__annotation
    display block
    
    font-size 11px
    white-space nowrap
    // text-transform uppercase
    
    color #99b6af
    transition all .2s ease
    
    span
      display inline-block
      margin-left 4px
      font-size 13px