.mainmenu
  position absolute
  left 175px
  top 59px
  font-size 15px
  width auto
  right 10px

  &__item
    display inline-block
    vertical-align top
    margin-right -4px
    margin-right 14px

    &--active
      & + .mainmenu__item
        margin-left -10px

  &__link
    border 0
    
    span
      border-bottom 1px solid rgba(5, 175, 110, 0.2)
      height 19px
      display inline-block
      transition border-color 0.2s
      
    &:hover
      span
        border-bottom-color rgba(187, 0, 0, 0.2)
        transition none

    &--active,
    &--active:hover
      color #000000
      background #f2f7f6
      border-radius 2px
      z-index 5
      padding 1px 0px 1px 10px
      margin -1px 0 -1px -10px

      span
        border-bottom-color rgba(0, 0, 0, 0.1)
        display inline-block
        vertical-align top
        margin-right -4px
        margin 0
        margin-right 10px


.container--blue
  .mainmenu__link--active
    background #e6efed