.modal
	position fixed
	top 0
	left 0
	right 0
	bottom 0
	z-index 9999
	padding-bottom 55px
	overflow auto
	background rgba(#f1f7f6, .95)
	cursor pointer
	display none

	&__header
		max-width 1200px
		margin auto
		padding 0 25px
		cursor default
	

	&__header-inner
		display flex
		align-items center
		justify-content space-between
		padding 15px 0 9px
		background rgba(241, 247, 246, 0.95)
		border-bottom 1px solid rgba(0, 0, 0, 0.1)
	

	&__title
		font-size 17px
		line-height 28px
		font-weight bold
		cursor default
	

	&__close
		size(30px)
		font-size 30px
		line-height 31px
		transition transform 0.2s
		cursor pointer
		
		&:hover
			transform rotateZ(90deg)

	
	&__content
		max-width 1200px
		margin auto
		padding 37px 25px 0
		text-align center
	

	&__name
		text-align left
		font-size 30px
		line-height 36px
		padding-bottom 20px
		cursor default
	

	&__image
		display inline-block
		padding-top 25px
		cursor default
		
		img
			display block
			margin auto
			box-shadow 0 40px 110px rgba(0, 0, 0, 0.2)