.new-popup
	position absolute
	opacity 0
	z-index -9999
	
	&--initialized
		display none
		position relative
		z-index 9999
		opacity 1
	
	.contacts-form
		background #fff
	
	&__inner
		position fixed
		top 0
		left 0
		right 0
		bottom 0
		z-index 9999
		display flex
		align-items center
		justify-content center 
		overflow auto
		background rgba(241,247,246,.95)
		cursor pointer
		perspective 1000
	
	&__close
		position absolute
		top -17px
		right -9px
		font-size 30px
		line-height 1
		cursor pointer
		transition transform .2s
		
		&:hover
			transform rotateZ(90deg)
	
	&__window
		position relative
		cursor default
		transition 0.6s
		transform-style preserve-3d
		
		.new-popup--flipped &
			transform rotateY(180deg)
	
	&__side
		position relative
		backface-visibility hidden
		
		&--front
			z-index 2
			transform rotateY(0deg)
			
			.new-popup--flipped &
				display none
		
		&--back
			display none
			transform rotateY(180deg)
			
			.new-popup--flipped &
				display block
				transform rotateY(-180deg)
			
			.new-popup__close
				top -29px
	
	&__check
		size(120px)
		margin-left auto
		margin-right auto
		background-image url('/img/check.png')
		background-position center
		background-size cover
