.notification
  height 32px
  
  font-size 15px
  line-height 31px
  
  
  container()

  &__inner
    border-bottom 1px solid rgba(0, 0, 0, .1)
  

  &__icon
    position relative
    top 2px
    
    display inline-block
    vertical-align baseline
    
    size(21px, 14px)
    margin-right 6px
    
    background-image url('/img/news.svg')
    background-size cover
  

  a
    border none