.p-grid
  &--padding-top
    padding-top 40px
    
  &__section
    margin-left auto
    margin-right auto
    
    &:first-child
      margin-top 0
    
    &--bg
      margin 0 auto
      padding 50px 0 75px
      
      .p-grid__column
        padding 0 50px
        margin 0
    
    &--blue
      background $pale-blue
  

  &__section-inner
    container()
    
    &--fullwidth
      padding 0
  

  &__thumb
    display block
    margin auto
  

  &__row
    display flex
    justify-content space-between
    align-items flex-start
    
    padding 0 25px
    
    .p-grid__column
      padding 0

  &__column
    width 65%
    margin 20px 0
    
    & *:last-child
      margin-bottom 0 
    
    &--left
      margin-right 35%
      
      p
        padding-right 14%
  
    &--right
      margin-left 35%
      
      p
        padding-right 14%
    
    &--center
      width 54%
      margin-left auto
      margin-right auto
    
    &--wide
      p
        padding-right 0 !important
    
    &--after-image
      margin-top 25px
    
    &--before-image
      margin-bottom 25px
    
    &--title
      margin-bottom 8px
    
    &--half
      width 46%
  

  &__factoid
    position relative
    
    &--right
      .factoid
        left 70%
        width 26.5%

  // изображение и подпись
  &__image
    margin-bottom 35px
    img
      display block
      margin-bottom 13px
      
      border 1px solid #eaeaea
    
  &__caption
    margin 0 !important
    
    font-size 14px
    line-height 1.4


  // базовые элементы
  h1
    margin-bottom 14px
    font-size 70px
    line-height 70px
  
  factoid
  .lead
    margin 17px 0
    
    font-weight 300
    font-size 30px
    line-height 40px