.p-search
  container()
  

  &__notfound
    margin 50px 0 20px
    text-align center
    

    h1
      font-size 70px
    
    p
      width 550px
      margin 16px auto 0
  

  &__form
    position relative
    margin 50px 0

    text-align center
    
    overflow hidden
    
    &:before
      content ''
      
      position absolute
      top 0
      bottom 0
      left 0
      
      z-index 15
      
      display block
      width 4em
      
      background linear-gradient(to right, #fff 0, rgba(#fff, 0%) 100%) 
  

  &__grid
    margin-bottom 56px
    
    .grid__row
      justify-content space-between
  

  &__item
    max-width 290px
    padding 10px 5px
    
    display flex
    
    &.mix
      display none