.projects-inline
  margin-top 60px
  margin-bottom 60px
  container()

  .ab_scroller .ab_scrollerItem
    margin-right 0


  &__inner
    margin-left -22px
    margin-right -22px
    padding-top 22px
    
    +below(1310px)
      margin-right 0


  &__title
    display block
    margin-left 22px
    margin-bottom 17px
    
    font-size 24px
    line-height 1
    font-weight bold


  &__list
    white-space nowrap
    overflow hidden


  &__item
    position relative
    
    display inline-block
    width 290px
    height 100%
    margin 0
    padding 0 33px 39px
    
    text-align center
    white-space normal
    
    &:first-child
      padding-left 22px
    
    &:last-child
      padding-right 22px

    &:not(:first-child)
      padding-left 25px
      
      &:after
        content ''
        
        position absolute
        top 0
        left 0
        bottom 0
        
        display block
        width 2px
        
        background #fff
    
    p
      padding-right 0


  &__logo
    height 83px
    margin-bottom -9px
    
    img
      display block
      max-height 63px
      margin auto


  &__text
    max-width 250px


  &__name
    display inline-block
    font-size 14px
    line-height 17px
    font-weight bold


  &__description
    font-size 14px


  .ab_scroller
    margin-bottom 0
    padding-right 1px
    
    &-rightLine,
    &-leftLine
      display none !important


  .ab_scroller-leftLine, .ab_scroller-rightLine
    background lighten(#A8A8A8, 50%)
    height calc(100% - 16px)


  .ab_scroller-rightLine
    +below(1200px)
      display none !important


  .ab_scrollbar
    bottom 0
    height 5px


  .ab_scrollSlider
    background #cfcfcf