.qlist
  &__inner
    container()
  

  &__wrap
    padding 40px 28px 0 28px
  

  &__top
    position relative
    z-index 15
    
    display block
    width 668px
    margin auto
    margin-bottom -10px
    padding 0 14px
    
    border 0
    
    &:before, &:after
      content ''
      
      position absolute
      bottom 0
      
      display block
      width 14px
      height 2px
      
      background #000
    
    &:before
      left 0
      
      border-radius 3px 0 0 0
    
    &:after
      right 0
      
      border-radius 0 3px 0 0
    
    &:hover
      .qlist__btn
        color #b00
        border-color rgba(187, 0, 0, 0.2)
  

  &__header
    display flex
    align-items center
    justify-content space-between
    
    padding 7px 15px 6px
    
    line-height 22px
    font-size 15px 
    
    background #f8ec77
  

  &__text
    color #000
  

  &__btn
    display inline-block
    padding 2px 13px 0 11px
     
    font-size 14px
    
    color #000
    border-radius 3px
    border 1px solid rgba(0, 0, 0, 0.1)
    
    &:hover
      color #b00
      border-color rgba(187, 0, 0, 0.2)
    
    &:active
      box-shadow inset 0 1px 2px rgba(0, 0, 0, 0.1)
  

  &__image
    padding-top 30px
    padding-bottom 10px
    
    background #f8f8f8
    border-bottom 1px solid #c6c6c6
    
    img
      display block
      margin auto
  

  &__bottom
    position relative
    
    height 53px
    margin 0 30px
    
    background url('/img/qlist-stand.png') repeat-x
    background-size auto 100%
    
    &:before, &:after
      content ''
      
      position absolute
      top 0
      bottom 0
      
      width 50px
      height 53px
    
    &:before
      background url('/img/qlist-stand-left.png') no-repeat
      background-size auto 100%
      
      left -50px
    
    &:after
      background url('/img/qlist-stand-right.png') no-repeat
      background-size auto 100%
      
      right -50px
  
  

