.search-card
  width 100%
  margin auto
  min-height 320px
  padding 26px 13px 26px 13px
  
  font-size 15px
  
  border-radius 4px
  background #f9f9f9
  border-bottom 1px solid #dfdfdf
  

  &__name
    margin-bottom 14px
    font-size 1rem
    line-height 1.2
    
    a
      color #000
      display block
      
      border-bottom-color #d3d3d3
      
      &:hover
        color #b00
        border-bottom-color rgba(187,0,0,0.2) 


  &__list
    list-style none
  

  &__item
    margin-bottom 7px
    padding-right 10px 
    
    a
      line-height 1.2
      padding-bottom -2px
      color $dark-green
      
      border 0
      background-image linear-gradient(rgba($dark-green, 20%), rgba($dark-green, 20%))
      background-size 1px 1px
      background-repeat repeat-x
      background-position 0% 85%
      
      &:hover
        color #b00
        background-image linear-gradient(rgba(#b00, 20%), rgba(#b00, 20%))
  

  &__description
    padding-right 20%
  

  &__btn
    margin-top 20px
  

  &__thumb
    margin-top 24px
    margin-bottom -34%


.search-card--promo
  text-align center
    
  border 0
  background transparent

  .search-card__name
    margin-bottom 4px
    
    a
      display inline-block
      
      line-height 1
  

  .search-card__description
    padding 0