.search-field
  display inline-block
  max-width 100%
  
  &--empty
    .search-field__label
      opacity 1
      
    .search-field__btn
      transform translateX(-85px)
    
    &.search-field--focused
      .search-field__label
        opacity .1
  
  &--focused
    .search-field__label
      left 0
      transform translateX(0)
    
    .search-field__btn
      transform translateX(0)
  
  
  &__top
    position relative
    
    display flex
    align-items center
    justify-content center
  

  &__front
    display flex
    align-items center
    justify-content space-between
    
    min-width 100%
  

  &__input
    position relative
    z-index 10
    
    min-width 5em
    min-height 84px
    
    font-size 70px
    font-weight bold
    text-align left
    line-height 1.2
    
    border 0
    outline 0
    
    white-space nowrap
    overflow hidden
    
    &:not(:empty)
      & + .search-field__label
        opacity 0
  

  &__label
    gpu()
    
    position absolute
    top 0
    left 50%
    transform translateX(-50%)
    z-index 5
    
    min-width 5em
    padding-right 72px
     
    font-size 70px
    font-weight bold
    text-align center
    line-height 1.2
    
    opacity 0
    transition all .3s ease
  

  &__btn
    gpu()
    
    position relative
    z-index 10
    transform translateX(0)
    
    flex-shrink 0
    
    
    display inline-block
    size(45px)
    
    margin-left 27px
    margin-top 2px
    
    cursor pointer
    transition transform .3s ease
    
    svg
      display block
      size(100%)
  

  &__divider
    display block
    size(100%, 1px)
    
    border 0
    background #d9d9d9
  
  
  &__example
    display inline-block
    padding-top 8.5px 
    
    font-size 13px


.p-search {
  padding-top:10px;
}

.p-search__item.mix {
  display:inline-block;
}

.search-field__field input {
  font-size: 70px;
  font-weight: bold;
  border:0;
  height:95px;
  outline: none;
  display: block;
  text-align: left;
  
  margin:0 auto;
  -webkit-appearance: none;
  max-width:410px;
  width:100%;
  
  transition: max-width 0.2s;
  
  padding-right:80px;
  background: url(search.png) no-repeat right -5px center;
  
  background-size: auto 60%;
  background-position: right 5px center;
  
  animation: none;
  // animation-name: heartBeat;
  // animation-duration: 1.7s;
  // animation-iteration-count: infinite;
}

.search-field__field input:focus {
  width:100%;
  max-width:560px;
  
  animation: none;
}

.search-field__field input.active {
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
}

.search-field__button {
  position: absolute;
  right:0;
  top:50%;
  margin-top:-20px;
  cursor: pointer;
}

.search-field__field {
  position: relative;
}

#search-hidden {
  position: absolute;
  z-index:-1;
  opacity: 0;
  font-size: 70px;
  font-weight: bold;
  white-space: nowrap;
  display:block;
}

.search-field__field input.notransition {
  transition: none !important;
}

.search-field__top {
  position: relative;
}

.search-field__example {
  display:block;
  text-align: center;
  padding-bottom 1px
}

.search-field__esamples--hidden {
  display:none;
  text-align: left;
  padding-bottom:4px;
}

.search-field__esamples--hidden a {
  border-top:0;
  border-left:0;
  border-right:0;
  line-height:0.80em;
}

.search-notification {
  position: relative;
  // margin: 0 auto;
  display:block;
  max-width: 350px;
  
  display:none;
}

.search-notification .contacts-form {
  width:100%;
  margin-top:0;
}

#search-results.js-no-results {
  justify-content: center;
  
  .js-empty {
    display: none;
  }
}


@-webkit-keyframes heartBeat {
    0% {
      background-size: auto 60%;
      background-position: right 5px center;
  }
    50% {
      background-size: auto 70%;
      background-position: right 1px center;
  }
  60% {
      background-size: auto 60%;
      background-position: right 5px center;
  }
  100% {
      background-size: auto 60%;
      background-position: right 5px center;
  }
}

@keyframes heartBeat {
    0% {
      background-size: auto 60%;
      background-position: right 5px center;
  }
    50% {
      background-size: auto 70%;
      background-position: right 1px center;
  }
  60% {
      background-size: auto 60%;
      background-position: right 5px center;
  }
    100% {
      background-size: auto 60%;
      background-position: right 5px center;
  }
}




.ios .search-field__field input {
  max-width:440px;
  height:105px;
  margin-bottom:-15px;
}

.ios .search-field__field input:focus {
  width:100%;
  max-width:560px;
}

.p-search__form:before {
  bottom:55px;
}