.subscribe-popup
	&__window
		width 320px
	
	&__title
		padding-top 1px
		padding-bottom 4px
		font-size 24px
		font-weight bold
	
	&__annotation
		font-size 15px
		line-height 20px
		
		&--warning
			color #bb0000

	&__check
		margin-top 12px
		margin-bottom 37px
		
	.contacts-form
		background: #fff
		
		&__inputs
			padding-top 4px