.technology-methods
	display block
	width 100%
	margin 60px 0
	

	thead
		font-size 17px
		color $green
	
	
	tr
		display flex
		
		border-bottom 1px solid rgba(0, 0, 0, .1)
	

		
	tbody
		tr:last-child
			border-bottom 0
	

	th,
	td
		display block
		padding-right 3.5%
		vertical-align top
	


	th:first-child,
	td:first-child
		unflexible()
		display flex
		width 260px
		padding-right 1.5% 
		
		font-weight bold
	

	th:nth-child(2),
	td:nth-child(2)
		flexible()
		width 35%
	

	th:nth-child(3),
	td:nth-child(3)
		flexible()
		width 40%
	

	th
		padding-bottom 16px
		text-align left
	

	td
		padding-top 10px
		padding-bottom 28px
	

	&__icon
		unflexible()
		display block
		size(54px)
		
		margin-top -5px
		margin-right 15px
		
		background-size cover
		
		&--namotka
			background-image url('/img/about/namotka.png')
		
		&--napil
			background-image url('/img/about/napil.png')
		
		&--propitka
			background-image url('/img/about/propitka.png')
		
		&--ruchnoe
			background-image url('/img/about/ruchnoe.png')

_:-ms-input-placeholder, :root tr
	display table-row 
_:-ms-input-placeholder, :root td, :root th
	display table-cell