.navbar-static-top {
  margin-bottom:20px;
}

i {
  font-size:18px;
}
ul.sidebar-menu li a i {
    width: 26px;
}

footer {
  margin-top:20px;
  padding-top:20px;
  padding-bottom:20px;
  background-color:#efefef;
}

.nav>li .count {
  position: absolute;
  top: 10%;
  right: 25%;
  font-size: 10px;
  font-weight: normal;
  background: rgba(41,200,41,0.75);
  color: rgb(255,255,255);
  line-height: 1em;
  padding: 2px 4px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

#cat-order.sortable li, #main-list.sortable li .drag-handle {
  cursor: move;
}
.sortable li .checkbox {
    margin-top: 0;
    margin-bottom: 0;
}
.sortable li {
    position: relative;
    padding-right: 25px;
}
.sortable li .drag-handle {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    right: 5px;
    z-index: 1;
}

.gallery-preview-container .image-container {
    height: 100px;
    width: 100px;
    overflow: hidden;
    border: 2px solid #CCC;
    margin: 5px;
    position: relative;
}
.gallery-preview-container .image-container a {
    color: red;
    position: absolute;
    top: 0;
    right: -20px;
    transition: all .5s;
    background: rgba(255, 255, 255, .5);
    width: 20px;
    text-align: center;
}
.gallery-preview-container .image-container:hover a {
    right: 0px;
}
.gallery-preview-container .image-container a.edit-link {
    color: orange;
    top: 20px;
}

.coords_complect_container {
    display: inline-block;

}
.coords_img_container {
    position: relative;
}

.coords_complect_container .complect {
    display: inline-block;
    background: #CCC;
    padding: 3px;
    cursor: pointer;
}
.coords_complect_container .complect.active {
    background: green;
    color: #FFF;
}

.coords_pointer {
    position: absolute;
    background: red;
    width: 10px;
    height: 10px;
    margin: -6px 0 0 -6px;

    border: 2px solid white;
    border-radius: 50px;

}

.remodal form {
    text-align: left;
}

.help-block {
    font-size: 12px;
    color: #CCC!important;
}

.tooltip-info {
    padding: 0 5px;
}

.ui-tooltip.ui-widget-content {
    max-width: 400px;
    padding: 10px;
    background-color: #688a7e!important;
    color:#FFF;
    z-index: 10;
}
