// Центрирование по горизонтали блока заданной ширины
container()
  min-width $min-width
  max-width $max-width
  width 100%
  
  margin-left auto
  margin-right auto
  
  padding-left 60px
  padding-right 25px

// Размеры элемента
size($width, $height = $width)
  width $width
  height $height

// Центрирование по горизонтали
center()
  margin-right auto
  margin-left auto

// Центрирование абсолютно позиционированного элемента по вертикали
absolute-center()
  position absolute
  top 50%
  transform translateY(-50%)

// Сброс обтекания для плавающих блоков-потомков
clearfix()
  &:before,
  &:after
    content " "
    display table

  &:after
    clear both

// Применяется к родительскому блоку, в который вложено n inline-block потомков.
// Эти потомки будут распределены по ширине родительского блока
justify()
  font-size 1px
  line-height 0

  zoom 1

  text-align justify
  text-align-last justify
  text-justify newspaper

  &:after
    display inline-block
    visibility hidden

    overflow hidden

    width 100%
    height 0

    content ''

// Применяется к inline-block элементам, вложенным в родителя с применённым justify.
// Следует указать нужный размер шрифта в блоках, так как в justify он сбрасывается
justify-child(font-size = 16px)
  font-size font-size
  line-height normal

  display inline-block

  vertical-align top

// Красивое обрезание лишнего текста
text-overflow()
  overflow hidden
  white-space nowrap
  text-overflow ellipsis

// Скрытие текста у блока
hidetext()
  font 0/0 a
  text-shadow none
  color transparent

// Запрет выделения текста
noselection()
  user-select none
  -webkit-touch-callout none

  &:hover
    cursor default

// Задаёт цвет плейсхолдера
placeholder-color(color)
  &:-moz-placeholder,
  &::-moz-placeholder
    color color
    opacity 1
    
  &::-webkit-input-placeholder
    color color

// Хак для включения аппаратного ускорения.
// Поддержка браузерами: IE10+
gpu()
  transform translate3d(0, 0, 0)

// Сброс стандартных стилей у списков.
// Полезно при вёрстке различных меню
clearlist($fsize = 1rem)
  padding 0
  margin 0
  list-style none
  font-size 0
  
  li
    display inline-block
    font-size $fsize

// Размер шрифта в rem с фоллбэком в px
rems(value)
  font-size value
  font-size unit(value/16, 'rem')


// Хелперы для флексбокса
flex-center()
  display flex
  align-items center
  justify-content center


flexible()
  flex-grow 1
  flex-shrink 1


unflexible()
  flex-grow 0
  flex-shrink 0