p#notice = notice

p
  strong Name:
  = @dealer.name
p
  strong City:
  = @dealer.city
p
  strong Email:
  = @dealer.email
p
  strong Phone:
  = @dealer.phone
p
  strong Address:
  = @dealer.address

= link_to 'Edit', edit_dealer_path(@dealer)
'|
= link_to 'Back', dealers_path
