h1 Создать комплектацию

= form_for @complect, url: admin_product_complects_path do |f|
	.form-group
		= label_tag "Заголовок"
		= f.text_field :title, :class => "form-control"

	.form-group
		= label_tag "Описание"
		= f.text_area :description, :class => "form-control"

	javascript:
		CKEDITOR.replace( 'complect_description' );

	.form-group
		= label_tag "Тип"
		= f.select :type, @complect.types_list, {}, :class => "form-control"



	= f.submit "Создать", :class => "btn btn-primary"
