
- if flash[:notice]
	div.warning
		= flash[:notice]
section.panel
	header.panel-heading.tab-bg-primary
		ul.nav.nav-tabs
			li.active
				a data-toggle="tab" href="#main" Общая информация

			li
				a data-toggle="tab" href="#meta" SEO

			- if @category.id
				li
					a data-toggle="tab" href="#ancors" Интерактивное меню

				li
					a data-toggle="tab" href="#images" Изображения

	.panel-body
		.tab-content
			#main.tab-pane.active

				.form-group
					= label_tag "Название категории"
					= f.text_field :name, :class => "form-control"

				.form-group
					= label_tag "Описание"
					= f.text_area :description, :class => "form-control"

					javascript:
						CKEDITOR.replace( 'category_description' );


				.form-group.checkbox
					label.control-label
						| Активный
						= f.check_box :active

				.form-group.checkbox
					label.control-label
						| Отображать в поиске
						= f.check_box :visible


				.form-group
					label Email для заявок
					= f.text_field :email, :class => "form-control"

				- unless f.object.slug.nil?
					.form-group
						= label_tag "URL"
						= f.text_field :slug, :class => "form-control"

				.form-group
					label Теги поиска
					= f.select :search_tags, f.object.search_tags, {}, {:class => "form-control", :multiple => true}

			#meta.tab-pane

				.form-group
					label Meta title
					= f.text_field :meta_title, {:class => "form-control"}

				.form-group
					label Meta description
					= f.text_area :meta_description, {:class => "form-control"}

				.form-group

					label Meta keywords

					= f.select :meta_keywords, Category.get_metakeywords, {}, {:class => "form-control", :multiple => true}


			javascript:
				$("#category_meta_keywords, #category_search_tags").selectize({
					delimiter: ',',
					persist: false,
					create: function(input) {
						return {
							value: input,
							text: input
						}
					}
				})

			- if @category.id
				#ancors.tab-pane В разработке


				#images.tab-pane
					.form-group
						label Изображение
						= f.select :images, Image.all.map {|i| [sanitize(i.text).truncate(50), i.id]}, { :include_blank => true}, { :class => "form-control" , :multiple => true }

						javascript:
							$("#category_images").gallery({current: JSON.parse('#{{f.object.images.to_json}}'), token: "#{form_authenticity_token}"})



= content_for :style
	= stylesheet_link_tag "/plugins/remodal/remodal.css"
	= stylesheet_link_tag "/plugins/remodal/remodal-default-theme.css"
= content_for :script

	script src='/plugins/remodal/remodal.min.js'
	script src='http://malsup.github.io/jquery.form.js'


	div.remodal.image-form data={:"remodal-id" => "gallery-form", :"remodal-options" => "hashTracking:false"}
		= form_for Image.new, url: admin_images_path do |i|
			.form-group
				= i.file_field :file

			.form-group
				= i.text_area :text, {:class => "form-control"}

			= i.submit "Создать", :class => "btn btn-primary"
