h1 Категории

section.panel
	table.table.table-striped
		thead
			tr
				td Название
				td

		tbody
			- @categories.each do |c|
				tr
					td
						= c.name
					td width="200px"

						= link_to category_path(c), {:target => "_blank"} do ||
							i.fa.fa-lg.fa-eye
						|
						= link_to edit_admin_category_path(c) do ||
							i.fa.fa-lg.fa-pencil

						= link_to admin_category_path(c), :method => "delete", :data => { :confirm => "Удалить продукт #{c.name}" } do ||
							i.fa.fa-lg.fa-times
