
header.panel-heading.tab-bg-primary
	ul.nav.nav-tabs
		li.active
			a data-toggle="tab" href="#main" Общая информация

		li
			a data-toggle="tab" href="#uploads" Вложения

		li
			a data-toggle="tab" href="#meta" SEO

		- if @product.id
			li
				a data-toggle="tab" href="#factoids" Фактоиды
			li
				a data-toggle="tab" href="#complect" Комплектация
			li
				a data-toggle="tab" href="#attachments" Документы
			li
				a data-toggle="tab" href="#properties" Характеристики
			li
				a data-toggle="tab" href="#pointers" Указатели комплектации

.panel-body
	.tab-content
		#main.tab-pane.active
			- err = flash[:errors] && !flash[:errors][:name].blank? ? "has-error" : ""

			.form-group class="#{err}"
				label.control-label Название
				= f.text_field :name, :class => "form-control"


			.form-group
				label.control-label Название для списка
				= f.text_field :listname, :class => "form-control"


			- err = flash[:errors] && !flash[:errors][:slogan].blank? ? "has-error" : ""
			.form-group class="#{err}"
				label.control-label Слоган
				= f.text_field :slogan, :class => "form-control"


			.form-group.checkbox
				label.control-label
					| Активный
					= f.check_box :active

			.form-group.checkbox
				label.control-label
					| Отображать в поиске
					= f.check_box :visible

			.form-group.checkbox
				label.control-label
					| Использовать в меню
					= f.check_box :using


			.form-group
				label Категория
				= f.collection_select :category_ids, Category.order(:name).unshift(Category.new(id: 0, name: "Без категории")), :id, :name, {}, :class => 'form-control', :multiple => true

			.form-group
				label Подзаголовок
				= f.text_field :subtitle, :class => "form-control"

			.form-group
				label Описание
				= f.text_area :description, {:class => "form-control wysiwyg", :id => "description"}


			.form-group
				label Email для заявок
				= f.text_field :email, :class => "form-control"


			- unless f.object.slug.nil?
				.form-group
					= label_tag "URL"
					= f.text_field :slug, :class => "form-control"


			.form-group
				label Теги поиска
				= f.select :search_tags, f.object.search_tags, {}, {:class => "form-control", :multiple => true}

				javascript:
					CKEDITOR.replace( 'description' );

					$("#product_category_ids").selectize({
						delimiter: ',',
						persist: false
					})

					$("#product_search_tags").selectize({
						delimiter: ',',
						persist: false,
						create: function(input) {
							return {
								value: input,
								text: input
							}
						}
					})


		#uploads.tab-pane
			.form-group
				label Изображение
				= f.select :images, Image.all.map {|i| [sanitize(i.text).truncate(50), i.id]}, { :include_blank => true}, { :class => "form-control" , :multiple => true }

				javascript:
					$("#product_images").gallery({current: JSON.parse('#{{f.object.images.to_json}}'), token: "#{form_authenticity_token}"})


			.form-group
				label Изображение комплектации
				= f.file_field :complect_image

				span.help-block Рекомендуемая ширина изображения - 610px. Высота не должна превышать 1000px

		#meta.tab-pane
			.form-group
				label Meta title
				= f.text_field :meta_title, {:class => "form-control"}

			.form-group
				label Meta description
				= f.text_area :meta_description, {:class => "form-control"}

			.form-group

				label Meta keywords

				= f.select :meta_keywords, Product.get_metakeywords, {}, {:class => "form-control", :multiple => true}

			javascript:
				$("#product_meta_keywords").selectize({
					delimiter: ',',
					persist: false,
					create: function(input) {
						return {
							value: input,
							text: input
						}
					}
				})



		- if @product.id

			#factoids.tab-pane

				- i = 0
				= f.fields_for :factoids do |ff|

					.factoid-container
						.form-group
							label Тип
							= ff.select :type, ff.object.types_list, {}, :class => "form-control"


						.form-group.title style="display:#{['Клиент', 'Пустой'].include?(ff.object.type) ? 'none' : 'block'}"
							label Заголовок
							= ff.text_field :title, :class => "form-control"

						.form-group.description style="display:#{['Клиент', 'Пустой', 'ГОСТ'].include?(ff.object.type) ? 'none' : 'block'}"
							label Описание
							= ff.text_area :description, :class => "form-control"


						.form-group.client style="display:#{['Клиент'].include?(ff.object.type) ? 'block' : 'none'}"
							label Клиент
							= ff.collection_select :client_id, Client.order(:name), :id, :name, {}, :class => 'form-control'

						.form-group.file style="display:#{['ГОСТ'].include?(ff.object.type) ? 'block' : 'none'}"
							label Файл
							= ff.file_field :file

							span.help-block Рекомендуемая ширина изображения - 700px

						javascript:
							CKEDITOR.replace( "product_factoids_attributes_#{i}_description"  );

						- i += 1

						.delete
							= link_to admin_product_factoid_path(@product, ff.object.id), :method => "delete", :data => { :confirm => "Удалить фактоид #{ff.object.title}?"}, :class => "btn btn-default" do ||
								| Удалить
								i.fa.fa-lg.fa-times

					hr

				= link_to new_admin_product_factoid_path(@product), :class => "btn btn-default" do ||
					| Добавить
					i.fa.fa-lg.fa-plus





			#complect.tab-pane
				- i = 0
				= f.fields_for :complects do |ff|

					.complect-container

						.form-group
							label Заголовок
							= ff.text_field :title, :class => "form-control"

						.form-group.description
							label Описание
							= ff.text_area :description, :class => "form-control"

						.form-group
							label Тип
							= ff.select :type, ff.object.types_list, {}, :class => "form-control"


						.form-group
							label Подробности
							= ff.text_field :feature, :class => "form-control"

							span.help-block используйте символ &laquo;→&raquo; для краткого обозначения


						javascript:
							CKEDITOR.replace( "product_complects_attributes_#{i}_description" );

						- i += 1


						.delete
							= link_to admin_product_complect_path(@product, ff.object.id), :method => "delete", :data => { :confirm => "Удалить комплектацию #{ff.object.title}?"}, :class => "btn btn-default" do ||
								| Удалить
								i.fa.fa-lg.fa-times

					hr

				= link_to new_admin_product_complect_path(@product), :class => "btn btn-default" do ||
					| Добавить
					i.fa.fa-lg.fa-plus


			#attachments.tab-pane
				- i = 0
				= f.fields_for :attachments do |ff|

					.attachment-container

						.form-group
							= link_to "Посмотреть документ", ff.object.file.to_s, {:class => "btn btn-info", :target => "_blank"}

						.form-group
							= label_tag "Название"
							= ff.text_field :name, :class => "form-control"

						.form-group
							= label_tag "Группа"
							= ff.text_field :group, :class => "form-control"


						.form-group
							= label_tag "Тип"
							= ff.select :type, options_for_select(ff.object.types_list, ff.object.type), {}, :class => "form-control"

						.delete
							= link_to admin_product_attachment_path(@product, ff.object.id), :method => "delete", :data => { :confirm => "Удалить документ #{ff.object.name}?"}, :class => "btn btn-default" do ||
								| Удалить
								i.fa.fa-lg.fa-times
					hr

				= link_to new_admin_product_attachment_path(@product), :class => "btn btn-default" do ||
					| Добавить
					i.fa.fa-lg.fa-plus


			#properties.tab-pane
				.form-group
					label Единица измерения
					= f.text_field :properties_unit, :class => "form-control"


				.properties-options-container
					- f.object.properties_options.each_with_index do |option, index|


						.properties-option-container
							= hidden_field_tag "product[properties_options][][basic]", option["basic"]

							.form-group
								= label_tag "product[properties_options][][name]", "Название опции "

								i.fa.fa-info-circle.tooltip-info.tooltips title="Название опции отображается рядом с соответствующим чекбоксом в интерфейсе блока характеристик.<br>Основная опция не отображается на странице, это данные по умолчанию"
								= text_field_tag "product[properties_options][][name]", option["name"], {:class => "form-control", :readonly => (option["basic"] && option["basic"] != "false")}

							.form-group
								= label_tag "product[properties_options][][fields]", "Параметры"

								i.fa.fa-info-circle.tooltip-info.tooltips title="Параметры опции - это список характеристик продукта (например &laquo;Диаметр&raquo; или &laquo;Длина&raquo;)"
								= text_field_tag "product[properties_options][][fields]", option['fields'] ? option["fields"].join(",") : '', {:class => "form-control fields-#{index}"}


							- if !option["basic"] || option["basic"] == "false"
								= link_to "#remove-properties-option-#{index}", {:class => "btn btn-default btn-prop-opt-remove", :data => {:index => index} } do ||
									| Удалить
									i.fa.fa-lg.fa-times


							javascript:

								$(document).on("ready", function(){

									var opts = "#{Product.get_fields_avalible.join(',')}".split(',').map(function(v){return {value: v, text: v}})
									console.log(opts)

									$(".fields-#{index}").selectize({
										options: opts,
										items: [],
										delimiter: ',',
										persist: false,
										create: function(input) {
											return {
												value: input,
												text: input
											}
										}
									})

								})




							hr



				= link_to "#add-properties-option", :class => "btn btn-default" do ||
					| Добавить опцию
					i.fa.fa-lg.fa-plus

				i.fa.fa-info-circle.tooltip-info.tooltips title="После добавления опции в интерфейсе блока характеристик появится чекбокс, позволяющий посмотреть параметры продукта, соответствующие данной опции (например, &laquo;С пескоуловителем&raquo;)"


				javascript:

					$(document).on("ready", function(){

						$(".btn-prop-opt-remove").on("click", function(e){
							if(confirm("Удалить опцию?"))
								$(e.currentTarget).parents(".properties-option-container").remove();

							e.preventDefault()
							e.stopPropagation()
							return false;

						})


						$("a[href='#add-properties-option']").on("click", function(e){
							e.preventDefault();

							var c = $(".properties-options-container")
							,	len = $(".properties-option-container").length

							var template = $('<div class="properties-option-container">'

								+ '#{hidden_field_tag "product[properties_options][][basic]", false}'
								+ '<div class="form-group">'

									+ '#{label_tag "product[properties_options][][name]", "Название опции"}'
									+ '#{text_field_tag "product[properties_options][][name]", nil, {:class => "form-control"}}'
								+ '</div>'
							+ '</div>')

							template.find("select").append($("#product_properties_options_0_fields").html()).val([])



							c.append(template)


							template.find("select").selectize({
								delimiter: ',',
								persist: false,
								create: function(input) {
									return {
										value: input,
										text: input
									}
								}
							})

							return false;
						})
					})


				hr
				.properties-container

					table.table.table-striped
						thead
							tr
							  td Заголовок
							  td Подзаголовок
							  td Опция
							  td

						tbody
							- f.object.properties.each do |prop|
							  tr
								td = prop.title
								td = prop.subtitle
								td = prop.option
								td
									= link_to edit_admin_product_property_path(f.object, prop), :data => {:confirm => "Произойдет переход на другую страницу. Убедитесь, что все данные сохранены"} do
										i.fa.fa-lg.fa-pencil

									= link_to admin_product_property_path(f.object, prop), data: {:confirm => 'Are you sure?'}, :method => :delete do
										i.fa.fa-lg.fa-times

					= link_to new_admin_product_property_path(@product), :class => "btn btn-default", :data => {:confirm => "Произойдет переход на другую страницу. Убедитесь, что все данные сохранены"} do ||
						| Добавить характеристику
						i.fa.fa-lg.fa-plus

			#pointers.tab-pane

				.coords_complects_container

					= f.fields_for :complects do |ff|
						.coords_complect_container
							= ff.hidden_field :coords

							.complect data={id: ff.object.id, coords: ff.object.coords}
								= ff.object.title

				.coords_img_container
					= image_tag f.object.complect_image.url, width: "100%"

				coffee:

					$(document).on "ready", ->
						current = null
						highlight = null


						console.log("osme")
						$(".coords_complects_container .complect").on "click", ->
							current = $(@)
							current.addClass "active"

						.hover ->
							highlight.remove() if highlight

							coords = if typeof $(@).data("coords") is "string" then JSON.parse($(@).data("coords")) else $(@).data("coords")
							highlight = $ "<div>", {class: "coords_pointer"}
							highlight.css
								left: coords.x + "%"
								top: coords.y + "%"

							$(".coords_img_container").append highlight

						,	->
							highlight.remove() if highlight
							highlight = null


						$(".coords_img_container img").coordinator
							debug: true,
							onClick: (e, p) ->
								return false unless current
								value = JSON.stringify(p)
								current.data "coords", value
								current.prev("input[type='hidden']").val value
								current.removeClass "active"
								current = null
								highlight = $ "<div>", {class: "coords_pointer"}
								highlight.css
									left: p.x + "%"
									top: p.y + "%"

								$(".coords_img_container").append highlight


= content_for :style
	= stylesheet_link_tag "/plugins/remodal/remodal.css"
	= stylesheet_link_tag "/plugins/remodal/remodal-default-theme.css"
= content_for :script

	script src='/plugins/remodal/remodal.min.js'
	script src='http://malsup.github.io/jquery.form.js'


	div.remodal.image-form data={:"remodal-id" => "gallery-form", :"remodal-options" => "hashTracking:false"}
		= form_for @image, url: admin_images_path do |i|
			.form-group
				= i.file_field :file

			.form-group
				= i.text_area :text, {:class => "form-control"}

			.form-group.checkbox
				= label_tag
		            | Активное описание
				    = i.check_box :text_preview


			.form-group.checkbox
				= label_tag
		            | Отображать в общей галерее
				    = i.check_box :display

			= i.submit "Создать", :class => "btn btn-primary"
