
.row
	.col-md-12.m-b
		h1 = @product.name

.row
	.col-md-12
		= form_for @product, url: admin_product_path do |f|


			section.panel
				= render partial: "product_form", locals: {f: f}

			= f.submit "Сохранить", :class => "btn btn-primary"

= content_for :scripts
	= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"
