
h1 Продукты

section.panel
	table.table.table-striped
		thead
			tr
				td #
				td Название
				td 

		tbody
			- @products.each do |c|
				tr
					td 
						= c.id
					td 
						= c.name
					td width="200px"

						= link_to product_path(c), {:target => "_blank"} do ||
							i.fa.fa-lg.fa-eye
						|  
						= link_to edit_admin_product_path(c) do ||
							i.fa.fa-lg.fa-pencil

						= link_to admin_product_path(c), :method => "delete", :data => { :confirm => "Удалить продукт #{c.name}" } do ||
							i.fa.fa-lg.fa-times

