
.row
	.col-md-12.m-b
		h1 Новый продукт

.row
	.col-md-12
		= form_for @product, url: admin_products_path do |f|

			section.panel 
				include _product_form.html

			= f.submit "Создать", :class => "btn btn-primary"			

