h1 Создать фактоид

= form_for @factoid, url: admin_product_factoids_path do |f|
	.form-group
		= label_tag "Заголовок"
		= f.text_field :title, :class => "form-control"

	.form-group
		= label_tag "Описание"
		= f.text_area :description, :class => "form-control"

	.form-group
		= label_tag "Тип"
		= f.select :type, @factoid.types_list, {}, :class => "form-control"

	= f.submit "Создать", :class => "btn btn-primary"
