
= form_for @image, url: admin_image_path do |f|

	.form-group
		= image_tag f.object.file.thumb
	.form-group
		= label_tag "Описание"
		= f.text_area :text, :class => "form-control"

	.form-group.checkbox
		= label_tag
            | Активное описание
		    = f.check_box :text_preview


	.form-group.checkbox
		= label_tag
            | Отображать в общей галерее
		    = f.check_box :display

	= f.submit "Сохранить", :class => "btn btn-primary"
