h1 Галерея

section.panel
	table.table.table-striped
		thead
			tr
				td Изображение
				td Текст
				td Текст в превью
				td Отображать в общей галерее
				td

		tbody
			- @images.each do |i|
				tr
					td = image_tag i.file.thumb
                    td = i.text
                    td
                        - if i.text_preview
							i.fa.fa-2x.fa-check-circle-o
                    td
                        - if i.display
							i.fa.fa-2x.fa-check-circle-o

					td width="200px"

						= link_to edit_admin_image_path(i) do ||
							i.fa.fa-lg.fa-pencil

						= link_to admin_image_path(i), :method => "delete", :data => { :confirm => "Удалить изображение" } do ||
							i.fa.fa-lg.fa-times
