= form_for @image, url: admin_images_path do |i|
    .form-group
        = i.file_field :file

    .form-group
        = i.text_area :text, {:class => "form-control"}


	.form-group.checkbox
		= label_tag
            | Активное описание
		    = i.check_box :text_preview


	.form-group.checkbox
		= label_tag
            | Отображать в общей галерее
		    = i.check_box :display


    = i.submit "Создать", :class => "btn btn-primary"
