
- if flash[:notice]
	div.warning
		= flash[:notice]
		
.form-group
	= label_tag "Название категории"
	= f.text_field :name, :class => "form-control"

.form-group
	= label_tag "Содержание"
	= f.text_area :html, :class => "form-control"