h1 = @category.name

= form_for @category, url: admin_adcat_path(@category) do |f|

	= render partial: "adcat_form", locals: {f: f}

	= f.submit "Сохранить", :class => "btn btn-primary"

	= link_to "Удалить", admin_adcat_path(@category), :method => "delete", :class => "btn btn-white", :data => {:confirm => "Вы уверены, что хотите удалить категорию #{@category.name}"}