
h1 Рекламные категории

section.panel
	table.table.table-striped
		thead
			tr
				td #
				td Название
				td 

		tbody
			- @categories.each do |c|
				tr
					td 
						= c.id
					td 
						= c.name
					td width="200px"

						= link_to edit_admin_adcat_path(c) do ||
							i.fa.fa-lg.fa-pencil

						= link_to admin_adcat_path(c), :method => "delete", :data => { :confirm => "Удалить категорию #{c.name}" } do ||
							i.fa.fa-lg.fa-times

