- title "Поиск пластгрупп"

.p-search
    form.p-search__form action=""
        .search-field.search-field--empty
            .search-field__field
                .search-field__top
                    span#search-hidden.search-field__backhidden
                    input#search-field placeholder="Продукты" type="text" value="Продукты" /
            hr.search-field__divider/
            .search-field__example
                p.search-field__esamples
                    | Например:
                    - @search_tags.each do |t|
                        a.tag href="#" = t
                p.search-field__esamples--hidden
                    a.dashed href="#"  Показать все продукты


    .p-search__grid.grid
        #search-results.grid__row.grid__row--stretch

            .search-notification
                form.contacts-form action=""
                h2.contacts-form__title
                    | Мы не нашли похожие продукты на сайте
                .contacts-form__feedback
                    p Напишите нам. Мы ответим на все вопросы, проконсультируем и предложим решение.
                .contacts-form__inputs
                    .input-suggest
                        input.contacts-form__input placeholder="Тема" type="text" /
                        .input-suggest__dropdown
                          .input-suggest__option
                            | Пример темы 1
                          .input-suggest__option
                            | Пример темы 2
                          .input-suggest__option
                            | Пример темы 3
                    input.contacts-form__input placeholder=("Вопрос или описание проекта") type="text" /
                    input.contacts-form__input placeholder=("Эл. почта или телефон") type="text" /
                input.contacts-form__btn type="submit" value=("Оставить заявку") /
                a.contacts-form__file href="#"  Добавить смету или план проекта
                input#file-input hidden="true" type="file" /

            - @categories.each do |c|
                - if c.class.to_s.downcase == "category"

                    - if c.visible

                        .mix.grid-1-4.p-search__item data-filter=c.search_tags.push(c.name).compact.uniq.flatten.join(" ")
                          .search-card
                            h3.search-card__name
                                - if c.active
                                    = link_to c.name, category_path(c)

                                - else
                                    = c.name

                            - if c.products.empty?
                                p.search-card__description
                                    == preview c.description if c.description

                            - else

                                ul.search-card__list
                                    - c.products.each do |p|
                                        li.search-card__item data-subfilter=p.search_tags.push(p.name).compact.uniq.flatten.join(" ")
                                            - if p.active
                                                = link_to p.listname.presence || p.name, product_path(p)
                                            - else
                                                = p.listname.presence || p.name


                - elsif c.class.to_s.downcase == "product"

                    .mix.grid-1-4.p-search__item data-filter=c.search_tags.push(c.name).compact.uniq.flatten.join(" ")
                      .search-card
                        h3.search-card__name
                            - if c.active
                                = link_to c.listname.presence || c.name, product_path(c)
                            - else
                                span = c.listname.presence || c.name
                        p.search-card__description
                            == preview c.description if c.description

                - else

                    .mix.mix-all.grid-1-4.p-search__item data-filter=""
                        == c.html

            - if @categories.length % 4 > 0
                - ((@categories.length % 4 - 4) * -1).times
                    .mix.grid-1-4.p-search__item.js-empty

= render partial: "gBenefitsBlue"

= content_for :footer_class
    | footer--blue

= content_for :scripts

    script src="/js/jquery.mixitup.min.js"
    script src="/js/search.js"
