= content_for :styles
	= stylesheet_link_tag    "/css/category.css", media: "all"

= content_for :container_class
    | container--blue container--category

.page
    h1.page__title
        = @category.name

- if @category.products.any?
    .category-products
        .category-products__inner
            .category-products__links
                - @category.products.each do |p|
                    - if p.visible
                        .category-products__link

                            - if p.active

                                = link_to product_path(p), :data => {:point => 1} do ||
                                    = p.listname.presence || p.name
                                    span.dot

                            - else
                                = p.listname.presence || p.name
                                span.dot

            - if @category.image?
                .category-products__image
                    img src="/img/image.png" width="900" alt="" /


.content
    .content__inner
      .col.col.col--left
        h2 = @category.name
        .content__factoid
          aside.factoid.factoid--top.u-empty-field
            .feature
              .feature__caption Диаметры корпуса,&nbsp;мм
              .feature__value 600–3700
            p Отдельно производим <nobr>гипер-резервуары</nobr> диаметром более 5&nbsp;метров
            p
              a.factoid__link href="#" О корпусе из стеклопластика

        == @category.description

        .links-list
          .links-list__row
            - @attachments.each do |i, a|

                .links-list__column
                  h3.links-list__title = i
                  ul.links-list__list
                    - a.each do |at|
                        li.links-list__item
                            - case at.type
                                - when "popup"
                                    = link_to at.name, "#", {:class => "popup-attachment"}
                                - when "blank"
                                    = link_to download_path(at), {:target => "_blank"} do ||
                                        = at.name
                                - else
                                    = link_to download_path(at) do ||
                                        = at.name

                                        // span.links-list__annotation Архив · 2,3 МБ<span>↓</span>

          .shadow
            span.shadow__top
            .links-list__item
              a.shadow__text href="#"
                span Показать все документы

.gallery.section
    .gallery__inner
        h2.gallery__title Фотографии продуктов, производства и установки
        - images = @category.images + @category.products_images
        - images.uniq!

        - images.sort_by! { |i| i.text_preview ? 0 : 1}

        - rows_len = 2

        - for i in 0..rows_len
            - if images.any?
                .gallery__row
                    - if images.first.text_preview && first = images.shift
                        - if i == 0

                            .gallery__item.gallery__item--narrow
                                p.gallery__text = first.text
                            a.gallery__item.gallery__item--wide href="#"
                                .gallery__image style="background-image: url(#{first.file})"

                        - else

                            a.gallery__item.gallery__item--wide href="#"
                                .gallery__image style="background-image: url(#{first.file})"
                            .gallery__item.gallery__item--narrow
                                p.gallery__text = first.text
                    - else

                        - if i == rows_len
                            - for e in 0..2
                                - if image = images.shift
                                    a.gallery__item.gallery__item--narrow href="#"
                                        .gallery__image style="background-image: url(#{image.file})"
                                        - if e == 2 && images.any?
                                            .gallery__hover
                                              p Все #{@category.products_images.length} фотографий


                        - else
                            - for e in 0..1
                                - if image = images.shift
                                    a.gallery__item class="gallery__item--#{e == i ? 'wide' : 'narrow'}" href="#" data-gallery-popup="" data-gallery-caption=image.text data-gallery-group="1" data-gallery-group-name="продуктов"
                                        /.gallery__image style="background-image: url(#{image.file})"
										= image_tag image.file

= render partial: "g_benefits"

= render partial: "application_form"

= render partial: "gallery_overlay"

= content_for :scripts
    script src="/js/raphael.min.js"
    script src="/js/category.js"
