.page-about
	padding-top 54px
	padding-bottom 48px
	
	&__material-image
		position relative
		padding-bottom 37px
		margin-bottom 21px
		
		img
			margin 0 -30px
	
	&__material-annotation
		position absolute
		bottom 0
		
		&:before
			content ''
			position absolute
			top 0
			left 50%
			transform translateY(-110%)
			width 1px
			background rgba(0, 0, 0, .2)
		
		&--first
			left 0
			
			&:before
				padding-bottom 100%
		
		&--second
			left 31%
			
			&:before
				padding-bottom 40%
	

	.diameters-sample
		margin-bottom 59px
	

	.projects-inline
		margin-top 70px
		margin-bottom 91px
	

	.technology-methods
		margin-top 52px
	

	.ab_scroller
		.ab_scrollbar
			height 7px
	

	&__tech
		+below(1100px)
			.content-page__factoid
				& > *:not(.factoid)
					width 68%
			
			.factoid
				width 28%
				left 70%
				
				p
					padding-right 10%


	&__material
		margin-bottom 67px
		
		.content-page__column
			&:first-child
				width 51.6%
			
			&:last-child
				unflexible()
				width 48.4%
				
				max-width 550px
	
	&__control
		justify-content space-between
		
		.content-page__column
			&:first-child
				unflexible()
				width: 460px
			
			&:last-child
				flexible()
	

	&__control-example
		max-width 480px !important
		margin auto
		
		font-size 15px
		
		img
			margin-top -20px
			width 100%
		
		p
			padding-left 42px
	

	.docs
		margin-top 75px
		margin-bottom 64px 
	

	&__after-diameters
		position relative
		
		.content-page__factoid
			padding-left 480px
			
			& > *:not(.factoid)
				width 100%
				max-width: 610px
		
		.factoid
			width 480px
			left 0
	

	&__partnership
		.content-page__column
			width 50%
		
		.contacts-form
			margin-top -27px
			
			&__title
				font-size 20px 