.page-services
	padding-top 54px
	padding-bottom 48px
	
	&__title
		text-align center
		padding-bottom 77px
	
	&__left-col
		padding-top 20px
		
		&--large
			padding-top 40px
		
	
	h2
		padding-right 10%
	
	&__bottom-factoid
		display flex
		flex-direction column
		justify-content space-between
		
		.factoid-warning,
		.factoid-number-inline
			padding-bottom 24px

	.content-page__row--equal-cols
		.content-page__column
			&:first-child
				padding-right 2.5%
			
			&:last-child
				padding-left 2.5%
			
			.factoir-number
				padding-right 20%

	&__partnership
		.content-page__column
			width 50%
		
		.contacts-form
			margin-top -27px
			
			&__title
				font-size 20px 

	&__section
		padding-bottom 77px

	&__doc
		margin-bottom 21px
		padding 20px 22px 0
		overflow hidden
		border-bottom 1px solid $border-color
		
		img
			margin-bottom -16%
			transform: rotate(3deg)
