
.application-form
  header.application-form__header
    h2.application-form__title Подберём комплектацию и проконсультируем
    .application-form__contacts
      | +7 (812) 244-90-95 ·
      a.black href="mailto:info@plastgrup.ru"  info@plastgrup.ru
  form.application-form__form action=("") 
    / label.application-form__text
    /   textarea.application-form__textarea.nofocus placeholder=("Характеристики проекта и местоположение")
    / .application-form__aft
    / input.hidden type="file" /
    / a.application-form__file href="#"  Прикрепить смету или план проекта
    / a.application-form__icon
    label.application-form__tel
      input name="phonetel" placeholder=("Телефон или почта") type="text" /
    button.application-form__btn type="submit"  Оставить заявку