
form.contacts-form action=""
  = link_to "Реквизиты ↓", @creds_link, :class => "contacts-form__top-btn", :target => "_blank"

  h2.contacts-form__title ООО «Пласт групп»
  a.contacts-form__address.black href="#" ул. Зайцева, дом 41, офис 352,<br>Санкт-Петербург

  .contacts-form__center
    .contacts-form__center-inner
      .contacts-form__phone 8 800 200-06-00
      .contacts-form__fax +7 999 132-87-30 (Факс)
      a.contacts-form__email href="mailto:info@plastgrup.ru" info@plastgrup.ru

  .contacts-form__feedback
    h3 Обратная связь
    p Ответим на вопросы, проконсультируем<br>или свяжем с сотрудником

  .contacts-form__inputs
    textarea.contacts-form__input.stretchy type="text" placeholder="Вопрос или описание проекта"
    input.contacts-form__input.contacts-form__input--phone-email type="text" placeholder="Эл. почта или телефон"
    p.contacts-form__error-annotation.contacts-form__error-annotation--empty Пожалуйста, введите почту или телефон
    p.contacts-form__error-annotation.contacts-form__error-annotation--phone Пожалуйста, напишите номер в формате: +7 812 438-41-16

  a.contacts-form__file href="#" Прикрепить файл
  input.contacts-form__file-input type="file" hidden="true"

  input.contacts-form__btn data-disabled="true" type="submit" value="Оставить заявку"
