
.diameters-sample
	.diameters-sample__inner
		.diameters-sample__title Диаметры изделий в миллиметрах
		img.diameters-sample__img src="/img/about/diameters.png"
		.diameters-sample__map
			.diameters-sample__item.diameters-sample__item--600 600
			.diameters-sample__item.diameters-sample__item--800 800
			.diameters-sample__item.diameters-sample__item--1100 1100
			.diameters-sample__item.diameters-sample__item--1200 1200
			.diameters-sample__item.diameters-sample__item--1400 1400
			.diameters-sample__item.diameters-sample__item--1600 1600
			.diameters-sample__item.diameters-sample__item--2000 2000
			.diameters-sample__item.diameters-sample__item--2400 2400
			.diameters-sample__item.diameters-sample__item--2600 2600
			.diameters-sample__item.diameters-sample__item--3000 3000
			.diameters-sample__item.diameters-sample__item--3200 3200
			.diameters-sample__item.diameters-sample__item--3500 3500
			.diameters-sample__item.diameters-sample__item--3600 3600
			.diameters-sample__item.diameters-sample__item--3700 3700