
.disclaimer
  .disclaimer__inside
    p
      | Это обновлённая версия страницы с подробным текстом, иллюстрациями и новыми документами.
      a.disclaimer__oldversion.black href="#"  Вернуться на старую версию