
.footer__inside
  .footer-wrap
    / .footer-left
    /   | Дизайн —
    /   a.black href="#"  Вадим Юмадилов
    .footer-right
      .footer-company
        | © Пласт Групп, 2003—2015
        br
        = mail_to "info@plastgrup.ru", nil, :class => 'black'
      .footer-contacts
        span.big +7 (812) 244-90-95
        br
        = link_to pages_contacts_path do
            | Адреса и телефоны
