
.g-benefits
  .g-benefits__inner
    .g-benefits__list
      .g-benefits__item
        .g-benefits__section
          h3.g-benefits__title Разберёмся в&nbsp;проекте
          p Изучим ваш проект, подберём комплектацию и&nbsp;ответим на вопросы. Пришлём коммерческое предложение в&nbsp;течение двух дней.
      .g-benefits__item
        .g-benefits__section
          h3.g-benefits__title Сэкономим деньги
          p Постараемся упростить систему и&nbsp;сэкономить деньги за&nbsp;счёт комплексных решений и&nbsp;аналогов.
          p Например, предложим заменить пескоуловитель, маслобензоотделитель и&nbsp;угольный фильтр <a href="#">системой «Триплекс»</a>.
      .g-benefits__item
        .g-benefits__section
          h3.g-benefits__title Организуем доставку
          p Сэкономим ваше время. Позаботимся о&nbsp;сроках, способе доставки и&nbsp;выборе перевозчиков. Проследим, чтобы&nbsp;товар везли аккуратно.
      .g-benefits__item.g-benefits__item--centered
        .g-benefits__section
          h3.u-light.u-dark-green.u-caps.u-medium
            span.u-caps РФ
            |  и 
            span.u-caps СНГ
          p Доставим изделия по&nbsp;России, Казахстану, Белоруссии и&nbsp;Украине.