
.overlay

#popup-gallery.popup
  .popup-hide
  .popup-wrap
    .popup-title
      #photo-gallery-title.hd
      .popup-close ✕
    .popup-content
      .popup-hide
      .popup-self
        .popup-hide
