.links-list
  .links-list__row
    .links-list__column
      h3.links-list__title Исследования
      ul.links-list__list
        li.links-list__item
          a href="#" Двухкратный запас прочности корпуса из&nbsp;стеклопластика
        li.links-list__item
          a href="#" Проверка устойчивости и&nbsp;прочности корпуса стеклопластиковой ёмкости
        li.links-list__item
          a href="#" Проверка устойчивости и&nbsp;прочности корпуса стеклопластиковой ёмкости
        li.links-list__item
          a href="#" Двухкратный запас прочности корпуса из&nbsp;стеклопластика
        li.links-list__item
          a href="#" Двухкратный запас прочности корпуса из&nbsp;стеклопластика
        li.links-list__item
          a href="#" Двухкратный запас прочности корпуса из&nbsp;стеклопластика
    .links-list__column
      h3.links-list__title Руководства
      ul.links-list__list
        li.links-list__item
          a href="#" Транспортировка и&nbsp;обслуживание пескоуловителя серии ПУ
        li.links-list__item
          a href="#" Транспортировка и&nbsp;обслуживание маслобензоотделителя серии МБ&nbsp;ПУ
        li.links-list__item
          a href="#" Установка подземных горизонтальных ёмкостей из&nbsp;стеклопластика
        li.links-list__item
          a href="#" Транспортировка и&nbsp;обслуживание пескоуловителя серии ПУ
        li.links-list__item
          a href="#" Транспортировка и&nbsp;обслуживание маслобензоотделителя серии МБ&nbsp;ПУ
        li.links-list__item
          a href="#" Установка подземных горизонтальных ёмкостей из&nbsp;стеклопластика
    .links-list__column
      h3.links-list__title Сертификаты
      ul.links-list__list
        li.links-list__item
          a href="#" Сертификат соответствия ГОСТ&nbsp;12.2.003-91
        li.links-list__item
          a href="#" Декларация о&nbsp;соответствии техническому регламенту о&nbsp;безопасности машин и&nbsp;оборудования
        li.links-list__item
          a href="#" Сертификат соответствия ГОСТ&nbsp;12.2.003-91
        li.links-list__item
          a href="#" Декларация о&nbsp;соответствии техническому регламенту о&nbsp;безопасности машин и&nbsp;оборудования
        li.links-list__item
          a href="#" Сертификат соответствия ГОСТ&nbsp;12.2.003-91
        li.links-list__item
          a href="#" Декларация о&nbsp;соответствии техническому регламенту о&nbsp;безопасности машин и&nbsp;оборудования
    .links-list__column
      h3.links-list__title Схемы
      ul.links-list__list
        li.links-list__item.links-list__item--download
          a href="#"
            | Аккумулирующие ёмкости
            span.links-list__annotation 2.3 МБ<span>↓</span>
        li.links-list__item.links-list__item--download
          a href="#"
            | Пескоуловители
            span.links-list__annotation 2 МБ<span>↓</span>
        li.links-list__item.links-list__item--download
          a href="#"
            | Маслобензоотделитель
            span.links-list__annotation 35 МБ<span>↓</span>
        li.links-list__item.links-list__item--download
          a href="#"
            | Аккумулирующие ёмкости
            span.links-list__annotation 2.3 МБ<span>↓</span>
        li.links-list__item.links-list__item--download
          a href="#"
            | Пескоуловители
            span.links-list__annotation 2 МБ<span>↓</span>
        li.links-list__item.links-list__item--download
          a href="#"
            | Маслобензоотделитель
            span.links-list__annotation 35 МБ<span>↓</span>
  .shadow
    span.shadow__top
    .links-list__item
      a.shadow__text href="#"
        span Показать все документы