
.main-gallery
  .main-gallery__inner
    h2.main-gallery__title
      a.black href="/gallery" Фотографии продуктов, производства и установки

    .main-gallery__list
        - Image.shared.each_with_index do |m, i|
            a.main-gallery__item class="main-gallery__item--#{i % 4 == 0 ? 'wide' : 'narrow'}" href="/images/#image-#{m.id}" style="background-image: url(#{m.file.product.url})"
