
.projects-inline
  .projects-inline__inner.u-bg-blue
    h2.projects-inline__title Проекты
    .projects-inline__list
      .projects-inline__item
        .projects-inline__logo
          img src="/img/about/projects/shell.png" width="66" height="61"
        h3.projects-inline__name Сеть автозаправок «Шелл»
        p.projects-inline__description
          | Ливневые очистные сооружения и&nbsp;топливные емкости для&nbsp;сети автозаправок «Шелл», г.&nbsp;<span class="u-nobr">Санкт-Петербург</span>

      .projects-inline__item
        .projects-inline__logo
          img src="/img/about/projects/iz.png" width="61" height="60"
        h3.projects-inline__name Ижорский завод
        p.projects-inline__description Ливневые очистные сооружения для&nbsp;Ижорского завода, г.&nbsp;Колпино

      .projects-inline__item
        .projects-inline__logo
          img src="/img/about/projects/gazprom.png" width="130" height="62"
        h3.projects-inline__name ОАО «Газпром»
        p.projects-inline__description Ливневые очистные сооружения для&nbsp;горно-туристического центра ОАО «Газпром», г.&nbsp;Сочи
          
      .projects-inline__item
        .projects-inline__logo
          img src="/img/about/projects/gazprom.png" width="130" height="62"
        h3.projects-inline__name К-раута, Лента, Карусель
        p.projects-inline__description
          | Ливневые очистные сооружения и&nbsp;насосные станции для&nbsp;гипермаркетов «К-Раута», «Лента», «Карусель», гг. <span class="u-nobr">Санкт-Петербург</span>, Москва и&nbsp;Ярославль
      
      .projects-inline__item
        .projects-inline__logo
          img src="/img/about/projects/gazprom.png" width="130" height="62"
        h3.projects-inline__name Северо-Кавказская железная дорога
        p.projects-inline__description
          | Ливневые насосные станции для&nbsp;депо <span class="u-nobr">Северо-Кавказской</span> железной дороги, г.&nbsp;Адлер
      
      .projects-inline__item
        .projects-inline__logo
          img src="/img/about/projects/gazprom.png" width="130" height="62"
        h3.projects-inline__name Аэропорт «Шереметьево»
        p.projects-inline__description Жироуловители для&nbsp;аэропорта «Шереметьево», г.&nbsp;Москва
      
      .projects-inline__item
        .projects-inline__logo
          img src="/img/about/projects/gazprom.png" width="130" height="62"
        h3.projects-inline__name ОАО «РЖД»
        p.projects-inline__description Канализационные насосные станции для&nbsp;филиала ОАО «РЖД», г.&nbsp;Москва
      
      .projects-inline__item
        .projects-inline__logo
          img src="/img/about/projects/gazprom.png" width="130" height="62"
        h3.projects-inline__name Депо электропоездов «Дезиро»
        p.projects-inline__description Канализационные насосные станции для&nbsp;депо электропоездов «Дезиро», г.&nbsp;Москва
      
      .projects-inline__item
        .projects-inline__logo
          img src="/img/about/projects/gazprom.png" width="130" height="62"
        h3.projects-inline__name «Рэдиссон Блу Резорт»
        p.projects-inline__description
          | Насосные станции для&nbsp;гостиницы «Рэдиссон Блу Резорт и&nbsp;<span class="u-nobr">Конгресс-центр</span>», г.&nbsp;Сочи
      
      .projects-inline__item
        .projects-inline__logo
          img src="/img/about/projects/gazprom.png" width="130" height="62"
        h3.projects-inline__name Биг-Бокс Ручьи и&nbsp;Биг-Бокс Пулково
        p.projects-inline__description
          | Канализационные насосные станции для&nbsp;<span class="u-nobr">Биг-Бокс</span> Ручьи и&nbsp;<span class="u-nobr">Биг-Бокс</span> Пулково, г.&nbsp;<span class="u-nobr">Санкт-Петербург</span>.