.new-popup.subscribe-popup#subscribe-popup
	.new-popup__inner
		form.contacts-form.new-popup__window.subscribe-popup__window action=""
			.new-popup__side.new-popup__side--front
				.new-popup__close ✕
				.contacts-form__feedback
					h2.subscribe-popup__title Подписка на&nbsp;новости
					p Горячие предложения, новые продукты и&nbsp;информация о&nbsp;мероприятиях

				.contacts-form__inputs
					textarea.contacts-form__input.stretchy type="text" placeholder="Ваше имя"
					input.contacts-form__input#subscribeemail type="text" placeholder="Эл. почта"

				input.contacts-form__btn type="submit" data-disabled="true" value="Подписаться"
				.subscribe-popup__annotation Без спама
			.new-popup__side.new-popup__side--back
				.new-popup__close ✕
				.new-popup__check.subscribe-popup__check
				h2.subscribe-popup__title Готово!
				p Мы напишем, когда появится <span class="u-nobr">что-нибудь</span> новое