
table.technology-methods width="100%"
  thead
    tr
      th
      th Для чего
      th Метод
  tfoot
  tbody
    tr
      td
        i.technology-methods__icon.technology-methods__icon--namotka
        | Автоматизированная машинная намотка
      td Производство трубных заготовок — основы для большинства изделий
      td Стеклонить, вымоченная в смоле, наматывается на трубную заготовку и армируется стекловолокном в соответствии с выбранной программой.
    tr
      td
        i.technology-methods__icon.technology-methods__icon--napil
        | Напыление
      td Производство больших изделий сложной формы&nbsp;&mdash; закруглённые торцевые части ёмкостей, нестандартные горловины, конусы и&nbsp;пр.
      td Оператор напыляет на&nbsp;форму смесь из&nbsp;рубленного стекловолокна и&nbsp;смолы, после чего прокатывает её валиком для выравнивания поверхности и&nbsp;удаления воздуха.
    tr
      td
        i.technology-methods__icon.technology-methods__icon--propitka
        | Пропитка под&nbsp;давлением
      td Производство аккуратных и&nbsp;гладких крышек для нашей продукции.
      td В&nbsp;процессе производства смола впрыскивается в&nbsp;форму с&nbsp;выложенным стекловолокном где застывает.
    tr
      td
        i.technology-methods__icon.technology-methods__icon--ruchnoe
        | Метод ручного формования
      td Сборка всех основных элементов в&nbsp;изделие, производства разнообразных частей изделий (перегородки, временные транспортные опоры), штучных и&nbsp;мелкосерийных изделий.
      td Работник последовательно выкладывает стекловолокно и&nbsp;формует каждый отдельный слой смолой.