= content_for :styles
	= stylesheet_link_tag    "/css/product.css", media: "all"

section.title
	.inside
	    h1 = @product.name
	    p = @product.slogan
section.mainInfo
	.inside
		.mainInfo-wrap
			.mainInfo-nav
				.mainInfo-item
					a.mainInfo-link href="#scheme"  О продукте
				.mainInfo-item
					a.mainInfo-link href="#sizes"  Характеристики
				.mainInfo-item
					a.mainInfo-link href="#guarantee"  Гарантии
				.mainInfo-item
					a.mainInfo-link href="#standard"  Стандарты и сертификаты
				.mainInfo-item
					a.mainInfo-link href="#complex"  Комплектация
				a.mainInfo-button href="#offer"  Узнать сроки и стоимость

			- if @product.images.any?

				.mainInfo-picture
					= image_tag @product.images.first.file.product, { :alt => "main",
						:data => { :"gallery-group" => 1,
							:"gallery-group-name" => "продуктов",
							:"gallery-caption" => "Описание фотографии",
							:"gallery-popup" => "yes" },
						:height => 600,
						:width => 919 }

			.mainInfo-content
				.cols
					- @product.factoids.each do |f|
						- case f.type
						- when "ГОСТ"

							.gostcol
								a href="#"
								  b
									span.smallcaps ГОСТ
									= f.title
								  img alt="gost" src="/img/gost-2.png" /

						- when "Обычный"

							.col.col--3
							    strong = f.title
							    == f.description

						- when "Параметры"

							.col.col--1
							    p = f.title
							    span.big == f.description
							    a.js-nav href="#sizes"  Схемы и характеристики

section.section.content
	.content-bottom
	.inside
		.cols
			.col.col--2.sticky
			    .aside
					#title2 Комплектация
					ul.modules
						- @product.complects.group_by(&:type).each_with_index do |g, i|
							li
								.module-group class="#{'first' if i == 0}"
									.hdr = g.first
									- g.second.each do |c|
										.module
											a.module-link href="#part1"
												span = c.title
											== c.description
											small = c.feature

			.col.col--1
		        .nav-anchor data-delta="25" name="scheme"
		        .content-info
			        h2 = @product.subtitle
					== @product.description

			        .nav-anchor data-delta="25" name="sizes"
			        .characters
			            h2 Характеристики
			        .compare
			            .compare-header
			            	.compare-left.auto = @product.properties_unit
			            	.compare-right
				                .compare-toggle
									- @product.properties.map(&:subtitle).uniq.each_with_index do |p, i|
										a.toggle-link class="#{'active' if i == 0}" href="#"
											span = p

								.compare-additionals

									- @product.properties_options.each_with_index do |po, i|
										- if po["basic"] != "true"

											label.compare-catch
												input#catch type="checkbox" value=i name="catch" data-name="catch" /
												= po['name']


						.compare-picture.cp-1

							- counter = 0
							- @product.properties.group_by(&:option).each do |name, group|
								- counter += 1
								.cp-row data-index="counter" style=("display: block;")

									.cl
										- opts = @product.properties_options[counter - 1]
										- if opts.presence
											- opts['fields'].each do |f|
												.cl1 = f
										    	.js-to

								    .info class="info--#{counter}"
										- group.each do |prop|

									        span.compare-imgContainer data-index="#{counter - 1}" style=("display: block;")

										        .js-info data-index="0" style="display:none" = prop.values.compact.reject(&:blank?).join(";")
										        .compare-placeholder
										          .placeholder-center
												  	big = prop.title[/^[A-Za-zА-Я\W]+/]
										            small = prop.title[/(?![A-Za-zА-Я\W]+).*$/]
												- if prop.image.presence
											        .isize-wrap.photo-gallery.photo-gallery-trigger style=("position: relative; min-height: 100%; width: 100%; opacity: 0; background: url(#{prop.image.url}) 50% 50% / contain no-repeat;")
														= image_tag prop.image, { :alt => "complect-picture", :width => 603, :data => {:"gallery-caption" => prop.title, :"gallery-popup" => "yes", :"gallery-group" => "2", :"gallery-group-name" => "схем"}}

										        .compare-exampleTitle = prop.title

											    .files
													- if prop.dwg.presence || prop.pdf.presence
												        span.label Скачать схему в

														- if prop.dwg.presence
															= link_to prop.dwg.url, :class => "dwg"

													        	span.smallcaps DWG


														- if prop.pdf.presence
															= link_to prop.pdf.url, :class => "dwg"

													        	span.smallcaps PDF


		            .nav-anchor data-delta="25" name="guarantee"
			        h2 Гарантии
					- if @product.guarantee
						= @product.guarantee
					- else

				        p Стандартная гарантия на корпус и комплектующие — до двух лет.
				        p Предлагаем расширенную гарантию при нашем шеф-монтаже и пуско-наладке. На корпус — до 20 лет, на комплектующие — до 5 лет.

					.nav-anchor data-delta="60" name="standard"
					- @product.attachments.group_by(&:group).each do |g|

				        p
				            strong = g.first
			        	ul
							- g.second.each do |f|
					            li
									- case f.type
										- when "popup"
											= link_to f.name, "#", {:class => "popup-attachment", :data => {:image => f.file.url}}
										- when "blank"
											= link_to download_path(f), {:target => "_blank"} do ||
												= f.name
										- else
											= link_to download_path(f) do ||
												= f.name

			        .nav-anchor data-delta="0" name="complex"
			        #title
			        .complex-anchors
			        .complex.sticky
			            .complex-container

							= image_tag @product.complect_image, { :width => 603}
							- @product.complects.each do |c|
								- if c.coords.presence
									- coords = JSON.parse c.coords
									.complex-dot style="left:#{coords['x']}%;top:#{coords['y']}%"
							.clear

			.clear

.clear
= render partial: "g_benefits"

= render partial: "application_form"

= render partial: "gallery_overlay"

= content_for :scripts
    script src="/js/product.js"
