.form-group
    = label_tag "Заголовок"
    = f.text_field :title, :class => "form-control"

    span.help-block используйте символ &laquo;·&raquo;

.form-group
    = label_tag "Подзаголовок"

    i.fa.fa-info-circle.tooltip-info.tooltips title="Подзаголовки отображаются в шапке блока в виде списка и являются переключателями для отображения соответствующих данных"

    = f.text_field :subtitle, :class => "form-control"

.form-group
	= label_tag "Опция"

	= f.select :option, options_for_select(f.object.product.properties_options.map {|o| o["name"] }, f.object.option), {}, :class => "form-control"

.form-group
    = label_tag "Параметры"

    div.help-block
        span.help-block значения следующих атрибутов в соответствующем порядке:
        - f.object.product.properties_options.each do |opt|
            ul.params-list data-option=opt["name"] style="display:#{opt["name"] == f.object.option ? "inline-block" : "none"}"
                - opt["fields"].each do |f|
                    li = f

    coffee:
        $("body").on "change", "#property_option", (e) ->
            $el = $ e.currentTarget
            $(".params-list").hide()
            $(".params-list[data-option='#{$el.val()}']").show()



    = f.select :values, options_for_select(f.object.values, f.object.values), {}, {:multiple => true, :class => "form-control"}

.form-group
    = label_tag "Изображение"

    - if f.object.image
        .pull-right
            = image_tag f.object.image.thumb

    = f.file_field :image

    span.help-block Рекомендуемая ширина изображения - 800px

.form-group
    = label_tag "Схема DWG"

    - if f.object.dwg.presence
        .form-group
            = link_to "Открыть файл", f.object.dwg.url, :target => "_blank"

    = f.file_field :dwg

	span.help-block Объем файла не должен превышать 10 мегабайт

.form-group
    = label_tag "Схема PDF"

    - if f.object.pdf.presence
        .form-group
            = link_to "Открыть файл", f.object.pdf.url, :target => "_blank"


    = f.file_field :dwg

	span.help-block Объем файла не должен превышать 10 мегабайт


coffee:

	$("#property_values").selectize
		delimiter: ',',
		persist: false,
		create: (input) ->
			{
				value: input,
				text: input
			}
