h1 Редактировать параметр

= form_for @property, url: admin_product_property_path(@property.product, @property) do |f|

	= render partial: "form", locals: {f: f}

	= f.submit "Сохранить", :class => "btn btn-primary"
