html, body
  height 100%
  font-size 17px
  line-height 1.4 
  font-family 'Circe', sans-serif
  
  -webkit-font-smoothing antialiased
  -webkit-text-size-adjust none


img
  display block
  max-width 100%

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote
  margin 0
  padding 0

// Заголовки
h1, h2, h3, h4, h5, h6
  font-family 'Circe', sans-serif

h1
  font-size 56px
  line-height .75

h2
  font-size 30px
  line-height 1
  font-weight normal

h3
  font-size 24px
  line-height 1
  font-weight bold

h4
  font-size 17px
  line-height 1.6
  
// ссылки
a
  transition color 0.2s, border-color 0.2s, background 0.2s, box-shadow 0.2s
  color #03b16e
  border-bottom 1px solid rgba(5, 175, 110, 0.2)
  text-decoration none
  
  &.dashed
    border-style dashed
  
  &.bordered
    border 0
    background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQI12NgXZ9nDAADNQFWz2lKxAAAAABJRU5ErkJggg==')
    background-size 1px 1px
    background-repeat repeat-x
    background-position 0% 90%
  
    &:hover
      background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQI12PYzcBgDAADJADvZz7v/QAAAABJRU5ErkJggg==');
  
  &:hover
    transition none
    color #bb0000
    border-bottom-color rgba(187, 0, 0, 0.2)
  
  &.black
    color #000000
    border-color rgba(0, 0, 0, 0.1)
    
    &:hover
      color #bb0000
      border-bottom-color rgba(187, 0, 0, 0.2)




// контейнер
.container
  position relative
  
  min-width 1000px
  
  // min-height 100%
  height auto
  
  margin auto
  padding-bottom 95px
  
  &--blue
    background $pale-blue
  
  &--category
    padding-bottom 1px
  
  &--no-pt
    padding-top 0
  
  &--main
    min-height 0


.section
  margin-top 50px
  margin-bottom 50px


// кнопка
.btn
  display inline-block
  padding 2px 11px 0
  
  line-height 22px
  
  border-radius 4px
  border 1px solid rgba($green, 50%)
  
  &:hover
    color #b00
    border-color rgba(#b00, 50%)


// тег
.tag
  display inline-block
  margin-left 6px
  padding 2px 11.5px 0
  
  font-size 13px
  line-height 18px
  
  border-radius 10px
  border 1px solid rgba($green, 30%)
  
  &:hover
    color #b00
    border-color rgba(#b00, 30%)


// вспомогательные классы
.u-bg-blue
  background $pale-blue

.u-light
  font-weight 300 !important

.u-green
  color $green

.u-dark-green
  color $dark-green

.u-caps
  font-size .875em
  letter-spacing .15em
  margin-right -.15em

.u-medium
  font-size 30px
  line-height 28px
  padding-bottom 4px

.u-empty-field
  padding-right 40px

.u-no-mt
  margin-top 0 !important
  
.u-no-mb
  margin-bottom 0 !important

.u-center
  text-align center

.u-nobr
  white-space nowrap

.u-noscroll
  overflow hidden

.u-rotate-right
  transform rotate(1deg)

.u-rotate-left
  transform rotate(-1deg)


for num in 0 5 10 15 20 25 30 35 40 45 50 55 60
  .u-mb-{num}
    margin-bottom num + 0px !important
  
  .u-mt-{num}
    margin-top num + 0px !important
 
.hanging
  margin-left -.15em


// bookmark
.bookmarks-container
  max-width 150px !important
  background #f8f8f8 !important
  
  .bookmarks-span
    a
      color #03b16e !important
      border-bottom-color rgba(#03b16e, .2) !important