@font-face
  font-family 'Circe'
  src url('../fonts/circe/Circe-Regular_gdi.woff') format('woff')
  font-weight normal
  font-style normal
  font-stretch normal
  unicode-range U+0020-2666

@font-face
  font-family 'Circe'
  src url('../fonts/circe/Circe-Light_gdi.woff') format('woff')
  font-weight 300
  font-style normal
  font-stretch normal
  unicode-range U+0020-2666

@font-face
  font-family 'Circe'
  src url('../fonts/circe/Circe-Bold_gdi.woff') format('woff')
  font-weight bold
  font-style normal
  font-stretch normal
  unicode-range U+0020-2666

@font-face
  font-family 'Circe'
  src url('../fonts/circe/Circe-ExtraLight_gdi.woff') format('woff')
  font-weight 100
  font-style normal
  font-stretch normal
  unicode-range U+0020-2666