.ab_scroller {
  margin-bottom: 90px;
}

.ab_scroller, .ab_scroller * {
  -webkit-transform: translate(0)!important;
  -moz-transform: translate(0)!important;
  -ms-transform: translate(0)!important;
  -o-transform: translate(0)!important;
  transform: translate(0)!important;
  -ms-touch-action: none!important;
}

.ab_scroller .ab_scrollerItem {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *zoom: 1;
  *display: inline;
  margin-right: 10px;
  border-collapse: collapse;
}

.ab_scroller .ab_scrollerItem:last-child {
  margin-right: 0;
}

.ab_scroller .ab_wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: auto;
}

.ab_scroller .ab_draggable {
  position: absolute;
  left: 0;
  top: 0;
  user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  z-index: 6;
  -webkit-user-drag: none;
  user-drag: none;
  z-index: 3;
  cursor: move;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
  display: block;
}

.ab_scroller .ab_draggable, .ab_scroller .ab_draggable * {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
  user-drag: none;
}

.ab_scroller.ab_veryWide .ab_draggable, .ab_scroller.ab_veryWide .ab_draggable * {
  cursor: default;
}

.ab_scroller.ab_veryWide .ab_draggable a, .ab_scroller.ab_veryWide .ab_draggable a * {
  cursor: pointer!important;
}

.ab_scroller .ab_draggable.grabbing, .ab_scroller .ab_draggable.grabbing * {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: -o-grabbing;
  cursor: -ms-grabbing;
  cursor: grabbing;
}

.ab_scroller.ab_veryWide .ab_draggable.grabbing, .ab_scroller.ab_veryWide .ab_draggable.grabbing * {
  cursor: default;
}

.ab_scroller.ab_veryWide .ab_draggable.grabbing a, .ab_scroller.ab_veryWide .ab_draggable.grabbing * a {
  cursor: pointer;
}

.ab_scroller .ab_draggable a span, .ab_scroller .ab_draggable a {
  cursor: pointer;
  position: relative;
}

.ab_scroller .ab_draggable img {
  -webkit-user-drag: none;
  user-drag: none;
}

.ab_scroller img {
  margin-right: 0;
}

.ab_scroller .ab_scrollbar {
  width: 500px;
  position: absolute;
  bottom: -50px;
  height: 7px;
  background: none;
  left: 0;
  cursor: move!important;
}

.ab_scroller .ab_scrollSlider {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 5px;
  background: rgba(0,0,0,.6);
  cursor: move!important;
}

.ab_scroller {
  position: relative;
  -webkit-user-drag: none;
  user-drag: none;
  user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-font-smoothing: antialiased;
}

.ab_scroller .ab_anchors {
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
  font-size: 12px;
  height: 20px;
  overflow: hidden;
}

.ab_scroller .ab_anchors a {
  text-decoration: none;
  position: absolute;
  top: 0;
  cursor: pointer;
  overflow: hidden;
  padding-bottom: 4px;
}

.ab_scroller .ab_anchors a span {
  border-bottom: 1px dashed #000;
  color: #000;
  word-wrap: normal;
}

.ab_scroller .ab_anchors a:hover span {
  color: #ff9406;
  border-bottom-color: #ff9406;
}

.ab_scroller.anchs-nohide-words .ab_anchors a {
  text-decoration: none;
  position: absolute;
  top: 0;
  cursor: pointer;
  overflow: hidden;
  padding-bottom: 4px;
}

.ab_scroller.anchs-nohide-words .ab_anchors a span {
  word-wrap: break-word;
}

html.ab_noselect, html.ab_noselect * {
  user-select: none!important;
  -webkit-user-select: none!important;
  -o-user-select: none!important;
  -moz-user-select: none!important;
}

.ab_scroller.ab_scroller-noanchors .ab_scrollbar {
  bottom: -20px;
}

.ab_scroller-root {
  height: 0;
  overflow: hidden;
}

.ab_scroller .ab_barWrap {
  margin: 0;
}

.ab_scroller .ab_scroller-leftLine {
  height: 100%;
  position: absolute;
  top: 0;
  left: -1px;
  width: 1px;
  background: #000;
}

.ab_scroller .ab_scroller-rightLine {
  height: 100%;
  position: absolute;
  top: 0;
  right: -1px;
  width: 1px;
  background: #000;
}