.sod_select, .sod_select * {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  user-select: none;
}

.sod_select {
  position: relative;
  
  display: flex;
  align-items: center;
  
  width: 100%;
  height: 33px;
  padding-left 7px 
  
  line-height: 1;
  text-align: left;
  
  background: #f2f2f2;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  color: #444;
  outline: 0;
  outline-offset: -2px;
  cursor: default;
  
  &.open {
    &:before {
      transform: scaleY(-1);
      top: 40%;
    }
  }
}

.sod_select:before {
  content: "";
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  
  display: block;
  size(15px, 9px)
  
  background-image: url('../img/select.svg');
  background-size: cover;
}

.sod_select.open {
  color: #919191;
}

.sod_select.disabled {
  border-color: #828282;
  color: #b2b2b2;
  cursor: not-allowed;
}

.sod_select .sod_label {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 15px;
  
  font-size 17px
  
  color #000
}

.sod_select .sod_list_wrapper {
  position: absolute;
  top 100%
  top calc(100% + 4px)
  left: 0;
  right: 0;
  display: none;
  height: auto;
  color: #444;
  font-weight: 300;
  z-index: 1;
  
  background #fff
  border 1px solid #dfdfdf
  border-radius 3px
}

.sod_select.open .sod_list_wrapper {
  display: block;
}

.sod_select.disabled.open .sod_list_wrapper {
  display: none;
}

.sod_select.above .sod_list_wrapper {
  top: auto;
  bottom: 100%;
  bottom: calc(100% + 4px);
}

.sod_select .sod_list {
  display: block;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  
  padding 4px 0 20px
}

.sod_select .sod_option {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
  padding: 9px 15px;
  list-style-type: none;
  

  font-weight normal
  color #000
  
  cursor pointer
  
  &.disabled {
    display none
  }
}

.sod_select .sod_option.optgroup, .sod_select .sod_option.optgroup.disabled {
  background: inherit;
  color: #939393;
  font-size: 10px;
  font-style: italic;
}

.sod_select .sod_option.groupchild {
  padding-left: 20px;
}

.sod_select .sod_option.is-placeholder {
  display: none;
}

.sod_select .sod_option.disabled {
  background: inherit;
  color: #ccc;
}

.sod_select .sod_option.active {
  background: #f5f9f8;
}

.sod_select .sod_option.selected {
  padding-right: 25px;
}



.sod_select.no_highlight .sod_option.selected {
  font-weight: 300;
}

.sod_select.no_highlight .sod_option.selected:before {
  display: none;
}

.sod_select select {
  display: none!important;
}

.sod_select.touch select {
  -webkit-appearance: menulist-button;
  position: absolute;
  top: 0;
  left: 0;
  display: block!important;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 1;
}