
.page
    h1.page__title Галерея


    .gallery.section
        .gallery__inner
            - images = @images.to_a
            - images.uniq!

            - images.sort_by! { |i| i.text_preview ? 0 : 1}

            - rows_len = 2

            - for i in 0..rows_len
                - if images.any?
                    .gallery__row
                        - if images.first.text_preview && first = images.shift
                            - if i % 2 == 0

                                .gallery__item.gallery__item--narrow
                                    p.gallery__text = first.text
                                a.gallery__item.gallery__item--wide href="#"
                                    .gallery__image style="background-image: url(#{first.file})"

                            - else

                                a.gallery__item.gallery__item--wide href="#"
                                    .gallery__image style="background-image: url(#{first.file})"
                                .gallery__item.gallery__item--narrow
                                    p.gallery__text = first.text
                        - else

                            - if i == rows_len
                                - for e in 0..2
                                    - if image = images.shift
                                        a.gallery__item.gallery__item--narrow href="#"
                                            .gallery__image style="background-image: url(#{image.file})"


                            - else
                                - for e in 0..1
                                    - if image = images.shift
                                        a.gallery__item class="gallery__item--#{e == i ? 'wide' : 'narrow'}" href="#" data-gallery-popup="" data-gallery-caption=image.text data-gallery-group="1" data-gallery-group-name="продуктов"
                                            .gallery__image style="background-image: url(#{image.file})"
