doctype html
html
  head
    title Plastgrup admin panel
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    = stylesheet_link_tag    "admin/products", media: "all", "data-turbolinks-track"  => true
    = yield :style

    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"

    = javascript_include_tag "/plugins/ckeditor/ckeditor"
    = javascript_include_tag "application"
    = csrf_meta_tags

  body class="#{controller_name} #{controller_name}-#{action_name}"

/! container section start
section#container
  header.header.dark-bg
    .toggle-nav
      .icon-reorder.tooltips data-original-title=("Toggle Navigation") data-placement="bottom"
        i.fa.fa-bars
    /! logo start
    a.logo href="#"
      span.lite Admin
      | panel
    /! logo end

    .top-nav
      ul.nav.pull-right.top-menu
        - if @current_user
          li
            = link_to "Log out", logout_path
    /! user login dropdown end
    /! notificatoin dropdown end
  /! header end
  /! sidebar start
  - if @current_user
    aside
      #sidebar.nav-collapse
        /! sidebar menu start
        ul.sidebar-menu
            li
                = link_to admin_root_path do
                    i.fa.fa-home
                    span Dashboard
            li.sub-menu
                = link_to "#" do
                  i.fa.fa-list
                  span Категории
                  i.menu-arrow.fa.fa-angle-right.fa-lg
                ul.sub
                  li
                    = link_to "Список", admin_categories_path
                  li
                    = link_to "Создать", new_admin_category_path
            li.sub-menu
                = link_to "#" do
                  i.fa.fa-list
                  span
                    | Рекламные
                    br
                    | категории
                  i.menu-arrow.fa.fa-angle-right.fa-lg
                ul.sub
                  li
                    = link_to "Список", admin_adcats_path
                  li
                    = link_to "Создать", new_admin_adcat_path
            li.sub-menu
                = link_to "#" do
                  i.fa.fa-shopping-cart
                  span Продукты
                  i.menu-arrow.fa.fa-angle-right.fa-lg
                ul.sub
                  li
                    = link_to "Список", admin_products_path
                  li
                    = link_to "Создать", new_admin_product_path

            li
                = link_to admin_dealers_path do
                    i.fa.fa-money
                    | Дилеры


            li
                = link_to admin_recommendations_path do
                    i.fa.fa-file-text
                    | Рекоммендации

            li
                = link_to admin_projects_path do
                    i.fa.fa-cubes
                    | Проекты
            li
                = link_to admin_images_path do
                    i.fa.fa-file-image-o
                    | Галерея
      /! sidebar menu end
  /! sidebar end
  /! main content start
  section#main-content
    section.wrapper
      .row
        .col-lg-12
          = yield



  = yield :script
