doctype html
html
  head
    = display_meta_tags
    meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimal-ui"
    = stylesheet_link_tag    "/css/core.css", media: "all", "data-turbolinks-track"  => true
    = stylesheet_link_tag    "/css/main.css", media: "all", "data-turbolinks-track"  => true

    = yield :styles

    = csrf_meta_tags
  body class=yield(:body_class)

    = yield :custom_layers
    = yield :disclaimer

    #all.container class=yield(:container_class)

        = yield :notification


        // header
        header.header
            .header__inside
                .header__logo
                    a href="/"
                        img alt="logo" width="118" height="55" src="/img/logo.png" /

                - unless action_name == 'main' || action_name == 'alternate'

                    .mainmenu
                        - id_indices = Hash[Setng::get("top_menu").map.with_index { |id,idx| [id,idx] }]
                        - Product.where(id: Setng::get("top_menu")).sort_by{|p| id_indices[p.id.to_s]}.each do |p|
                            .mainmenu__item
                                = link_to p, :class => "mainmenu__link" do
                                    span = p.name

                        .mainmenu__item
                            = link_to search_path, :class => "mainmenu__link" do
                                span Все продукты

                .header__contacts
                    .contacts-menu
                        - Setng::get('main_menu').each do |item|
                            - if !!item['enabled']
                                = link_to item['text'], item["name"], {:class => "hc-link"}

                    a.contacts-tel data-popup='contact' href="#" 8 800 200-06-00

        = yield

    footer.footer class=yield(:footer_class) style="z-index:6"
        = render partial: "footer"
    
    = render partial: "contactPopup"
    = render partial: "subscribePopup"

    script src="/js/vendor/jquery-2.1.4.min.js"
    script src="/js/vendor/scroller.min.js"
    script src="/js/vendor/bookmark.min.js"
    script src="/js/vendor/owl.carousel.min.js"
    script src="/js/vendor/raphael.min.js"
    script src="/js/vendor/stretchy.min.js" data-stretchy-filter=".stretchy" async="true"
    script src="/js/build.js"
    = yield :scripts
